{% extends "admin/base_site.html" %}
{% load i18n adminmedia admin_modify config_tags %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css" />
<style type="text/css">
ul.fieldref { margin: 0; padding: 0; font-size: 9px; }
ul.fieldref li { float: left; margin: 0 10px 0 0; list-style: none; }
fieldset.collapsed h2 { display: block !important; }
fieldset.collapsed h2 a { display: inline !important; }
div.fieldcontainer { float: left; margin-right: 0; }
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
	<a href="/admin/">{% trans "Home" %}</a> &rsaquo;
	{% trans "Edit Site Settings" %}
</div>
{% endif %}
{% endblock %}

{% block content %}
<span style="clear: both;"></span>
<div id="content-main">
    {% block object-tools %}
    <ul class="object-tools">
        <li><a href="{% url settings_export %}">{% trans "Export Settings" %}</a></li>
    </ul>
    {% endblock %}    

{% if not use_db %}
        <p>{% trans "Settings have been disabled for this site." %}</p>
        <p>{% trans "All configuration options must be done by a developer." %}</p>
    </div>
    {% admin_site_views 'site_settings' %}
{% else %}

	{% if form.errors %}
		<p class="errornote">
		{% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
		</p>
    {% endif %}

	{% if form.fields %}
	<form method="post" id="settingsform">{% csrf_token %}
          {% for field in form %}
            {% if field.is_hidden %}
              <tr style="display: none;"><td>{{ field }}</td></tr>
            {% else %}
            {% ifchanged field.field.group %}{% with field.field.group as group %}
              {% if not forloop.first %}
                  </table>
                </fieldset>
              {% endif %}
              <fieldset class="module collapse">
                <h2 id="{{ group.key }}">{{ group.name }}</h2>
                <table summary="{% blocktrans with group.name as name %}Group settings: {{ name }}{% endblocktrans %}" style="width: 100%">
                  {% endwith %}{% endifchanged %}
                  {% if field.errors %}
                    <tr class="error">
                      <td colspan="2">{{ field.errors }}</td>
                    </tr>
                  {% endif %}
                  <tr{% if field.errors %} class="error"{% endif %}>
                    <td style="width: 50%;">
                      {{ field.label_tag }}
                      {% if field.help_text %}
                      <p class="help">{{ field.help_text|break_at:40|safe }}</p>
                      {% endif %}
                      {% if field.field.default_text %}
                      <p class="help">{{ field.field.default_text|break_at:40}}</p>
                      {% endif %}
                    </td>
                    <td>{{ field }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          </fieldset>
        </div>
        {% admin_site_views 'site_settings' %}

        <div class="submit-row">
            <input type="submit" value="{% trans 'Update Settings' %}" class="default" name="_save" {{ onclick_attrib }}/>
        </div>        
	</form>
	{% else %}
		<p>{% trans "You don't have permission to edit values." %}</p>
	{% endif %}
{% endif %}
</div>
{% endblock %}
