{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Document</title>
	<link href="{{ MEDIA_URL }}css/splash.css" rel="stylesheet" type="text/css" media="screen">
	{% if editable %}{% include "public/cms.html" %}{% endif %}
	<style type="text/css">
html, body { width: 100%; height: 100%; margin: 0; }
#main {
	margin: 10px auto;
	width: 900px;
}

#aboutme {
	min-height: 250px;
	width: 100%;
}

#photo {
	/*background-color: #C6F;*/
	height: 200px;
	width: 250px;
	float: right;
	margin: 10px;
	text-align: center;
}

#photo img {
	max-height: 200px;
	max-width: 250px;
	margin: 0 auto;
}

#social_icons {
	float: right;
	width: 250px;
	margin: 10px;
	text-align: center;
}

#aboutmetext {
	min-height: 250px;
	max-width: 65%;
	float: left;
	padding: 10px;
	text-align: justify;
}
</style>
</head>

<body>

<div class="wrapper">
	<div class="header">
		<h1>{{ sponsor.get_full_name }}</h1>
		{% autoescape off %}{{ tag_line.render }}{% endautoescape %}
	</div>

	<div class="left">
		<div class="grey">
			{% autoescape off %}{{ about_me.render }}{% endautoescape %}
		</div>
	</div>

	<div class="right">
		<div><img class="profile_image" src="{% if sponsor_profile.personal_photo %}{{ sponsor_profile.personal_photo.url }}{% else %}{{ MEDIA_URL }}images/default_profile_photo.jpg{% endif %}" alt="" /></div>
		{% if editable %}
		<a href="{% url profile %}" target="_parent">{% trans "Change picture" %}</a>
		{% endif %}
	</div>
</div>

</div>
</body>
</html>
