{% load i18n contacts %}
{% load webdesign %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/jwplayer/jwplayer.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css">

<link href="{{ MEDIA_URL }}css/promo/style.css" type="text/css" rel="stylesheet" />
<!--[if IE]>
<link href="{{ MEDIA_URL }}css/promo/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="{{ MEDIA_URL }}css/promo/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<style type="text/css">
	.color-mark
	{
		font-family: 'Francois One', arial, serif !important;
		font-size: 26px !important;
	}

	ul {
		list-style-type: none !important;
	}

    </style>
    <script type="text/javascript">

        $(document).ready(function() {
            $('.opener').click(function() {
                url = $(this).attr('name');

                var $dialog = $('<div id="' + url + '123"></div>')
                .html('')
                .dialog({
                        autoOpen: false,
                        title: 'Promotional Video',
                        height: 270,
                        width: 480,
                        modal: true,
                });
                
                var flashvars = {
                        'file':   url,
                };
    
                var params = {
                'allowfullscreen':        'true',
                'allowscriptaccess':      'always'
                };

                var attributes = {
                'id':                     'playerID',
                'name':                   'playerID'
                };

                swfobject.embedSWF('{{ STATIC_URL }}vendor/jwplayer/player.swf', url + '123', '480', '270', '9', 'false', flashvars, params, attributes);

                $dialog.dialog('open');
                return false;
	    });	
	});
    </script>
<title>eFinity Promo Page</title>
	{% if editable %}{% include "public/cms.html" %}{% endif %}
</head>
<body>
	<div class="top-wrapper" id="backtop">
		<div id="top-header">
			<div id="logo"><span></span></div>
            <div id="top-contact">
                {% if user_data.primary_phone %}
                <div class="tc-block">
					<img src="{{ MEDIA_URL }}css/promo/images/phone_icon.png" alt="" />
					<p>Contact Me</p>
					<span class="tc-info">{{ user_data.primary_phone }}</span>
                </div>
                {% endif %}
				<div class="tc-block">
                    <img src="{{ MEDIA_URL }}css/promo/images/contact_icon.png" alt="" />
					<p>Email Me</p>
					<span class="tc-info"><a href="mailto:{{ sponsor.email }}">{{ sponsor.email }}</a></span>
				</div>            
			</div>
		</div>
	</div>
	<div id="header">
		<div id="header-wrapper">
			<div class="lslider-txt">
				<span class="color-mark">Hi, my name is {{ sponsor.get_full_name }}. Welcome to my page.</span>
				<div class="clear"></div>
				<div class="wfix-1">
					<div class="intro">
						<p>{% autoescape off %}{{ tag_line.render }}{% endautoescape %}</p>
					</div>
					<div class="line"></div>
                    <p>{% autoescape off %}{{ about_me.render }}{% endautoescape %}
                        {% comment %}{% lorem 180 w %}{% endcomment %}
                    </p>
				</div>
				<div class="himg-wrapper">
					{% if sponsor.profile.personal_photo %}
						<img src="{{ sponsor.profile.personal_photo.url }}" alt="" class="himg" width="200px" />
					{% endif %}
					{% if editable %}
                    <br/><a href="{% url profile_update %}" target="_parent">
                        {% trans "Change picture" %}
                    </a>
					{% endif %}
				</div>               
			</div>
		</div>
	</div>
	<!-- start features area -->                
	<div class="features-title">
		<div class="ftitle-wrapper">&nbsp;</div>
	</div>
	<div class="features-body">
		<div class="fbody-wrapper">
                    <ul class="feat-list">
                        {% if user_medias %}
                        {% for um in user_medias %}
                        <li>
                        <img src="{{ um.promo.thumbnail.url }}" alt="">
                        <h3>{{ um.media.name }}</h3>
                        <p>{{ um.media.description }}</p>
                        </li>
                        {% endfor %}
                        {% else %}
                        {% for m in medias %}
			<li>
                        <div style="position: relative; float: left;"><img class="opener thumb_overlay" name="{{ m.file_upload_temp.url }}" src="{{ STATIC_URL }}images/thumboverlay.png"><img src="{{ m.thumbnail.url }}" alt=""></div>
                        <h3>{{ m.name }}</h3>
                        <p>{{ m.description }}</p>
			</li>
                        {% endfor %}
                        {% endif %}                              
		    </ul>
		</div>
	</div>
	<!-- end features area -->    
	<div id="inferior">
		<div id="inferior-wrapper">
 		<!-- footer area with 4 widgets -->
		<div id="footer">
			<div class="fbox">
				<h4>Get in touch</h4>
                <!--<img src="{{ MEDIA_URL }}css/promo/images/fmap.png" alt="" class="fmap" />-->
				<address>
					<span class="address-wrapper">
						<strong>My Address</strong><br />
                        {% if member.shipping_address %}
                        {% addressblock member.shipping_address %} <br />{% endif %}
                        {% if member.phone %}{{ member.phone }}{% endif %}<br />
                        <strong><a href="mailto:{{ sponsor.email }}">{{ sponsor.email }}</a></strong>
					</span>
				</address>
			</div>
			<div class="fbox">
				<h4>Contact me!</h4>
				<div class="fconnect">
					<p>Don't hesitate to connect with me on your favorite social networks:</p>
					<ul>
						{% if sponsor.twitter %}<li class="flist-twitter"><a href="{{ sponsor.twitter.url }}">Twitter</a></li>{% endif %}
						{% if sponsor.facebook %}<li class="flist-facebook"><a href="{{ sponsor.facebook.url }}">Facebook</a></li>{% endif %}
						{% if sponsor.linkedin %}<li class="flist-linkedin"><a href="{{ sponsor.linkedin.url }}">Linkedin</a></li>{% endif %}
						
					</ul>
				</div>
			</div>
         

			<div class="fbox">
				<p><img src="{{MEDIA_URL}}/images/logopromo.png" alt="" /><br>
				<p><img src="{{MEDIA_URL}}/images/amwaylogo.png" alt="" /></p>
				
			</div>                                    
		</div>

	</div>
</div> 

<div id="bottom">
	<div id="bottom-wrapper">
		<p class="copyright"Copyright >&copy; 2011 eFinity, all rights reserved. Powered by <a href="http://www.almondev.com">Almond Development</a>.</p>

		<p class="backtop"><a href="#backtop">back to top</a></p>
	</div>
</div>
</body>
</html>
