<!doctype html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    
{% load adminmedia %}
{% load i18n %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% trans "Cross Market" %} &middot; {% block title %}{{ title }}{% endblock %}</title>
    <script type="text/javascript">
    var cm = {
        url: {
            static_url: '{{ STATIC_URL }}'
            {% comment %}
            habari: '',
            ajaxDashboard: '{% url admin_ajax dashbaoard %}',
			ajaxUpdatePosts: '',
			ajaxLogDelete: '',
			ajaxUpdateUsers: '',
			ajaxUpdateGroups: '',
			ajaxUpdateComment: '',
			ajaxAddBlock: '',
			ajaxDeleteBlock: '',
            ajaxSaveAreas: ''
            {% endcomment %}
		}
	}; habari=cm;
    </script>

    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>

    <script src="{{ STATIC_URL }}vendor/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery.hotkeys.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/admin.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery.color.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery.ui.nestedSortable.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/media.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/vendor/humanmsg/humanmsg.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/vendor/crc32.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css" media="screen">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/cm/css/admin.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/cm/css/jqueryui.css" media="screen">

    {% block extra-css %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}/images/cmfavicon.png" />
	<!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/ie.css" media="screen">
	<![endif]-->
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% if not is_popup %}
    {% block menu %}
        {% include "admin/includes/menu.html" %}
    {% endblock %}

    <div id="spinner"></div>
{% endif %}

<div id="page">
{% block page %}

    <div class="wrapper">
        {% block breadcrumbs %}{% endblock %}
    </div>

    {% block search %}{% endblock %}

    {% if not is_popup %}
        {% block header %}
        <!-- Header -->
        <div id="header">
            <div class="wrapper">
            {% block nav-global %}{% endblock %}
            </div>
        </div>
        <!-- END Header -->
        {% endblock %}

        <!--<div class="wrapper">-->
            <div id="subheader" class="clearfix">
            </div>
    {% endif %}{# end popup if statement #}
 
    {% block content-container %}
    <!-- Content -->
    <div class="container">
        <div class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h2>{{ title }}</h2><br/>{% endif %}{% endblock %}
            {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
	        <br class="clear" />
        </div>
    </div>
    <!-- END Content -->
    {% endblock %}

    {% if not is_popup %}
        <!--</div> END wrapper -->
    </div><!-- END Container -->
    {% endif %}

{% endblock %}
</div>
<!-- END page -->

{% if not is_popup %}
<div id="footer">
<p>
    <span>Copyright &copy; 2011 <a href="http://www.almondev.com/" title="Go to the Cross Market site">Almond Development, LLC</a></span>
    <span class="middot">&middot;</span>
    <span>Logged in as</span> <a href="#" title="Go to your user page">{{ user.username }}</a>
    <span class="middot">&middot;</span>
    <span><a href="#" onclick="popUp(this.href); return false;" title="Open the manual in a new window">Manual</a></span>
    <span class="middot">&middot;</span>
</p>
</div>
{% endif %}

{% block extra-js %}{% endblock %}

{% if messages %}
<script type="text/javascript">
    {% if messages %}
    jQuery(document).ready(function(){
        {% for message in messages %}
            human_msg .display_msg("{{ message }}");
        {% endfor %}
    });
    {% endif %}
</script>
{% endif %}
</body>
</html>
