{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}page-dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block page %}

<div class="container dashboardinfo transparent">
		<!--[if lte IE 6]>
		<p>Oh, great! You're using IE6! I've finally found someone I 
		can pawn this old betamax player off on!<br />If you're reading 
		this you're surfing using Internet Explorer 6, a browser that is 
		9 years old and cannot cope with the demands of the modern internet.
		<br />Consider switching to 
		<a href="http://mozilla.com">Mozilla Firefox</a>, 
		<a href="http://www.apple.com/safari/download/">Safari</a>, 
		<a href="http://www.google.com/chrome">Google Chrome</a>, 
		or a more recent version of <a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">Internet Explorer</a>.
		</p>
		<![endif]-->

        <img src="{{ MEDIA_URL }}images/cmlogosmall.png" alt="Cross Market" />

        <p>
        {% load auth_utils product_utils %}
		Your installation of Cross Market has been active for 4 months, 3 weeks and 2 days<br>

        {% url admin:index as root_path %}

        The <a href="{{ root_path }}auth/user/">{% user_count %} active users</a> and <a href="{{ root_path }}products/product/">{% product_count %} products</a> within <a href="{{ root_path }}products/category/">{% category_count %} categories</a></p>

        <p>You have <a href="{{ root_path }}compensation/commission/?type=1&amp;status=1&amp;user_id=1">4 pending commission withdrawals</a> and <a href="{{ root_path }}/shop/order/?status=0">48 pending orders</a></p>
</div>

<div class="container dashboard transparent">
    <ul class="modules">
        <li class="module latest-entries-module" id="module:upcoming_events">
            <div class="close">&nbsp;</div> 
		    <div class="modulecore">
                <h2><a href="{{ root_path }}planning/">{% trans "Upcoming Events" %}</a></h2>
                <div class="handle">&nbsp;</div>
                <ul class="items">
                    {% load upcoming_events %}
                    {% get_upcoming_events %}
                    {% for event in upcoming_events_list %}
                    <li class="item clear">
                        <span class="date pct15 minor"><a href="{{ event.admin_url }}" title="{{ event.start }}">{{ event.start|date:'M j' }}</a></span>
                        <span class="title pct85"><a href="{{ event.admin_url }}">{{ event.name }}</a></span>
                    </li>
                    {% endfor %}
                </ul>
    		</div>
        </li>
		<li class="module latest-entries-module" id="module:quick_links">
			<div class="close">&nbsp;</div> 
            <div class="modulecore">
                <h2>Even Quicker Links</h2>
                <div class="handle">&nbsp;</div>
                <ul class="items icons homeIcons">
                    {% block homeIcons %}
                    <li><a href="{{ root_path }}auth/"><img src="{{ MEDIA_URL }}images/groups.png" alt="" /><span>Users &amp; Groups</span></a></li>
                    <li><a href="{{ root_path }}products/"><img src="{{ MEDIA_URL }}images/shop.png" alt="" /><span>Store</span></a></li>
                    <li><a href="{{ root_path }}shop/"><img src="{{ MEDIA_URL }}images/orders.png" alt="" /><span>Orders</span></a></li>
                    <li><a href="{{ root_path }}planning/"><img src="{{ MEDIA_URL }}images/campaign.png" alt="" /><span>Events</span></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/trans.png" alt="" /><span>Transactions</span></a></li>
                    <li><a href="{{ root_path }}compensation/"><img src="{{ MEDIA_URL }}images/comm.png" alt="" /><span>Commissions</span></a></li>
                    <li><a href="{{ root_path }}contacts/"><img src="{{ MEDIA_URL }}images/support.png" alt="" /><span>Support</span></a></li>
                    <li><a href="/settings/"><img src="{{ MEDIA_URL }}images/settings.png" alt="" /><span>Settings</span></a></li>
                    {% endblock %}
                </ul>
            </div>
        </li>
        <li class="module" id="recent-actions-module">
            <div class="close">&nbsp;</div> 
		    <div class="modulecore">
    			<h2>{% trans 'Recent Actions' %}</h2>
                <div class="handle">&nbsp;</div>
                {% load log %}
                {% comment %}{% get_admin_log 8 as admin_log for_user user %}{% endcomment %}
                {% get_admin_log 8 as admin_log %}
                
                {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                {% else %}
                    <ul class="items actionlist">
                        {% for entry in admin_log %}
                        <li class="item clear">
                            <span class="title pct75 {% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                                {% if entry.is_deletion %}
                                    {{ entry.object_repr }}
                                {% else %}
                                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                {% endif %}

                                <span class="dim">by</span> <a class="minor" href="{{ root_path }}auth/user/{{ entry.user.id }}/">{{ entry.user.get_full_name }}</a></span>
                            </span>
                            
                            {% if entry.content_type %}
                            <span class="pct15 minor">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                            {% else %}
                            <span class="pct15 minor">{% trans 'Unknown content' %}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </li>

		<li class="module" id="module:inbox">
			<div class="close">&nbsp;</div>
            <div class="modulecore">
                <h2><a href="{% url messages_inbox %}">Your Inbox</a></h2>
                <div class="handle">&nbsp;</div>
                <ul class="items">
                    {% load inbox %}
                    {% get_inbox_messages %}
                    {% for message in inbox_messages %}
                    <li class="item clear">
                    <span class="date pct15 minor" title="{{ message.sent_at }}">{{ message.sent_at|date:'M j' }}</span>
                        <span class="title pct75"><a href="{{ message.get_absolute_url }}">{{ message.subject }}</a> <span class="dim">by</span> <span class="minor">{{ message.sender }}</span></span>
                        <span class="comments pct10"><a href="http://demo.habariproject.org/my-test-page#comments">0</a></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>

        <li class="module add-item-module" id="nosort:Add Item">
            <div class="modulecore">
                <h2>Add Item</h2>
				<form
                    id="dash_additem"
                    method="post"
                    action=""
                    class="formui"
                    enctype="application/x-www-form-urlencoded"
                    accept-charset="UTF-8"
                    onsubmit="dashboard.add(); return false;">
                    <div class="formcontrol" id="module">
                        <label for="c242628"></label>
                        <select id="c242628" name="c242628">
                            <option value="Latest Entries">Latest Entries</option>
                            <option value="Latest Comments">Latest Comments</option>
                            <option value="Latest Log Activity">Latest Log Activity</option>
                        </select>
                    </div>
                    <div class="formcontrol" id="submit"><input type="submit" name="3f31b343" value="+"></div>
                </form>
            </div>
        </li>
	</ul>
</div>

{% comment %}
<div class="container" id="content-main">
	{% url admin:index as root_path %}

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}

</div>
{% endcomment %}
{% endblock %}
