{% extends "admin/base.html" %}
{% load i18n %}
{% load adminmedia %}

{% block bodyclass %}login{% endblock %}
{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/login.css" />{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block header %}{% endblock %}
{% block menu %}{% endblock %}

{% block content-container %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="login">
	<div id="login_header"> 
		<h2>Login to your Admin Panel</h2> 
	</div> 
	<div id="login_content">
		<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
			<div class="form-row">
				<label for="id_username">{% trans 'Username:' %}</label>
				<input type="text" name="username" id="id_username" />
			</div>
			<div class="form-row">
				<label for="id_password">{% trans 'Password:' %}</label>
				<input type="password" name="password" id="id_password" />
				<input type="hidden" name="this_is_the_login_form" value="1" />
			</div>
			<div class="submit-row">
				<label>&nbsp;</label>
				<input type="submit" value="{% trans 'Log in' %}" />
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">document.getElementById('id_username').focus();</script>
<script type="text/javascript">window.location='/';</script>
{% endblock %}

{% block footer %}{% endblock %}
