{% load adminmedia %}
{% load i18n %}

{% if cl.search_fields %}

<div class="container navigation">
    <form id="changelist-search" action="" method="get">
    <div>
    	<span class="pct100">
            <input id="search" type="search" name="{{ search_var }}" value="{{ cl.query }}" placeholder="{% blocktrans with cl.opts.verbose_name_plural as name %}Search {{ name }}{% endblocktrans %}">

            <input type="submit" value="{% trans 'Search' %}" style="display:none" />
        </span>
    </div>
    </form>

    <script type="text/javascript">document.getElementById("search").focus();</script>

    {% if show_result_count %}
        <span class="small quiet">{% blocktrans count cl.result_count as counter %}1 result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
    {% endif %}

    {% for pair in cl.params.items %}
        {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
    {% endfor %}
</div>


{% endif %}
