{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Digital CEP" %}</li>
{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox.css?v=2.0.6" type="text/css" />
    <style type="text/css" media="screen">	
        span.no-ordered-items {
            text-align: center; 
            width: 500px;
            display: block;
            margin: 50px auto;
            font-size: 22px;
            font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
            color: #c00000;
        }
        ul.ordered-items {
            list-style:none;
        }
        
        ul.ordered-items li {
           display: block;
           float: left;
           margin: 5px 2%;
           padding: 5px;
           width: 44%;
        }
	
        ul.ordered-items li h3 {
            margin-bottom: 5px;
        }
        
        ul.ordered-items li ul.inner-items li {
            display: block;
            border: none;
            padding: 0px;
            width: 100%;
            margin-bottom: 10px;
        }
	
	img.video-thumbnail {
	    float: left;
	    margin-top: 10px;
	}
	
	.video-title {
	    margin-bottom: -10px;
	}
    </style>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js?v=2.0.6"></script>
    <script type="text/javascript" src="http://files.brightcove.com/bc-mapi.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/audio-player.js"></script>
    
    <script type="text/javascript">
        var player;
        var modVP;
        var modExp;
        var modCon;
        var reference_id;
        var referenceSearchResult;
        
        function myTemplateLoaded(experienceID) {
            // get a reference to the player itself
            player = brightcove.api.getExperience(experienceID);
            // get a reference to individual modules in the player
            modVP = player.getModule(brightcove.api.modules.APIModules.VIDEO_PLAYER);
            modExp = player.getModule(brightcove.api.modules.APIModules.EXPERIENCE);
            modCon = player.getModule(brightcove.api.modules.APIModules.CONTENT);

            console.log(modVP);

            console.log("whatever man");
            
            // Get a video from the account and try to play it.
            BCMAPI.token = "VIltef-IZowrXGOMipZA_brKce_6NMR0l1mef8uHYMudbHDOQ8Q1_w..";
            BCMAPI.callback = "onSearchResponse";
            BCMAPI.find("find_video_by_reference_id", {"reference_id": reference_id});
        }
        
        function searchVideos(reference_id) {
            BCMAPI.token = "VIltef-IZowrXGOMipZA_brKce_6NMR0l1mef8uHYMudbHDOQ8Q1_w..";
            BCMAPI.find("find_video_by_reference_id", {"reference_id": reference_id, callback: "onReferenceSearch"});
        }
        
        function onReferenceSearch(jsonData) {
            if (jsonData) {
                  $(".video-thumbnail[reference_id='"+ jsonData.referenceId +"']").attr("src", jsonData.videoStillURL);
                  $(".video-thumbnail[reference_id='"+ jsonData.referenceId +"']").addClass("show-player");
                  $(".video-thumbnail[reference_id='"+ jsonData.referenceId +"']").siblings(".video-title").html(jsonData.shortDescription);
            }
        }
        
        function onSearchResponse(jsonData) {
            console.log(jsonData);
            playVideo(jsonData.id);
        }
        
        function playVideo(videoID) {
            console.log(videoID);
            modVP.loadVideoByID(videoID);
        }
        
        $(document).ready(function(){    
            // Flash fallback for audio

              var audioTag = document.createElement('audio');
              var hasMp3 = true;

              AudioPlayer.setup("{{ STATIC_URL }}js/player.swf");

              if (!(!!(audioTag.canPlayType) && ("no" != audioTag.canPlayType("audio/mpeg")) && ("" != audioTag.canPlayType("audio/mpeg")))) {
                  hasMp3 = false;
              }

              if ($.browser.msie) {
                  hasMp3 = false;
              }

            // Convert all images into links if they have a sku property
            // And change their thumbnail to the videos.

            $.each($(".video-thumbnail"), function(k, v){
                  searchVideos($(v).attr("reference_id"));
            });


              $(".audio-player-tag").each(function(k, v){
                  if (!hasMp3) {
                      var tag_id = $(v).attr("id");
                      var file_url = $(v).attr("url");
                      AudioPlayer.embed(tag_id, {soundFile: file_url, width: 290});
                  }
              });

            $(".show-player").live("click", function(e){
                  e.preventDefault();
                  reference_id = $(e.currentTarget).attr("reference_id");
                  $.fancybox($("#hidden-player"));
            });
        });
    </script>

{% endblock extra-js %}

{% block main %}
<!-- Start of Brightcove Player -->

<div style="display:none;">
Active and in use live on myefinity.com 
</div>

<!--
By use of this code snippet, I agree to the Brightcove Publisher T and C 
found at https://accounts.brightcove.com/en/terms-and-conditions/. 
-->

<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
<div id="hidden-player" style="display: none;">
  <object id="myExperience" class="BrightcoveExperience">
    <param name="bgcolor" value="#FFFFFF" />
    <param name="width" value="480" />
    <param name="height" value="270" />
    <param name="playerID" value="1697747613001" />
    <param name="playerKey" value="AQ~~,AAABb8pfn3E~,FlfX_RCHU8V3hyjVFKhWl7k1zwjLubIB" />
    <param name="isVid" value="true" />
    <param name="isUI" value="true" />
    <param name="dynamicStreaming" value="true" />
    <param name="includeAPI" value="true" />
    <param name="templateLoadHandler" value="myTemplateLoaded" />
  </object>
</div>

    <h2>{% trans "Digital CEP" %}</h2>
    <p>
        {% blocktrans %}
           Here you can gain access to the digital audios provided by the CEP subscriptions you've purchased.
        {% endblocktrans %}
    </p>

	<form>
	    <div align="right">
		<select name="year">
		    <option>2013</option>
			<option>2012</option>
			<option>2011</option>
			<option>2010</option>
		</select>
		<select name="language">
		    <option>English</option>
		    <option>Spanish</option>
		</select>
		<input type="submit" value="Submit" />
	    </div>
	</form>
	<br>
	
    {% if ordered_items %}
	
	    
	{% for itm in all_items.object_list %}
	<div class="clearfix" style="margin-bottom: 36px;">
	    <h3>{{ itm.name }}</h3>
	    <div style="float: left; padding-top: 10px;">
		<h5 class="video-title">No video available.</h5>
		<img width="259" height="179" class="video-thumbnail" src="{{ STATIC_URL }}images/efinity_cep_video.png" alt="video placeholder" reference_id="{{ itm.sku }}"/>
	    </div>
	    <ul class="ordered-items">
	    {% if itm.downloads.all %}
	    <li>
		<ul class="inner-items" style="list-style:none">
		    {% for download in itm.downloads.all %}
		    <li>
                <h5 class="audio-title" style="margin-bottom: 0;">{{ download.name }}</h5>
                
                <!-- insert JPlayer and see how it handles -->
                
                <audio class="audio-player-tag" id="audio-player-{{ download.pk }}" preload="none" controls="controls" url="{{ download.file.url|safe }}">
                    <source src="{{ download.file.url }}">
                </audio>

		    </li>
		    {% endfor %}
		</ul>
	    </li>
	    {% endif %}
	</div>
    {% endfor %}
    
    <div class="clearfix">
	<span class="step-links">
	    {% if all_items.has_previous %}
      <a href="?page={{ all_items.previous_page_number }}&language={{ lang }}&year={{ year }}">Previous</a>
	    {% endif%}
	    
	    <span class="current">
		Page {{ all_items.number }} of {{ all_items.paginator.num_pages }}
	    </span>
	    
	    {% if all_items.has_next %}
      <a href="?page={{ all_items.next_page_number }}&language={{ lang }}&year={{ year }}">Next</a>
	    {% endif %}	
	</span>
    </div>
    
    {% else %}
            <span class="no-ordered-items">
                {% blocktrans %}
                    It appears you have not yet purchased any CEP goods yet, 
                    please do so so that we can display you some downloads.
                {% endblocktrans %}
            </span>
    {% endif %}

{% endblock %}
