{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}Communicate with Downline{% endblock %}
{% block content %}
<div class="content full">

<form
	action=""
	method="post"
	id="registerForm"
	name="registerForm">
	
	{% csrf_token %}

	<style type="text/css">@import url(/media/register/style.css);</style>

	<div class="part">
		<h2>{% trans 'Communicate With Downline' %}</h2>
		<div class="section">
			<div class="entry">
				{% if person %}
				<p>You are about to send an email to <strong>{{ person.get_full_name }}</strong></p>
				{% else %}
				<p>You are about to send an email to <strong>everyone in your downline.</strong></p>
				{% endif %}
			</div>
			<div class="clear"></div>
			<div class="entry">
				<dl>
					<dt><span class="error"></span> Subject:</dt>
					<dd><input type="text" name="subject" /></dd>
				</dl>
			</div>
			<div class="clear"></div>
			<div class="entry">
				<dl>
					<dt><span class="error"></span> Message:</dt>
					<dd><textarea style="width:500px;height:400px" name="message"></textarea></dd>
				</dl>
			</div>
			<div class="clear"></div>

		</div>
	</div>

	<div id="continue" class="part">
		<input type="submit" value="{% trans 'Send Email(s)' %}" />
	</div>
</form>

</div>
{% endblock %}
