{% extends "dash/base.html" %}

{% load i18n %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/jwplayer/jwplayer.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css">

<!-- calendar javascript and css copied from home.html echung9/5/11 -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/fullcalendar/fullcalendar.print.css" media="print"/>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/fullcalendar/fullcalendar.min.js"></script>


<style type="text/css">
    ul {
        list-style-type: none !important;
    }
</style>

  <script type='text/javascript'>
    	$(document).ready(function() {
    		var date = new Date();
    		var d = date.getDate();
    		var m = date.getMonth();
    		var y = date.getFullYear();
    		$('#calendar').fullCalendar({
    			header: {
    				left: 'prev,next today',
    				center: 'title',
    				right: 'month,agendaWeek,agendaDay'
    			},
    			editable: false,
                disableDragging: true,
                disableResizing: true,
                events: [
                {% for media in medias %}
                    {
                        id: {{ media.id }},
                        title: '{{ media.name }}',
                        start: '{{ media.start_datetime|date:"Y-m-d H:i:s" }}',
                        end: '{{ media.end_datetime|date:"Y-m-d H:i:s" }}',
                        allDay: false,
                        url: '{% url etv_detail media.id %}',
                    },
                {% endfor %}
    			]
    		});
    	});
    </script>
<script type="text/javascript">
    $(document).ready(function() {
            $('.opener').click(function() {
    
                url = $(this).attr('name');

                var $dialog = $('<div id="' + url + '123"></div>')
                .html('')
                .dialog({
                        autoOpen: false,
                        title: 'Training Video',
                        height: 324,//270*1.2,
                        width: 576,//480*1.2,
                        modal: true,
                });
                
                var flashvars = {
                        'file':       url,
                        'controlbar': 'none',
                        'id':'playerID',
                        'autostart':false
                };
    
                var params = {
                'allowfullscreen':        'true',
                'allowscriptaccess':      'always'
                };

                var attributes = {
                'id':                     'playerID',
                'name':                   'playerID'
                };

                swfobject.embedSWF('{{ STATIC_URL }}vendor/jwplayer/player.swf', url + '123', '576', '324', '9', 'false', flashvars, params, attributes);

                $dialog.dialog('open');
                setTimeout('document.getElementById("playerID").addModelListener("STATE", "handleTimeEvent")', 1000)
                return false;
	    });	
	});

        function playerReady(p){   
          //document.getElementById("playerID").addModelListener("STATE", "handleTimeEvent")
          //document.getElementById('playerID').sendEvent('PLAY', true);
        }
        function handleTimeEvent(s){
          if(s.newstate=='PLAYING'){
            //document.getElementById('playerID').sendEvent('SEEK', 12.5);
          }
        }
    </script>
{% endblock %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Training Videos" %}</li>
{% endblock %}

{% block content %}
<ul>
    {% for m in featured_medias %}
    <li style="width: 300px; display: block; float: left; margin: 0 10px 10px 0;">
        <div style="position: relative; border: 1px solid lightGrey; padding: 4px; width: 278px; margin-bottom: 10px; ">
          <img  class="opener thumb_overlay" name="{{ m.url }}" src="{{ STATIC_URL }}images/thumboverlay.png" data-count="{{ forloop.counter }}">
            <img src="{{ m.thumbnail.url }}" width="275px" height="162px" style="border: 1px solid lightGrey" alt="">
        </div>
        <div style="padding: 0 0 0 5px">
            <h3>{{ m.name }}</h3>
            <p>{{ m.description }}</p>
	    <span class='starts_in' data-count="{{ forloop.counter }}" data-starttime="{{ m.start_datetime|date:'M d Y H:i:s' }}" data-timezone='0'></span>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="clear"></div>
<p>

<div class="">
    {# <h2>{% trans "Calendar" %}</h2> #}
    <div class="inner" style="padding:10px !important">
        <div id='calendar'></div>
    </div>
</div>
{% endblock %}
