{% extends "dash/base.html" %}

{% load i18n %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li><a href="{% url dash_etv %}">{% trans "Training Videos" %}</a></li>
    <li>{{ etv.name }}</li>
{% endblock %}

{% block content %}
    <img src="{{ etv.thumbnail.url }}" width="275px" height="162px" style="border: 1px solid lightGrey" alt="">
    <div>
        <h2>{{ etv.name }}</h2>
        <p>{{ etv.description }}</p>
        <p><strong>Start Time:</strong> {{ etv.start_datetime|date:"Y-m-d H:i:s" }}</p>
        {% if etv.end_datetime %}
            <p><strong>End Time:</strong> {{ etv.end_datetime|date:"Y-m-d H:i:s" }}</p>
        {% endif %}
    </div>
{% endblock %}
