{% extends 'lively/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block breadcrumbs %}
  <a href="/">Home</a>
  {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block content %}

<div class="boxcontainer"> <a href="#"><img src="icons/events.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Events</a></h4>
                Enter new events </div>
        <div class="boxcontainer"> <a href="#"><img src="icons/ticket.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Tickets</a></h4>
                Check on current ticket purchase's and ticket holders for specific events.</div>
        <div class="boxcontainer"> <a href="#"><img src="icons/seatcolor.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Seating Colors</a></h4>
                Add Seating Colors for use with your seating charts., </div>
        <div class="boxcontainer"> <a href="#"><img src="icons/seatchart.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Seating Charts</a></h4>
                Create seating charts for specific events.</div>
        <div class="boxcontainer"> <a href="#"><img src="icons/commission.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Generate Commisions</a></h4>
                Calculate costs and generate commisions for IBO's. </div>
        <div class="boxcontainer"> <a href="#"><img src="icons/reports.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Reports</a></h4>
                View event related reports.</div>
 

        <div style="clear:both"></div>
{% endblock %}


{% block filters %}
  <div class="notes">
    <h2>Your Inbox</h2>
    <div class="sidebarmenu">
      <ul>
	{% load inbox %}
	{% get_inbox_messages %}
	{% for message in inbox_messages %}
	<li>
	  {{ message.sent_at|date:'M j' }}  <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a> by {{ message.sender }}
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
