{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Documents" %}</li>
{% endblock %}

{% block main %}
<ul>
    {% for document in documents %}
    <li style="display: block; list-style: none; margin-bottom: 5px; margin-right: 30px; padding-bottom: 5px; border-bottom:1px solid lightGrey">
    <div style="position: relative; float: left; padding-right: 5px;">
        {% if document.doc.url|slice:"-3:" == "pdf" %}
        <a href="{{ document.doc.url }}"><img src="{{MEDIA_URL}}/images/pdficon.png" alt="" /></a>
        {% endif %}
        {% if document.doc.url|slice:"-3:" == "ocx" %}
        <a href="{{ document.doc.url }}"><img src="{{MEDIA_URL}}/images/docicon.png" alt="" /></a>
        {% endif %}
        {% if document.doc.url|slice:"-3:" == "doc" %}
        <a href="{{ document.doc.url }}"><img src="{{MEDIA_URL}}/images/docicon.png" alt="" /></a>
        {% endif %}
        {% if document.doc.url|slice:"-3:" == "zip" %}
        <a href="{{ document.doc.url }}"><img src="{{MEDIA_URL}}/images/zipicon.png" alt="" /></a>
        {% endif %}
        {% if document.doc.url|slice:"-3:" == "xls" %}
        <a href="{{ document.doc.url }}"><img src="{{MEDIA_URL}}/images/xlsicon.png" alt="" /></a>
        {% endif %}
        {% if document.doc.url|slice:"-3:" == "ppt" %}
        <a href="{{ document.doc.url }}"><img src="{{MEDIA_URL}}/images/ppticon.png" alt="" /></a>
        {% endif %}
    </div>
    <div style="margin-left: 4px;">
        <h3 style="font-size: 1.2em; margin-bottom: 0 !important;"><a href="{{ document.doc.url }}">{{ document.title }}</a></h3>{{ document.description|truncatewords:30 }}
    </div>
    <div class="clear"></div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
