{% extends "dashboard/base.html" %}

{% block main %}

<h1>Account History</h1>
<table>
	<tr>
		<th>Account's Name</th>
		<td><a href="{% url profile %}">{{ user.get_full_name }}</a></td>
	</tr>
</table>
{% endblock %}
