{% extends "dash/base.html" %}
{% load i18n %}

{% block body-class %}dashboard{% endblock %}
{% block navbar-container %}{% endblock %}

{% block css %}
<link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet" type="text/css" media="screen" />
<style type="text/css" media="screen">
    .dashboard #content {
      background: #404040;
      border: 5px inset #999;
      padding: 20px;
      border-radius: 6px;
    }
</style>
{% endblock %}

{% block main %}
<div class="iconset black box round shadow">
    <h2>{% trans "Dashboard" %}</h2>
    <div class="inner">
        <a href="{% url my_profile %}" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/accounticon.png)"
            title="{% trans "View your account profile, order history, and more." %}">
            <span>{% trans "Account Information" %}</span></a>

        <a href="{% url auth_password_change %}" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/passicon.png)"
            title="{% trans "Change your password." %}">
            <span>{% trans "Password" %}</span></a>

        <a href="{% url manage_subscriptions %}" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/subicon.png)"
            title="{% trans "Manage your subscriptions." %}">
            <span>{% trans "Manage Subscriptions" %}</span></a>
            
        <!-- {% ifnotequal user.profile.pinlevel.group.name 'Regular' %}
            <a href="{% url comp_home %}" class="icon"
                style="background-image: url({{ MEDIA_URL }}dashicons/compicon.png)"
                title="{% trans "View your compensation report." %}">
               <span>{% trans "Compensation" %}</span></a>
        {% endifnotequal %} -->

        <!-- <a href="{% url dash_videos %}" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/vidicon.png)"
            title="{% trans "Watch training videos provided by eFinity." %}">
            <span>{% trans "Training Videos" %}</span></a> -->

        <a href="{% url dash_files %}" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/docicon.png)"
            title="{% trans "View documents provided by eFininty." %}">
            <span>{% trans "Documents" %}</span></a>
        
        {% ifnotequal user.profile.pinlevel.group.name 'Regular' %}
            <a href="{% url reports_home %}" class="icon"
                style="background-image: url({{ MEDIA_URL }}dashicons/reporticon.png)"
                title="{% trans "View varius reports about your performance." %}">
                <span>{% trans "Reports" %}</span>
            </a>
        {% endifnotequal %}

	{% if show_downloads %}
        <a href="http://efinity.tchadv.com" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/cepicon.png)"
            title="{% trans "Digital CEP" %}">
            <span>{% trans "Digital CEP" %}</span></a>
	{% endif %}

        {% ifnotequal user.profile.pinlevel.group.name 'Regular' %}
            <a href="{% url gen_graphical %}" class="icon"
                style="background-image: url({{ MEDIA_URL }}dashicons/losicon.png)"
                title="{% trans "View your L.O.S. genealogy." %}">
                <span>{% trans "L.O.S" %} </span>
            </a>
        {% endifnotequal %}
        
        <a href="{% url cms_splash %}" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/profileicon.png)"
            title="{% trans "Manage your splash page." %}">
            <span>{% trans "Profile Page" %}</span></a>

        <a href="{% url cms_promo %}" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/promoicon.png)"
            title="{% trans "Manage your promo page." %}">
            <span>{% trans "Promo Page" %}</span></a>

        <a href="{% url cms_email %}" class="icon"
            style="background-image: url({{ MEDIA_URL }}dashicons/emailicon.png)"
            title="{% trans "Send out promo emails to potential leads." %}">
            <span>{% trans "Promo Email" %}</span></a>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
