{% extends 'lively/base.html' %}
{% block title %}Store & Orders{% endblock %}

{% block breadcrumbs %}
  <a href="/">Home</a>
  {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block content %}

  <div class="boxcontainer"> 
    <a href="{% url admin:index %}products/product/"><img src="{{ MEDIA_URL }}lively/icons/cart.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}products/product/">Products</a></h4>
   Enter or change products in the database.
  </div>
  <div class="boxcontainer">
    <a href="{% url admin:index %}shop/order"><img src="{{ MEDIA_URL }}lively/icons/orders.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}shop/order">Product Orders</a></h4>
    View orders and status's here.
  </div>
  <div class="boxcontainer">
    <a href="{% url admin:index %}subscription/subscriptionproduct/"><img src="{{ MEDIA_URL }}lively/icons/prodsub.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}subscription/subscriptionproduct/">Product Subscriptions</a></h4>
    Change a current subscription in the system.
  </div>
  <div class="boxcontainer">
    <a href="{% url admin:index %}products/category/"><img src="{{ MEDIA_URL }}lively/icons/prodcat.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}products/category/">Product Catagories</a></h4>
    Add product catagories to the database.
  </div>
  <div class="boxcontainer">
    <a href="{% url admin:index %}products/discount/"><img src="{{ MEDIA_URL }}lively/icons/discount.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}products/discount/">Discounts</a></h4>
    Add discounts to products are enter speical pricing codes.
  </div>
  <div class="boxcontainer">
    <a href="/user/reports/browse/"><img src="{{ MEDIA_URL }}lively/icons/reports.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="/user/reports/browse/">Reports</a></h4>
    View specific products reports from the database.
  </div>


  <div style="clear:both; padding-top:10px;">
    <h2>Welcome to Your Admin Dashboard!</h2>
    <p>From here you can easily navigate from on area to another with ease!</p>
    <p> Please feel free to send suggestions for improvements or additions to jkellie@me.com.</p>
  </div>
{% endblock %}


{% block filters %}
  <div class="notes">
    <h2>Your Inbox</h2>
    <div class="sidebarmenu">
      <ul>
	{% load inbox %}
	{% get_inbox_messages %}
	{% for message in inbox_messages %}
	<li>
	  {{ message.sent_at|date:'M j' }}  <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a> by {{ message.sender }}
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
