{% extends 'lively/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block breadcrumbs %}
  <a href="/">Home</a>
  {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block content %}
  <div class="boxcontainer"> <a href="{% url admin:index %}"><img src="icons/content.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="#">Documents</a></h4>
    Upload your documents here pdfs, docs, xls, jpg, png </div>
  <div class="boxcontainer"> <a href="#"><img src="icons/bbkvid.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="#">BBK Vidoeos</a></h4>
    Upload BBK product videos here that diplay under the product</div>
  <div class="boxcontainer"> <a href="#"><img src="icons/promovid.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="#">Promotional Videos</a></h4>
    Upload videos for users to display on thier Promo Page websites </div>
  <div class="boxcontainer"> <a href="#"><img src="icons/trainvid.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="#">Training Videos</a></h4>
    Upload Training Videos to your site</div>
  <div class="boxcontainer"> <a href="#"><img src="icons/etv.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="#">eTV</a></h4>
    Upload eTV videos and control when they will be viewed</div>
        
 

  <div style="clear:both"></div>
{% endblock %}


{% block filters %}
  <div class="notes">
    <h2>Your Inbox</h2>
    <div class="sidebarmenu">
      <ul>
	{% load inbox %}
	{% get_inbox_messages %}
	{% for message in inbox_messages %}
	<li>
	  {{ message.sent_at|date:'M j' }}  <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a> by {{ message.sender }}
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
