{% extends "dash/base.html" %}
{% load i18n %}
{% load currency %}
{% load normalize_decimal %}

{% block navbar %}
    <li class="first"><a href="{% url shop_home %}">{% trans "Shop" %}</a></li>
    <li><a href="{% url checkout-step1 %}">{% trans "Checkout" %}</a></li>
    <li>{% trans "Step 2 of 3" %}</li>
</ul>
<ul class="right">
    <li class="first"><a href="{% url checkout-step1 %}">{% trans "Shipping/Billing Address" %}</a></li>
    <li>{% trans "Payment" %}</li>
    <li>{% trans "Confirmation" %}</li>
    <li>{% trans "Cart Total" %} - {{cart.total|normalize_decimal|currency}}</li>
{% endblock %}

{% if request.session.admin_user_id %}
{% block extrahead %}
    <style type="text/css">
        .off_to_side {
            position: absolute;
            margin-left: -10000px;
        }
        #swipe_now {
            display: none;
        }
    </style>
    
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            // Credit card swiper
            $('#swipe_card').click(function(){
                $('#swipe_card').hide();
                $('#swipe_now').show();
                $('#swipe_area').val('');
                $('#swipe_area').focus();
            });
            
            $('#swipe_area').focusout(function(){
                $('#swipe_card').show();
                $('#swipe_now').hide();
            });
            
            $('#swipe_area').keypress(function(e){
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13){
                    $('#id_ccv').focus();
                }
                if (code == 63){
                    var swipe = $('#swipe_area').val();
                    if (swipe.length > 70){
                        var cc_re = new RegExp("(\\d+)\\^");
                        var exp = new RegExp("=(\\d\\d\\d\\d)");
                        
                        var cc = cc_re.exec(swipe)[1];
                        // Set the card type
                        if (cc[0] == 4){
                            $('#id_credit_type').val('Visa');
                        };
                        if (cc[0] == 5){
                            $('#id_credit_type').val('Mastercard');
                        };
                        if (cc[0] == 6){
                            $('#id_credit_type').val('Discover');
                        };
                        // Set the card number
                        $('#id_credit_number').val(cc);
                        // Get the expiration
                        var expiration = exp.exec(swipe)[1];
                        var year = '20' + expiration.slice(0,2);
                        var month = expiration.slice(2,4);
                        $('#id_month_expires').val(month);
                        $('#id_year_expires').val(year);
                        
                        $('#swipe_area').val('');
                    };
                };
                
            });
        });
    </script>
    
    {# Removing zero shipping from showing to the end user, if applicable #}
    {% if request.session.admin_user_id %}
        <script type="text/javascript">
            $(document).ready(function(){
                var newHTML = '<input type="radio" id="id_shipping_0" value="PerItem" name="shipping">$0.00 Shipping : Per Item shipping (use for local pickup)<hr>';
                $('input[value="PerItem"]').parent().html(newHTML);
            });
        </script>

    {% else %}
        <script type="text/javascript">
            $(document).ready(function(){
                // ensure this isn't selected by default.
                $('input[value="PerItem"]').attr('checked', false);
                // select the li and hide
                $('input[value="PerItem"]').parent().parent().hide();
            });
        </script>
    {% endif %}
{% endblock %}
{% endif %}

{% block main %}<div class="dash">
<h2>{% trans "Checkout" %} &mdash; {% trans "Step 2 of 3" %}</h2>
<p>{% trans "Please complete the following information in order to submit your order." %}</p>

{% if form.errors %}
    <h2>{% blocktrans count form.errors|length as count %}Please correct the following error:{% plural %}Please correct the following errors:{% endblocktrans %}</h2>
    {% if form.non_field_errors %}<p>
    {{ form.non_field_errors }}
    </p>{% endif %}
{% endif %}

{% if request.session.admin_user_id %}
<div id="card_swipe_div">
    <input type="button" id="swipe_card" value="{% trans 'Swipe Card' %}" />
    <div id="swipe_now">
        <span class="bold">{% trans "Swipe card now" %}</span>
        <img src="{{MEDIA_URL}}/images/ajax-loader.gif" />
        <input type="button" value="Cancel" />
    </div>
    <textarea class="off_to_side" id="swipe_area" cols="30" rows="3"></textarea>
</div>
{% endif %}
<form method="post" action=".">
    {% csrf_token %}
    
    <table>
    {% block payment_table %}
    {# put your payment module specific rows here.  For example, CC number. #}
    {% endblock %}
    </table>

    {% if cart.is_shippable %}
        {% if form.shipping_hidden %}
            {{ form.shipping }}
        {% else %}
        <table>
            <caption>{% trans "Shipping Information" %}</caption>
                {% block shipping_table %}
                <div id="shipping">
                {% if form.shipping_description or form.shipping.field.choices|length_is:1 %}
                <label for="id_shipping">{% trans "The following shipping method will be used" %}:</label>
                {% else %}
                <label for="id_shipping">{% trans "Please choose your preferred shipping method" %}</label>
                {% endif %}
                {{ form.shipping }}
                {% if form.shipping_description %}<br/>{{ form.shipping_description }}{% endif %}
                {% if form.shipping.errors %}*** {{ form.shipping.errors|join:", " }}{% endif %}
                </div>
                {% endblock %}
        </table>
        {% endif %}
    {% else %}
        <table>
            <!--<caption>{% trans "There are no items in this order to ship." %}</caption>-->
            <caption>{% trans "Shipping Method" %}</caption>
            <tr><td colspan="2">
                    {{ form.shipping }}
            </td></tr>
        </table>
    {% endif %}
    
    {% if form.shipping.field.choices|length_is:0 and cart.is_shippable %}
        <h4>{% blocktrans %}No valid shipping method is available. Please verify that your address is correct.{% endblocktrans %}</h4>
    {% else %}
        <input type="submit" value="{% trans "Confirm" %}"/>
    {% endif %}
</form>

</div>{% endblock %}
