{% extends "dash/base.html" %}
{% load i18n %}
{% load currency %}
{% load order %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#external_submit_payment_button').click(function(){
                $('#submit_payment_form').submit();
            });
        });
    </script>
{% endblock %}

{% block navbar %}
    <li class="first"><a href="{% url shop_home %}">{% trans "Shop" %}</a></li>
    <li><a href="{% url checkout-step1 %}">{% trans "Checkout" %}</a></li>
    <li>{% trans "Step 3 of 3" %}</li>
</ul>
<ul class="right">
    <li class="first"><a href="{% url checkout-step1 %}">{% trans "Shipping/Billing Address" %}</a></li>
    <li>{% block payment_step %}<a href="{{ checkout_step2 }}">{% trans "Payment" %}</a>{% endblock %}</li>
    <li>{% trans "Confirmation" %}</li>
{% endblock %}

{% block main %}<div class="dash">
<h2>{% trans "Checkout" %}</h2>

{% block error_processing %}
{% if errors %}
    <h3>{% block errorheader %}{% trans "The following error was returned while trying to process your payment. Please correct and resubmit." %}{% endblock %}</h3>
    <h3>Order reference number: {{order.id}}</h3>
    <div class="error">{{ errors }}</div>
{% else %}
    <h3>{% trans "Please validate the following information, then submit your order." %}</h3>
{% endif %}
{% endblock %}
<input type="submit" id="external_submit_payment_button" value="{% trans "Purchase Items" %}"/>

{% block order_details %}
    {% order_details order default_view_tax %}
{% endblock %}

{% block payment_display %}
{# override for module-specific needs, such as displaying card info #}
{% endblock %}

{% block payment_form %}
{# override with any payment-module specific needs #}
<form id="submit_payment_form" method="post" action=".">
    {% csrf_token %}
<input type="hidden" name="Process" value="True">
<input type="submit" value="{% trans "Purchase Items" %}"/>
</form>
{% endblock %}

</div>{% endblock %}
