{% extends "dash/base.html" %}
{% load i18n %}
{% load currency %}
{% load normalize_decimal %}
{% load select_payment_type %}
{% load add_based_on_category %}

{% block extra-head %}
    {% include "contact/_contact_info_form.html" %}
    <script type="text/javascript">
        $(document).ready(function(){
            function insert_addresses(div_obj, prefix){
                $('#id_' + prefix + 'addressee').val($(div_obj).siblings('.addressee').html());
                $('#id_' + prefix + 'street1').val($(div_obj).siblings('.street1').html());
                $('#id_' + prefix + 'street2').val($(div_obj).siblings('.street2').html());
                $('#id_' + prefix + 'city').val($(div_obj).siblings('.csp').children('.city').html());
                $("#id_" + prefix + "state option[value='" + $(div_obj).siblings('.csp').children('.state').html() + "']").attr('selected', 'selected');
                $('#id_' + prefix + 'postal_code').val($(div_obj).siblings('.csp').children('.postal_code').html());
                $("#id_" + prefix + "country option[value='" + $(div_obj).siblings('.country').html() + "']").attr('selected', 'selected');
            };
            
            $('#change_shipping').click(function(){
                $('#all_shipping_addresses').slideToggle();
            });
            
            $('.select_shipping_address_button').click(function(){
                $('#all_shipping_addresses').slideUp();
                insert_addresses($(this), 'ship_');
            });
            
            $('#change_billing').click(function(){
                $('#all_billing_addresses').slideToggle();
            });
            
            $('.select_billing_address_button').click(function(){
                $('#all_billing_addresses').slideUp();
                insert_addresses($(this), '');
            });
            
            if ("{% is_convention_cart cart %}" == "true"){
                $("[value=PAYMENT_AUTHORIZENETCONVENTIONS]").attr("checked", true);
            }else{
                $("[value=PAYMENT_AUTHORIZENET]").attr("checked", true);
	    }
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        /*Styling buttons*/
        .awesome, .awesome:visited {
            background: #222 url(/images/alert-overlay.png) repeat-x; 
            display: inline-block; 
            padding: 5px 10px 6px; 
            color: #fff; 
            text-decoration: none;
            -moz-border-radius: 5px; 
            -webkit-border-radius: 5px;
            -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
            text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
            border-bottom: 1px solid rgba(0,0,0,0.25);
            position: relative;
            cursor: pointer;
        }

        .awesome:hover                          { background-color: #111; color: #fff; }
        .awesome:active                         { top: 1px; }
        .small.awesome, .small.awesome:visited          { font-size: 11px; padding: ; color: white;}
        .awesome, .awesome:visited,
        .medium.awesome, .medium.awesome:visited        { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
        .large.awesome, .large.awesome:visited          { font-size: 14px; padding: 8px 14px 9px; }
        .blue.awesome, .blue.awesome:visited        { background-color: #2daebf; }
        .blue.awesome:hover                         { background-color: #007d9a; }
        .magenta.awesome, .magenta.awesome:visited      { background-color: #a9014b; }
        .magenta.awesome:hover                          { background-color: #630030; }
        
        /*Styling the addresses*/
        #all_billing_addresses, #all_shipping_addresses {
            margin: 20px 0 0 0;
            display: none;
        }
        .select_address {
            display: block;
            margin: 0 20px 20px 0;
            float: left;
        }
        
        .change_address {
            margin: 5px 5px 0 0;
        }
    </style>
{% endblock %}

{% block navbar %}
    <li class="first"><a href="{% url shop_home %}">{% trans "Shop" %}</a></li>
    <li><a href="{% url checkout-step1 %}">{% trans "Checkout" %}</a></li>
    <li>{% trans "Step 1 of 3" %}</li>
</ul>
<ul class="right">
    <li class="first">{% trans "Shipping/Billing Address" %}</li>
    <li>{% trans "Payment" %}</li>
    <li>{% trans "Confirmation" %}</li>
    <li>{% trans "Cart Total" %} - {{cart.total|normalize_decimal|currency}}</li>
{% endblock %}

{% block main %}
<div class="dash">
    <h2>{% trans "Checkout" %} &mdash; {% trans "Step 1 of 3" %} &mdash; {% trans "Shipping/Billing Address" %}</h2>
    <p>{% trans "Please complete the following information in order to submit your order. All fields marked with an asterisk (*) are required." %}</p>

    {% if form.errors %}
        <font color=red>{% trans "Please correct the errors below." %}</font>
    {% endif %}

    <form method="post" action="{% url checkout-step1 %}">
        {% csrf_token %}
        
        <table>
            {% if request.session.admin_user_id %}
                <tr>
                    <td>{% trans "Send email" %}:</td>
                    <td><input type='checkbox' name='send_email'/></td>
                </tr>
                <tr>
                    <td colspan="2"><h4>{% trans "How do you want to pay?" %}</h4></td>
                </tr>
                <tr>
                    <td><label for="id_add_to_total">{% trans "Penalties" %}</label></td>
                    <td><div id="penalties">{{ form.add_to_total }}</div></td>
                </tr>
                <tr>
                    <td><label for="id_paymentmethod">{% trans "Payment method" %}*</label></td>
                    <td><div id="payment">{{ form.paymentmethod }}</div></td>
                </tr>

                {% if form.paymentmethod.errors %}
                <tr>
                    <td class="error" colspan="2">*** {{ form.paymentmethod.errors|join:", " }}</td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <div style="display:none">
                        {{ form.paymentmethod }}
                    </div>
                    <div style="display: none;">
                        {{ form.add_to_total }}
                    </div>
                </tr>
            {% endif %}

        </table>
	{# {% select_payment_type request %} #}

        <div class="box shadow round">
            <h2>{% trans "Basic Information" %}</h2>
            <div class="inner">
                <table>
                <tr><td width=35%><label for="id_email">{% trans "Email address" %}*</label></td> <td>{{ form.email }} {{ form.email.errors}}</td></tr>
    
    <tr><td width=50%><label for="id_first_name">{% trans "First name" %}{% if form.first_name.field.required %}*{% endif %}</label></td><td> {{ form.first_name }} {{ form.first_name.errors }}</td></tr>

    <tr><td><label for="id_last_name">{% trans "Last name" %}{% if form.last_name.field.required %}*{% endif %}</label></td><td> {{ form.last_name }} {{ form.last_name.errors }}</td></tr>

    <tr><td><label for="id_phone">{% trans "Phone number" %}{% if form.phone.field.required %}*{% endif %}</label></td><td> {{ form.phone }} {{ form.phone.errors }}</td></tr>
    
                </table>
            </div>
        </div>

	<script>
	  var country_states={}
	  {% for id, values in country_states.items %}
            country_states[{{ id }}]=[
	      {% for v in values %}['{{v.0}}', '{{v.1}}']{% if not forloop.last %},{% endif %}{% endfor %}
	    ]
	  {% endfor %}

	  function link_country_state(country, state){
	    $(country).change(function(){
	      states=country_states[$(this).val()]
	      $(state).html('')
	      for (var i = 0; i < states.length; i++) {
	        $(state).append('<option value="'+states[i][0]+'">'+states[i][1]+'</option>')
	      }
	    })
	  }
	  
	  $(document).ready(function(){
            link_country_state('#id_country', '#id_state')
            link_country_state('#id_ship_country', '#id_ship_state')
	  })
	</script>
    {% block billing-info %}
        {% include "contact/_contact_info_form_billing.html" %}
    {% endblock %}

    {% if cart.is_shippable %}
        {% block shipping-info %}
            {% include "contact/_contact_info_form_shipping.html" %}
        {% endblock %}
    {% endif %}

    {% if form.discount.is_hidden %}
        {{ form.discount }}
    {% else %}
        <div class="box round shadow mt20">
            <h2>{% trans "Discounts" %}</h2>
            <table>
                <tr>
                    <td><label for="id_discount">{% trans "Discount code" %}</label></td>
                    <td>{{ form.discount }}</td>
                </tr>
                {% if form.discount.errors %}
                <tr>
                    <td class="error" colspan="2">*** {{ form.discount.errors|join:", " }}</td>
                </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}
    
    {% if sale %}{% include "product/sale_details.html" %}{% endif %}

    <tr><td></td><td><input type="submit" value="{% trans "Continue Checkout" %}"/></td></tr>
</table>
</form>

</div>
{% endblock %}
