{% extends "dash/base.html" %}
{% load i18n %}
{% load order %}
{% load satchmo_google %}

{% block navbar %}
   <li class="first"><a href="{% url shop_home %}">{% trans "Shop" %}</a></li>
   <li>{% trans "Checkout" %}</li>
   <li>{% trans "Success" %}</li>
{% endblock %}

{% block content %}
{% if request.session.admin_user_id %}

        <h3>
	  <a href="{% url re_login_admin_user request.session.admin_user_id %}">Log back in as your admin user</a>
	  {% for o in order.orderitem_set.all %}
	    {% ifequal o.content_type.id 71 %}
              OR <a href="{% url re_login_admin_user request.session.admin_user_id %}?follow=/admin/planning/ticket/checkin/{{ o.product.id }}/{{ order.user.username }}">Checkin user to <span>{{ o.product.name }}<span></a>
            {% endifequal %}
	  {% endfor %}
	</h3>


{% endif %}
<div id="ordersuccess">
<h4>{% trans "Thank you for your order!" %}</h4>
<p>{% trans 'Please print out this page as a receipt.  You will also receive an email with this information.' %}</p>
    
{% order_tracking_details order %}
</div>
{% endblock %}

{% block google-tracker %}
{% if shop.options.GOOGLE.ANALYTICS.value %}
{% show_tracker %}
{% show_receipt %}
{% endif %}
{% if shop.options.GOOGLE.ADWORDS.value %}
{% google_adwords_sale %}
{% endif %}
{% endblock %}

