{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url keyedcache_view %}">{% trans "Cache" %}</a> &rsaquo; 
     {% trans "Cache Delete" %}
</div>
{% endif %}{% endblock %}

{% block content %}
<p>[<a href="{% url keyedcache_stats %}">Cache Stats</a>] [<a href="{% url keyedcache_view %}">View Cache</a>]</p>
<h1>Delete From Cache</h1>
<form method="POST" action="{% url keyedcache_delete %}">{% csrf_token %}
{{ form.as_p }}
<input type="submit"/>
</form>

{% endblock %}
