{% load i18n %}
<form class="profile_form" style="width: 100%;">
  <table class="side_border">
    <caption>
      {% trans "Past Orders" %}
    </caption>
    <tbody>
      {% if  member.orders.all %}
      <thead>
       <tr>
        <th>Orders</th>
        <th>Date</th>
        <th>Order Items</th>
        <th style="width:65px;">Status</th>
      </tr>
    </thead>
    {% for order in member.orders.all %}
    <tr>
     <td><a href="/admin/shop/order/{{order.id}}/">{{ order }}</a></td>
     <td>{{ order.time_stamp }}</td>
     <td>
      {% for oi in order.orderitem_set.all %}
      {{ oi }}<br />
      {% endfor %}
    </td>
        {% comment %}
        <td>
            {% for oi in order.orderitem_set.all %}
                {% if oi.product.speaker %}
                    Convention
                {% endif %}
                {% if oi.product.is_subscription %}
                    Subscription
                {% else %}
                    Normal
                {% endif %}
            {% endfor %}
        </td>
        {% endcomment %}
        <td style="text-align:center">
         <div class="circle1pr {% ifequal order.status 'In Process' %}InProcess{% else %}{{ order.status }}{% endifequal %}" style="margin:auto">&nbsp;</div>
       </td>
     </tr>
     {% endfor %}
     {% else %}
     <thead>
       <tr>
        <th>There are no past orders.</th>
      </tr>
    </thead>
    {% endif %}
  </tbody>
</table>
</form>

{% comment %}
<form class="profile_form right">
  <table class="left_align side_border">
    <caption>
      {% trans "Commissions" %}
    </caption>
    <tbody>
      {% if member.commissions.all %}
        <thead>
	  <tr>
            <th>Type</th>
	    <th style="width:75px;">Amount</th>
	  </tr>
	</thead>
	{% for commission in member.commissions.all %}
          <tr>
	    <td>{{ commission.get_type_display }}</td>
	    <td>
	      {{ commission.amount }} {{ commission.piggy.currency_term }}
	    </td>
	  </tr>
	{% endfor %}
      {% else %}
        <thead>
	  <tr>
            <th>No Commissions found.</th>
	  </tr>
	</thead>
      {% endif %}
    </tbody>
  </table>
</form>
{% endcomment %}