{% load i18n %}
<form class="ajaxForm profile_form left" method="post" action="{% url support_update_profile member.pk %}" class="profile_form">
  {% csrf_token %}
  <table class="left_align side_border">
    <caption>
      <span>{% trans "Profile Information" %}</span>
    </caption>

    <thead>
      <tr>
        <th>{% trans "Field" %}</th>
        <th width="50%">{% trans "Value" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for field in user_form %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td class="updatable">
          <div class="field">
            {{ field }}
          </div>
          {% if field.errors %}{{ field.errors }}{% endif %}
        </td>
      </tr>
      {% endfor %}

      {% for field in profile_form %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td class="updatable">
          <div class="field">
            {{ field }}
          </div>
          {% if field.errors %}{{ field.errors }}{% endif %}
        </td>
      </tr>
      {% endfor %}
      <tr>
	<td colspan="2"><a href="javascript:void(0)" class="right save add" title="Save profile information">Save</a></td>
        <!-- <input type="hidden" name="comment" value="comment" /> -->
        <!-- <td colspan="2"> -->
        <!--   <input type="submit" name="submit" value="Save" class="save add" /> -->
        <!-- </td> -->
      </tr>
    </tbody>
  </table>
</form>
