{% load i18n %}
<div class="profile_module profile_marg_top right">
  <div style="margin:0px 5px;">
  {% trans "Subscription active for current month:" %}<span class="right">{% if member.subscriptions %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</span>
  {% if member.subscriptions %}
  <hr class="spacing"/>
  {% for key,val in member.subscriptions.iteritems %}
    <div class="subscription_row">
      {{ val.product }} | quantity: {{ val.quantity|floatformat:"0" }}
    </div>
    <div class="clear"></div>
  {% endfor %}
  {% endif %}
  <hr class="spacing"/>
  <form action="">
    Reset CEP downloads <input id="reset_button" class="right" type="button" name="reset" value="Reset" />    
  </form>
  </div>
</div>
