{% load i18n %}
{% load contacts %}

    <script>
      var call_ongoing=false;
      $(document).ready(function(){
        $('.del_add').click(function(){
          if(call_ongoing){
            alert('Please wait, untill the other address is deleted.')
            return
          }
          del_id=$(this).attr('data')
          call_ongoing=true
          $.ajax({
            'url':'/user/support/delete_address/',
            'type':'POST',
            'data':{'id':del_id, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
            'success':function(data){
              $('#add_'+data).remove()
            },
            'complete':function(){
              call_ongoing=false
            }
          })
      
        })
      })
    </script>
    <form class="ajaxForm profile_form left profile_form_full_width" method="post" action="{% url support_update_addresses member.pk %}">
        {{ addresses_form.management_form }}

    <table class="left_align side_border">
        <caption>
            <span>{% trans "Addresses on Record" %}</span>
        </caption>
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Address Form" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses_form %}
            <tr id='add_{{ address.id.value }}'>
                <td>

                    {% addressblock_by_id address.id.value %}
		    {% if not forloop.first %}
		    {% if not forloop.last %}

                    <ul>
		    <li><a class="del_add" data="{{ address.id.value }}" href="javascript:void(0)">Delete Address</a></li>
		    </ul>
		    {% endif %}
		    {% endif %}

                </td>
                <td style="width: 50%">
                    {% for field in address.visible_fields  %}
                        {% if forloop.first %}
                            {% for hidden in address.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}

                    <div class="clear clearfix">
                        <div class="pct30" style="text-align:right; margin-right: 5%;">{{ field.label_tag }}</div>
                        <div class="pct65">{{ field }}</div>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
	    <tr>
	       <td colspan="2"><a href="javascript:void(0)" class="right save add" title="Save information">Save</a></td>
            </tr>
         </tbody>
    </table>
</form>
