{% load i18n %}

<form class="profile_form left">
  <table class="left_align side_border">
    <caption>
      {% trans "Upline" %}
    </caption>
    <thead>
      <tr>
	<th colspan="2">Direct upline of this customer.</th>
      </tr>
    </thead>
    <tbody>
	  {% if member.upline %}
	    <tr>
             <td>{% trans "Customer Name: " %}</td>
	     <td><a target="_blank" href="{% url support_profile member.upline.pk %}"><strong>{{ member.upline.get_full_name }}</strong></a></td>
	    </tr>
            <tr>
              <td>{% trans "IBO Number: " %}</td>
	      <td>{{ member.upline.aid }}</td>
	    </tr>
            <tr>
	      <td>{% trans "Pinlevel: " %}</td>
	      <td>{{ member.upline.pinlevel }}</td>
	    </tr>
	  {% else %}
            <tr><td colspan="2">{% trans "This customer currently has no upline within the system." %}</td></tr>
	  {% endif %}
    </tbody>
  </table>
  <div style="margin-top: 20px;">
    <a href="{% url support_check_downline user_id=member.pk %}" class="right save add">Verify user downline</a>    
    <a href="{% url support_check_upline user_id=member.pk %}" class="right save add">Verify user upline</a>
  </div>
</form>

<form class="profile_form right">
  <table class="left_align side_border">
    <caption>
      {% trans "Downline" %}:{% trans "Direct downline of this customer." %}
    </caption>
      {% if member.downline.all %}
      <thead>
	<tr>
          <th>{% trans "Customer Name" %}</th>
          <th>{{ AID_TITLE }}</th>
          <th>{% trans "Pinlevel" %}</th>
	</tr>
      </thead>


      <tbody>
	{% for downline in member.downline.all %}
      <tr>
	<td>
	  <a target="_blank" title="{% blocktrans with name=downline.user.get_full_name %}View {{ name }}'s profile (new window){% endblocktrans %}" href="{% url support_profile downline.user.pk %}">{{ downline.user.get_full_name }}</a>
	</td>
	<td>{{ downline.user.aid }}</td>
	 
	<td>{{ downline.user.pinlevel }}</td>
      </tr>
      {% endfor %}
      </tbody>
      {% else %}
      <thead>
        <tr><th>No IBO found under this customer</th></tr>
      </thead>
      {% endif %}
    </tbody>
  </table>
</form>

