{% load i18n %}
<form class="profile_form profile_marg_top right">
  <table class="left_align side_border">
    <caption>
      {% trans "Credit Cards on Record" %}
    </caption>
    {% if member.payment_methods.all %}
    <tbody>
      {% for method in member.payment_methods.all %}
      <tr>
        <td>
          {{ method }}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td><a href="javascript:void(0)" class="right save add" title="Save Paymeny Information">Save</a></td>
      </tr>
      {% else %}
      <thead>
	<tr><th>No Credit Card Information On Record</th></tr>
      </thead>
    </tbody>
    {% endif %}
  </table>
</form>
