{% load i18n adminmedia %}
{% load virtual_login %}

<div class="profile_form left">
  <table class="left_align side_border">
    <caption>
      {% trans "Search for a product to order" %}
    </caption>
    <thead>
      <tr>
        <td colspan="3">
          <input id="productSearch" class="pct100" type="search" placeholder="{% trans 'Search for products (then hit enter)' %}" />
        </td>
      </tr>
      <tr>
        <th>{% trans "Product" %}</th>
        <th width="33.33%">{% trans "Price per unit" %}</th>
        <th width="33.33%">{% trans "Add to cart" %}</th>
      </tr>
    </thead>
    <tbody id="produtSearchResults">
    </tbody>
  </table>
</div>


<form class="profile_form right" action="{% url support_virtual_order member.pk %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="hash" value="{{ 'user'|hash:member.pk }}" />
  <input type="hidden" id="num_added" name="num_added" value="0" />
  <table class="left_align side_border">
    <caption>
      {% trans "Products in Cart" %}
    </caption>
    <thead>
      <tr>
        <th>{% trans "Product" %}</th>
        <th>{% trans "Quanity" %}</th>
        <th>{% trans "Remove" %}</th>
      </tr>
    </thead>
    <tbody id="cart">
      {% for cartitem in cart %}
      <tr>
        <td>{{ cartitem.product }}</td>
        <td>{{ cartitem.quanity }}</td>
        <td><input type="checkbox" /></td>
      </tr>
      {% endfor %}
      {% if not cart %}
      <tr id="no_items_in_cart">
        <td colspan="3">{% trans "There are no items in cart." %}</td>
      </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td><input id="id_open_cc" type="submit" value="Continue" class="add"/></td>
      </tr>
    </tfoot>
  </table>
</form>


<div style="clear:both; height:20px;"></div>

<div class="profile_form left">
  <table class="left_align side_border">
    <caption>
      {% trans "Search for a event to order ticket" %}
    </caption>
    <thead>
      <tr>
        <td colspan="3">
          <input id="eventSearch" class="pct100" type="search" placeholder="{% trans 'Search for events (then hit enter)' %}" />
        </td>
      </tr>
      <tr>
        <th>{% trans "Event" %}</th>
        <th width="33.33%">{% trans "Price" %}</th>
        <th width="33.33%">{% trans "Add to cart" %}</th>
      </tr>
    </thead>
    <tbody id="eventSearchResults">
    </tbody>
  </table>
</div>


<form class="profile_form right" action="{% url support_virtual_ticket_order member.pk %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="hash" value="{{ 'user'|hash:member.pk }}" />
  <input type="hidden" id="num_events_added" name="num_events_added" value="0" />
  <table class="left_align side_border">
    <caption>
      {% trans "Tickets in Cart" %}
    </caption>
    <thead>
      <tr>
        <th>{% trans "Event Tickets" %}</th>
        <th>{% trans "Quanity" %}</th>
        <th>{% trans "Remove" %}</th>
      </tr>
    </thead>
    <tbody id="event_cart">
      {% for cartitem in cart %}
      <tr>
        <td>{{ cartitem.product }}</td>
        <td>{{ cartitem.quanity }}</td>
        <td><input type="checkbox" /></td>
      </tr>
      {% endfor %}
      {% if not cart %}
      <tr id="no_items_in_event_cart">
        <td colspan="3">{% trans "There are no items in cart." %}</td>
      </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td><input id="id_open_cc" type="submit" value="Continue" class="add"/></td>
      </tr>
    </tfoot>
  </table>
</form>




