{% load i18n %}
<div class="profile_module profile_marg_top right" style="text-align:center; ">
    {% trans "This will allow you to virtually become this user temporarily to access their dashboard." %}
    {% load virtual_login %}
    <a href="{% url support_go_virtual member.pk %}?hash={{ 'user'|hash:member.pk }}" style="font-size:2em;padding:10px;display:block">Virtual Login</a>
</div>
