{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css" />
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Dashboard" %}
      </a>
       
       <a href="../">
         {{ app_label|capfirst }}
      </a>
      <span>{{ cl.opts.verbose_name_plural|capfirst }}</span>
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block search %}{% search_form cl %}{% endblock %}

{% block content %}
  <div id="content-main">
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div {# class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist" #}>      
      <form {# id="changelist-form" #} action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}


{% block object-tools %}
  {% if has_add_permission %}
    <div class="notes">
      <h2>Other Actions</h2>
      <div class="sidebarmenu">
        <ul class="object-tools">
          <li>
	    <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
	      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
	    </a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock %}

  
{% block filters %}
  {% block date_hierarchy %}
    {% date_hierarchy cl %}
  {% endblock %}

  {% if cl.has_filters %}
  <div class="notes">
    {#  <h2>{% trans 'Filter' %}</h2> #}
    {% for spec in cl.filter_specs %}
      {% admin_list_filter cl spec %}
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}
