OB{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../../">{% trans 'Home' %}</a> 
    <a href="../../../">{{ app_label|capfirst }}</a> 
    <a href="../../">{{ module_name }}</a> 
    <a href="../">{{ object|truncatewords:"18" }}</a> 
    <span>{% trans 'History' %}</span>
</div>
{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
{% if action_list %}
    <table id="change-history" cellspacing="0" border="0" cellpadding="0" width="100%">
        <thead>
        <tr>
            <th scope="col">{% trans 'Date/time' %}</th>
            <th scope="col">{% trans 'User' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
            <td>{{ action.user.username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
            <td>{{ action.change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
{% endif %}
</div>
</div>
{% endblock %}
