{% if is_membership %}{% with cartitem.product.membershipproduct as membership %}
{% load i18n currency %}
<tr>
    <td>&nbsp;</td>
    <td colspan="3">
		{% with cartitem.product.get_absolute_url as url %}{% if membership.trial_set.count %}
			{% with membership.get_trial_terms.0 as trial %}{% if trial.price %}
				{% blocktrans %}This is the trial price to be charged today, see <a href="{{ url }}">the product description</a> for full pricing details.{% endblocktrans %}
			{% else %}
				{% blocktrans %}Free trial, see <a href="{{ url }}">the product description</a> for full pricing details.{% endblocktrans %}
			{% endif %}{% endwith %}
		{% else %}
			{% blocktrans %}For full pricing details, see <a href="{{ url }}">the product description</a>.{% endblocktrans %}
		{% endif %}{% endwith %}
    </td>
    <td>&nbsp;</td>
</tr>
{% endwith %}{% endif %}
