{% extends "shop/base.html" %}
{% load i18n %}
{% load shop_categories %}

{% block extra-head %}
    {% if category.meta %}
        <meta name="description" content="{{ category.meta|escape }}">
    {% endif %}
{% endblock %}

{% block extra-css %}
    <style>ul, ol{padding:0;}
        .book-cats {
            font-size:35px !important;
            margin: 0px 0px 0px 5px !important;
            padding: 0px 0px 0px 0px !important;
            border: none !important; 
        }
        .book-listings {
             border-bottom: 1px solid #404040 !important;
             margin-bottom:8px !important;
        }
    </style>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/chili-1.7.pack.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#featured').after('<ul class="slideNav">').cycle({
                fx: 'scrollHorz',
                activePagerClass: 'active',
                speed:   1400,
                pause: true,
                timeout: 4000, 
                manualTrump: false,
                onPagerEvent: function(zeroBasedSlideIndex, slideElement) {
                },
                pager:   '.slideNav',
                pagerAnchorBuilder: function(idx, slide) { 
                       return '<li><a class="" onclick="return false;" href="#">•</a></li>'; 
                   }
            });
        });       
    </script>
{% endblock %}

{% block navbar %}
	{% for parent in category.parents %}<li><a href="{{ parent.get_absolute_url }}">{{ parent.translated_name }}</a></li>{% endfor %}
	<li>{{ category.translated_name }}</li>
{% endblock %}

{% block main %}
{% if featured_list.object_list %}
<div id="featured" class="featured">
    {% for product in featured_list.object_list %}
        <div class="slide">
            {% if product.main_image %}
                <a class="image" href="{{ product.get_absolute_url }}">
                    <img src="{{ MEDIA_URL }}{{ product.main_image.picture }}" alt="" />
                </a>
            {% endif %}

		    <div class="details">
    			<h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                <h3>{{ product.short_description }}</h3>

                <div class="clear"></div>
                <a class="button right" href="{{ product.get_absolute_url }}">Learn More</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

{% if product_list.paginator.num_pages > 1 %}
    <div id="pagination" class="pagination">
        <ul>
            {% if product_list.has_previous %}
                <li><a href="?page={{ product_list.previous_page_number }}">{% trans "previous" %}</a></li>
            {% endif %}

    		{% for page in product_list.page_range  %}
    			{% if product_list.number == page %}
    				<li class="currentpage">{{page}}</li>
    			{% else %}
    				<li class="page"><a href="?page={{page}}">{{page}}</a></li>
    			{% endif %}
    		{% endfor %}

            {% if product_list.has_next %}
                <li class="next"><a href="?page={{ product_list.next_page_number }}">{% trans "next" %}</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}

{% for product in product_list.object_list %}
    <div class="product">
        <div>
            <img width="110" src="{{ MEDIA_URL }}{{ product.main_image.picture }}" alt="" />
        </div>
        <a class="title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <p>{{ product.short_description|truncatewords:20 }}</p>
    </div>
{% endfor %}

{% endblock %}
