{% extends "product/product.html" %}
{% load i18n %}
{% load thumbnail %}
{% load product_pricing %}
{% load currency shop_categories %}
{% load shop_utils %}

{% block productprice %}
<h4>{% blocktrans with product.translated_name as name %}Membership product {{ name }}{% endblocktrans %}</h4>
<p>{% autoescape off %}{{ product.translated_description }}{% endautoescape %}</p>
<h4>{% trans "Only " %}{{product.membershipproduct.recurring_times}} {% trans "easy payments of:" %}</h4>
<h3 id="price">{{ product.membershipproduct.recurring_price|currency }} </h3>

{% for pic in product.productimage_set.all %}
    {{ pic.picture }}
    {% comment %}{% thumbnail pic.picture 280x280 as image %}{% endcomment %}
    <img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" />
{% endfor %}
 {% for trial in product.membershipproduct.get_trial_terms %}
    {% if forloop.first %} <p> {% blocktrans %}This product has trial subscription pricing {% endblocktrans %}</p><ul> {% endif %}
    <li>{% if trial.price %}{{trial.price|currency}}{% else %}{% trans 'Free' %} {% endif %}{% blocktrans %}for trial period of {% endblocktrans %}{{trial.expire_length}} {% ifequal product.membershipproduct.expire_unit "DAY" %}{% trans "days" %}{% else %}{% trans "months" %}{% endifequal %}</li>
    {% if forloop.last %} </ul> {% endif %}
 {% endfor %}

{% with product.translated_attributes as atts %}{% if atts %}
<p class="productattributes">
{% for att in product.translated_attributes %}
{{ att.description }}: {{ att.value }}<br/>
{% endfor %}
</p>
{% endif %}{% endwith %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url satchmo_smart_add %}" method="post">

{% for option_group in options %}
 {{ option_group.name}}
    <select name="{{ option_group.id }}" id="{{option_group.id}}" class="priced">
    {% for choice in option_group.items %}
     <option value="{{ choice.value }}" {% if choice.selected %}selected="selected"{% endif %}>{{ choice.translated_name }}
        {% if choice.price_change %}
            {% option_price choice %}
        {% endif %}
     </option>
    {% endfor %}
      </select><br/>
{% endfor %}

</form>
{% endblock %}

