{% extends "shop/base.html" %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load product_pricing %}
{% load product_discounts %}
{% load currency %}
{% load shop_categories %}
{% load shop_utils %}
{% load add_based_on_category %}
{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}/js/product.js"></script>
{% endblock %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/jwplayer/jwplayer.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css">

<style type="text/css">
    ul {
        list-style-type: none !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.opener').click(function() {
            url = $(this).attr('name');

            var $dialog = $('<div id="' + url + '123"></div>')
            .html('')
            .dialog({
                autoOpen: false,
                title: 'Training Video',
                height: 324,//270*1.2,
                width: 576,//480*1.2,
                modal: true,
            });

            var flashvars = {
                'file':   url,
            };

            var params = {
                'allowfullscreen':        'true',
                'allowscriptaccess':      'always'
            };

            var attributes = {
                'id':                     'playerID',
                'name':                   'playerID'
            };

            swfobject.embedSWF('{{ STATIC_URL }}vendor/jwplayer/player.swf', url + '123', '576', '324', '9', 'false', flashvars, params, attributes);

            $dialog.dialog('open');
            return false;
	    });	
	});
</script>
{% endblock %}

{% block navbar %}
    {% for name, url in product.category.all.0.get_url_name %}
        <li><a href="{{ url }}">{{ name }}</a></li>
    {% endfor %}
    <li>{{ product.name }}</li>
{% endblock %}

{% block main %}
<div class="shopInner product_details">

    <div class="slider">
        {% for pic in product.images.all %}
        <div class="slide">
            <img src="{{ MEDIA_URL }}{{ pic.picture }}" />
        </div>
        {% endfor %}
        <div class="clear"></div>

        <ul class="slideNav" style="margin: 0"></ul>
    </div>

	<div class="productDetails">
		<h2>{{ product.name }}</h2>

		<div class="productDescription">
			<p>{{ product.short_description }}</p>
		</div>
    </div>

    <div class="productMedia clear">
        <ul>
            {% for media in product.medias.all %}
            <li style="width: 300px; display: block; float: left; margin: 0 10px 10px 0;">
                <div style="position: relative; border: 1px solid lightGrey; padding: 4px; width: 139px; margin-bottom: 10px; ">
                    <img  class="opener thumb_overlay" name="{{ media.original_file.url }}" src="{{ STATIC_URL }}images/thumboverlay.png" style="top:31px;left:58px;margin:0" width="30px">
                    <img src="{{ media.thumbnail.url }}" width="138px" height="81px" style="border: 1px solid lightGrey" alt="">
                </div>
                <div style="padding: 0 0 0 5px">
                    <h3>{{ media.name }}</h3>
                    <p>{{ media.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

	<div class="clear"></div>

	<br/><br/>
	<hr />

    <div>
        {% autoescape off %}
        {{ product.description }}
        {% endautoescape %}
    </div>

    {% with product.translated_attributes as atts %}{% if atts %}
        <p class="productattributes">
        {% for att in product.translated_attributes %}
            {{ att.description }}: {{ att.value }}<br/>
        {% endfor %}
        </p>
    {% endif %}{% endwith %}

    {% block productdetail %}{% endblock %}
</div>

<div class="smallCart">

	<div class="cart box border">
		<h2>{% trans "Information" %}</h2>
        <div class="inner">
            {% block productprice %}
            {% if product.price_display %}<h3>{{ product.price_display }}</h3>{% endif %}

            {% trans "Price" %} {#{% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}#}:

            <h4>
            	{% if sale %}<strike id="fullprice" style="display: block;">{{ product|discount_price:""|currency }}</strike>{% endif %}
            	<span id="price">{{ product|discount_price:sale|currency }}</span>
            </h4>
            {% endblock %}
		</div>

        <div class="total">

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


	    {% add_based_on_category request product %}
	    <form method="post" action="{% url satchmo_smart_add %}">
	      {% csrf_token %}
              <input type="hidden" name="productname" id="productname" value="{{ product.slug }}" />
              {% trans "QTY." %} <input style="width:30px" type="text" name="quantity" id="quantity" value="1" />
	      <div class="clear"></div><br/>
	      <input class="button" type="submit" name="addcart" value="{% trans "Add to Cart" %}" />
	    </form>
	    {% end_add_based_on_category %}

	</div>
	</div>

	{% comment %}
	<div class="cart box border">
		<h2>{% trans "Your Cart" %}</h2>
		<div style="padding-top: 5px">
		<ul>
		{% for cartitem in cart_items %}
			<li><a href="{% url shop_details cartitem.product.id %}">{{ cartitem.product }}</a>
				<br/>
				<span>{{ cartitem.product.get_price_display }}</span>
				&mdash; {% trans "quantity" %}: {{ cartitem.quantity }}
			</li>
		{% endfor %}
		</ul>
		</div>

		<hr />

		<div class="total">
			{% trans "Subtotal" %} = {{ subtotal }}
			<br/><br/>
			<a class="button" href="">{% trans "Proceed to Checkout" %}</a>
		</div>
	</div>
	{% endcomment %}
</div>

{% block productfooter %}
{% if sale %}{% include "product/product_discount_eligible.html" %}{% endif %}
{% endblock %}

{% endblock %}
