{# output an address as a textblock #}
{% load i18n %}
<ul class="addressblock">
{% if address %}

    {% if address.description %}
    <li><strong>{{ address.description }}</strong></li>
    {% endif %}

    {% if address.is_default_billing %}
    <li><strong>{% trans "Default Billing Address" %}</strong></li>
    {% endif %}

    {% if address.is_default_shipping %}
    <li><strong>{% trans "Default Shipping Address" %}</strong></li>
    {% endif %}

    <li>{{ address.street1 }}</li>
    {% if address.street2 %}<li>{{ address.street2 }}</li>{% endif %}
    <li>{{ address.city }}{% if address.state %}, {{ address.state }}{% endif %}</li>
    {% if address.postal_code %}<li>{{ address.postal_code }}</li>{% endif %}
    <li>{{ address.country }}</li>
{% else %}
    <li>{% trans 'Not set' %}</li>
{% endif %}
</ul>
