{% load i18n %}

{% block billing-info %}


<div class="box round shadow mt20">
    <a id="change_billing" class="right small magenta awesome change_address">{% trans "Change address" %}</a>
    <h2>{% trans "Billing Information" %}</h2>
    <div class="inner">
        {% if user.addresses.all %}
            <div id="all_billing_addresses">
                {% for addy in user.addresses.all %}
                    <div class="select_address">
                        <p class="addressee">{{addy.addressee}}</p>
                        <p class="street1">{{addy.street1}}</p>
                        {% if addy.street2 %}
                            <p class="street2">{{addy.street2}}</p>
                        {% endif %}
                        <p class="csp"><span class="city">{{addy.city}}</span>, <span class="state">{{addy.state}}</span> <span class="postal_code">{{addy.postal_code}}</span>
                        <p class="country">{{addy.country}}</p>
                        {% if not addy.street2 %}
                            <p>&nbsp;</p>
                        {% endif %}
                        <a class="small awesome select_billing_address_button">{% trans "Use this Address" %} »</a>
                    </div>
                {% endfor %}
                <hr />
            </div>
        {% endif %}
        <table>
            <tr><td width=50%><label for="id_addressee">{% trans "Bill To" %}</label><p class="help">{% trans "If different from the first and last names above" %}</p></td><td> {{ form.addressee }} {{ form.addressee.errors }}</td></tr>

            <tr><td><label for="id_street1">{% trans "Street" %}{% if form.street1.field.required %}*{% endif %}</label></td><td> {{ form.street1 }} {{ form.street1.errors }}</td></tr>

            <tr><td><label for="id_street2">{% trans "Street" %}</label></td><td> {{ form.street2 }} {{ form.street2.errors }}</td></tr>

            <tr><td><label for="id_city">{% trans "City" %}{% if form.city.field.required %}*{% endif %}</label></td><td> {{ form.city }} {{ form.city.errors }}</td></tr>

            {% if not country %}
            <tr><td><label for="id_country">{% trans "Country" %}</label></td><td> {{ form.country }} {{ form.country.errors }}</td></tr>
            {% endif %}

            {% if country %}
              {% if form.fields.state.choices %}
              <tr>
                <td><label for="id_state">{% if country.get_admin_area_display %}{{ country.get_admin_area_display }}{% else %}
                    {% trans "State/Province" %}{% endif %} {% if form.state.field.required %}*{% endif %}</label></td>
                <td><p id="id_state_loading" style="display: none">Loading...</p> {{ form.state }} {{ form.state.errors }}</td>
              </tr>
              {% endif %}
            {% else %}
              <tr>
                <td><label for="id_state">{% trans "State/Province" %} {% if form.state.field.required %}*{% endif %}</label></td>
                <td><p id="id_state_loading" style="display: none">Loading...</p> {{ form.state }} {{ form.state.errors }}</td>
              </tr>
            {% endif %}

            <tr><td><label for="id_postal_code">{% trans "Zipcode/Postcode" %}{% if form.postal_code.field.required %}*{% endif %}</label></td><td> {{ form.postal_code }} {{ form.postal_code.errors }}</td></tr>

        </table>
    </div>
</div>    
{% endblock %}
