{% load i18n %}

{% block shipping-info %}
<div class="box round shadow mt20">
    <a id="change_shipping" class="right small magenta awesome change_address">{% trans "Change address" %}</a>
    <h2>{% trans "Shipping Information" %}</h2>
    <div class="inner">
        {% if user.addresses.all %}
            <div id="all_shipping_addresses">
                {% for addy in user.addresses.all %}
                    <div class="select_address">
                        <p class="addressee">{{addy.addressee}}</p>
                        <p class="street1">{{addy.street1}}</p>
                        {% if addy.street2 %}
                            <p class="street2">{{addy.street2}}</p>
                        {% endif %}
                        <p class="csp"><span class="city">{{addy.city}}</span>, <span class="state">{{addy.state}}</span> <span class="postal_code">{{addy.postal_code}}</span>
                        <p class="country">{{addy.country}}</p>
                        {% if not addy.street2 %}
                            <p>&nbsp;</p>
                        {% endif %}
                        <a class="small awesome select_shipping_address_button">Use this Address »</a>
                    </div>
                {% endfor %}
            </div>
            <hr />
        {% endif %}
        <table>        
    <tr><td width=50%><label for="id_copy_address">{% trans "Shipping same as billing?" %}</label></td><td> {{ form.copy_address }} {{ form.copy_address.errors }}</td></tr>

    <tr><td><label for="id_ship_addressee">{% trans "Ship To" %}</label><p class="help">{% trans "If different from the first and last names above" %}</td><td> {{ form.ship_addressee }} {{ form.ship_addressee.errors }}</td></tr>

    <tr class="shiprow"><td><label for="id_ship_street1">{% trans "Street" %} {% if form.ship_street1.field.required %}*{% endif %}</label></td><td> {{ form.ship_street1 }} {{ form.ship_street1.errors }}</td></tr>

    <tr class="shiprow"><td><label for="id_ship_street2">{% trans "Street" %} {% if form.ship_street2.field.required %}*{%endif%}</label></td><td> {{ form.ship_street2 }} {{ form.ship_street2.errors }}</td></tr>

    <tr class="shiprow"><td><label for="id_ship_city">{% trans "City" %} {% if form.ship_city.field.required %}*{% endif %}</label></td><td> {{ form.ship_city }} {{ form.ship_city.errors }}</td></tr>


    {% if not country %}
    <tr class="shiprow"><td><label for="id_ship_country">{% trans "Country" %} {% if form.ship_country.field.required %}*{% endif %}</label></td><td> {{ form.ship_country }} {{ form.ship_country.errors }}</td></tr>
    {% endif %}


    {% if country %}
      {% if form.fields.ship_state.choices %}
       <tr>
         <td><label for="id_ship_state">{% if country.get_admin_area_display %}{{ country.get_admin_area_display }}{% else %}{% trans "State/Province" %}{% endif %} {% if form.ship_state.field.required %}*{% endif %}</label></td>
         <td><p id="id_ship_state_loading" style="display: none">Loading...</p> {{ form.ship_state }} {{ form.ship_state.errors }}</td>
       </tr>
      {% endif %}
    {% else %}
      <tr class="shiprow">
        <td><label for="id_ship_state">{% trans "State/Province" %} {% if form.ship_state.field.required %}*{% endif %}</label></td>
        <td><p id="id_ship_state_loading" style="display: none">Loading...</p> {{ form.ship_state }} {{ form.ship_state.errors }}</td>
      </tr>
    {% endif %}

    <tr class="shiprow"><td><label for="id_ship_postal_code">{% trans "Zipcode/Postcode" %} {% if form.ship_postal_code.field.required %}*{% endif %}</label></td><td>{{ form.ship_postal_code }} {{ form.ship_postal_code.errors }}</td></tr>

        </table>
    </div>
</div>
{% endblock %}
