{% extends "contact/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
   <li><a href="{% url my_profile %}">{% trans "Account Profile" %}</a></li>
   <li>{% trans "Update Profile" %}</li>
{% endblock %}

{% block extra-head %}
{% include "contact/_contact_info_form.html" %}    
{% endblock %}

{% block main %}
<form method="post" action="{% url profile_update %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="sidebar nm">
        <div class="box titled border">
            <h2>Navigation</h2>
            <div class="inner">
                <ul>
                    <li><a href="#basic">{% trans "Basic Information" %}</a></li>
                    <li><a href="#billing">{% trans "Billing Information" %}</a></li>
                    <li><a href="#shipping">{% trans "Shipping Information" %}</a></li>
                    <li><a href="#phones">{% trans "Phone Numbers" %}</a></li>
                    <li><a href="#social">{% trans "Social Network Accounts" %}</a></li>
                    <li><a href="#profile">{% trans "Profile Information" %}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main">
        {% if form.non_field_errors %}
        <h2>{% trans "Please correct the following error:" %}</h2>
        {{ form.non_field_errors }}
        {% endif %}

        {{ form.errors }}

        <div class="box round shadow" id="basic">
            <input class="right inheader" type="submit" value="{% trans "Update" %}"/>
            <h2>{% trans "Basic Information" %}</h2>
            <div class="inner">
                <table>
                    <tr><td><label for="id_email">{% trans "Email address" %}{% if form.email.field.required %}*{% endif %}</label></td> <td>{{ form.email }}</td></tr>
                    {% if form.email.errors %}<tr><td>&nbsp;</td><td>*** {{ form.email.errors|join:", " }}</td></tr>{% endif %}

                    <tr><td><label for="id_title">{% trans "Title" %}{% if form.title.field.required %}*{% endif %}</label></td><td> {{ form.title }}</td></tr>
                   {% if form.title.errors %}<tr><td>&nbsp;</td><td>*** {{ form.title.errors|join:", " }}</td></tr>{% endif %}

                    <tr><td><label for="id_first_name">{% trans "First name" %}{% if form.first_name.field.required %}*{% endif %}</label></td><td> {{ form.first_name }}</td></tr>
                   {% if form.first_name.errors %}<tr><td>&nbsp;</td><td>*** {{ form.first_name.errors|join:", " }}</td></tr>{% endif %}

                    <tr><td><label for="id_last_name">{% trans "Last name" %}{% if form.last_name.field.required %}*{% endif %}</label></td><td> {{ form.last_name }}</td></tr>
                    {% if form.last_name.errors %}<tr><td>&nbsp;</td><td>*** {{ form.last_name.errors|join:", " }}</td></tr>{% endif %}

                    <tr><td><label for="id_dob">{% trans "Birthday" %}{% if form.dob.field.required %}*{% endif %}</label></td><td> {{ form.dob }}</td></tr>
                    {% if form.dob.errors %}<tr><td>&nbsp;</td><td>*** {{ form.dob.errors|join:", " }}</td></tr>{% endif %}
                </table>
            </div>
        </div>

        {% block billing-info %}{% include "contact/_contact_info_form_billing.html" %}{% endblock %}
        {% block shipping-info %}{% include "contact/_contact_info_form_shipping.html" %}{% endblock %}

        {% block phones-form %}
        <div class="box round shadow mt20" id="phones">
            <input class="right inheader" type="submit" value="{% trans "Update" %}"/>
            <h2>{% trans "Phone Numbers" %}</h2>
            <div class="inner">
                {{ phones_form.management_form }}

                <table>
                    <thead>
                        <tr>
                            <th>{% trans "Phone Type" %}</th>
                            <th>{% trans "Phone Number" %}</th>
                            <th>{% trans "Privacy Setting" %}</th>
                            <!--<th>{% trans "Primary" %}</th>-->
                            <th>{% trans "Delete" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for phone in phones_form %}
                        <tr>
                            <td>{{ phone.id }} {{ phone.type }}</td>
                            <td>{{ phone.phone }}</td>
                            <td>{{ phone.privacy_setting }}</td>
                            <!--<td>{{ phone.is_primary }}</td>-->
                            <td>{{ phone.DELETE }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}

        {% block social-form %}
        <div class="box round shadow mt20" id="social">
            <input class="right inheader" type="submit" value="{% trans "Update" %}"/>
            <h2>{% trans "Social Network Accounts" %}</h2>
            <div class="inner">
                <p>{% trans "Here you can add in all your social network accounts and set how you would like to share them." %}</p><br/>

                {{ social_form.management_form }}

                <table>
                    <thead>
                        <tr>
                            <th>{% trans "Network Service" %}</th>
                            <th>{% trans "Account Name or URL" %}</th>
                            <th>{% trans "Privacy Setting" %}</th>
                            <th>{% trans "Delete" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for social in social_form %}
                        <tr>
                            <td>{{ social.id }} {{ social.service }}</td>
                            <td>{{ social.account }}</td>
                            <td>{{ social.privacy_settings }}</td>
                            <td>{{ social.DELETE }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}

        {% block photo-form %}
        <div class="box round shadow mt20" id="profile">
            <input class="right inheader" type="submit" value="{% trans "Update" %}"/>
            <h2>{% trans "Profile Information" %}</h2>
            <div class="inner">
                {{ profile_form.management_form }}

                <table>
                    {% for field in profile_form %}
                        {{ field }}
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endblock %}
    </div>

    <div class="clear"></div>
</form>
{% endblock %}
