{% extends "public/base.html" %}
{% load i18n %}

{% block menu %}{% endblock %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}
<center>
    <h2>{% trans "You have been successfully logged out." %}</h2>
</center>
{% endblock %}
