{% extends "public/base.html" %}
{% load i18n %}

{% block extrahead %}
<style type="text/css">
    table td ul.errorlist  { clear: both; display: block; }
    table td ul.errorlist li { line-height: 1.2em; display: block; clear: both; width: 200px; float: right; }
    table td { width: 300px; padding: 6px; }
    table td input { float: right; display: block; padding: 6px; width: 200px; }
    div.form-table-holder { float: left; margin-bottom: 18px;}
    div.account-information { margin-top: -150px; }
    div.clear-div {clear: both;}
</style>
{% endblock %}

{% block header %}{% endblock %}
{% block navbar %}
   <li class="first"><a href="/">{% trans "Home" %}</a></li>
   <li>{% trans "Registration" %}</li>
{% endblock %}

{% block content %}
<div style="padding:0 60px;">

    <center>
        <img src="{{ MEDIA_URL }}logo.png" alt="" />

        <h2>{% trans "Register &mdash; Step 1 &mdash; Please enter your IBO Number" %}</h2>
    </center>

<form method="POST" action="{% url register.step1 %}">
    {% csrf_token %}
    
  <p>{% trans "To register with eFininty, please provide your IBO Number and your contact information. We will attempt to verify this information with Amway before continuing." %}</p>
  <br /><br />

  <div class="form-table-holder">
    <h2>Basic Information</h2>
    <table style="width: 80%; margin: 0 auto; display: block">
      {% for field in form %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>
            {{ field }}
            {% if field.errors %}
              {{ field.errors }}
            {% endif %}
          </td>
       </tr>        
       {% endfor %}        
    </table>
  </div>

  <div class="form-table-holder">
    <h2>Billing Information</h2>
    <table style="width: 80%; margin: 0 auto; display: block">
      {% for field in form2 %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>
            {{ field }}
            {% if field.errors %}
              {{ field.errors }}
            {% endif %}
          </td>
       </tr>        
       {% endfor %}        
    </table>
  </div>

  <div class="form-table-holder account-information">
    <h2>Account Information</h2>
    <table style="width: 80%; margin: 0 auto; display: block">
      {% for field in form3 %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>
            {{ field }}
            {% if field.errors %}
              {{ field.errors }}
            {% endif %}
          </td>
       </tr>        
       {% endfor %}        
    </table>
  </div>
  
  <input type="submit" value="{% trans "Continue"%}" style="font-size: 22px; display:block; clear:left; margin-left: 400px;"/>
  
</form>

</div>
{% endblock %}
