{% extends "base.html" %}
{% load i18n %}

{% block header %}{% endblock %}
{% block navbar %}
    <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
    <li>{% trans "Reset your password" %}</li>
{% endblock %}

{% block content %}

<h2>{% trans "Reset your password" %}</h2>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send a new password to you." %}</p>

<form action="" method="post">{% csrf_token %}

	{% if form.email.errors %}
		<p class="error">{{ form.email.errors }}</p>
	{% endif %}
	<label for="id_email">{% trans "E-mail address" %}:</label> {{ form.email }}
	<p>{% trans "Be sure to enter the same e-mail address you used to register." %}</p>
    <input id="id_submit" type="submit" value="{% trans "Reset password" %}" />

</form>

{% endblock %}
