{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li><a href="{% url profile_info %}">{% trans "Account" %}</a></li>
    <li>{% trans "Password Change" %}</li>
{% endblock %}

{% block main %}
<h2>{% trans "Change your password" %}</h2>
<p>{% trans "For the sake of security, please enter your old password, and then enter your new password twice." %}</p>

<form action="" method="post">
    {% csrf_token %}
 
    <div class="part small center">
        {% include "forms/as_dl.html" with form=form noclear=1 %}
    </div>

    <div class="clear"></div>
    
    <div id="continue" class="part">
        <input type="submit" value= "{% trans "Change password" %}" />
    </div>
</form>

{% endblock %}
