{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{% url dash_home %}/">{% trans "Dashboard" %}</a></li>
   <li><a href="{% url profile_info %}">{% trans "Account" %}</a></li>
   <li>{% trans "Password Change Done" %}</li>
{% endblock %}

{% block main %}

<h2>{% trans "Password change successful" %}</h2>

<p>{% trans "Your password change has been completed." %}</p>

{% endblock %}
