{% extends "contact/base.html" %}
{% load i18n %}
{% load contacts %}
{% load currency %}
{% load normalize_decimal %}

{% block css %}
    <link href="{{ STATIC_URL }}css/profile.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Account Profile" %}</li>
</ul>
<ul class="right">
    <li class="first"><a href="{% url profile_update %}">{% trans "Update your profile" %}</a></li>
    <li><a href="{% url auth_password_change %}">{% trans "Change your password" %}</a></li>
    <li><a href="{% url order_history %}">{% trans "Order History" %}</a></li>
{% endblock %}

{% block main %}
<div class="page-container clearfix">
    <div class="main-content">
        <div class="profile-header clearfix">
            <div class="profile-info clearfix">
                <div class="profile-image-container">
                    <a href="{{ user.photo.url }}" class="profile-picture"><img src="{{ user.photo.url }}" alt="{{ user.get_full_name }}" /></a>
                </div>

                <div class="profile-details">
                    <div class="full-name">
                        <h2>{{ user.get_full_name }}</h2>
                    </div>

                    <div class="screen-name-and-location">
                        <span class="screen-name pill">{{ user.username }}</span>
                        {% if user.aid %}<span class="screen-name pill">{{ AID_TITLE }} {{ user.aid }}</span>{% endif %}
                        {{ user.location }}
                    </div>

                    <div class="bio">
                        {{ user.profile.bio }}
                    </div>

                    <div class="url">
                        {% for site in user.rep_sites %}
                            <a href="_blank" rel="me nofollow" href="{{ site.url }}">{{ site.url }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="profile-actions-container">
                <div class="profile-actions">
                    <a href="{% url profile_update %}">{% trans "Edit your profile" %} &rarr;</a>
                </div>
            </div>
        </div>

        <div class="stream-container">
            <div class="stream-row">
                <strong>Email</strong>
                {{ member.email }}
            </div>

            <div class="stream-row">
                <strong>Date of birth</strong>
                {% if member.contact %}
                {{ member.contact.dob|default_if_none:"--" }}
                {% else %}{% trans 'N/A' %}{% endif %}
            </div>

            <div class="stream-row">
                <strong>{% trans "Primary Billing Address" %}</strong>
                {% if member.contact %}
                {% addressblock member.billing_address %}
                {% else %}{% trans 'N/A' %}{% endif %}
            </div>

            <div class="stream-row">
                <strong>{% trans "Primary Shipping Address" %}</strong>
                {% if member.contact %}
                {% addressblock member.shipping_address %}
                {% else %}{% trans 'N/A' %}{% endif %}
            </div>
        </div>
    </div>

    <div class="dashboard profile-dashboard">
        <div class="componet">
            <h2>{% trans "Orders" %}</h2>
            <table class="ordertable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Items' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                <tr>
                    <td class="ordernumber"><a href="{% url order_tracking order.id %}">{{ order.id }}</a></td>
                    <td class="orderstatus">{{ order.status }}</td>
                    <td class="orderdate">{{ order.time_stamp|date:"F jS Y H:i" }}</td>
                    <td class="orderitems">
                        {% for item in order.current_item %}
                            {% if not forloop.first %}<br/>{% endif %}
                            <span class="orderitemqty">{{ item.quantity|normalize_decimal }}x</span>
                            <span class="orderitem"><a href="{{ item.get_absolute_url }}">{{ item }}</a><span> 
                        {% endfor %}
                    </td>
                    <td class="ordertototal">{{ order.current_items_total|currency }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if not member.orders.all %}
            <p>{% trans "You have made no purchases." %}</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
