{% extends "public/base.html" %}
{% load i18n %}

{% block extrahead %}
<style type="text/css">
    table td ul.errorlist  { clear: both; display: block; }
    table td ul.errorlist li { line-height: 1.2em; display: block; clear: both; width: 200px; float: right; }
    table td { width: 300px; padding: 6px; }
    table td input,
    table td select { float: right; display: block; padding: 6px; width: 200px; }
</style>
{% endblock %}


{% block header %}{% endblock %}
{% block navbar %}
   <li class="first"><a href="/">{% trans "Home" %}</a></li>
   <li>{% trans "Registration" %}</li>
{% endblock %}

{% block content %}
<div style="padding:0 200px;">

    <center>
        <img src="{{ MEDIA_URL }}logo.png" alt="" />

        <h2>{% trans "Register &mdash; Step 3 &mdash; Password &amp; Subscription" %}</h2>
        <h3>{{ member.get_full_name }}</h3>
    </center>



<form method="post" action=".">
	{% csrf_token %}

    <table style="width: 80%; margin: 0 auto; display: block">
    {% if form.non_field_errors %} {{ form.non_field_errors }} {% endif %}
    
    {% for field in form %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
                {{ field }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </td>
        </div>
    {% endfor %}        
    </table>

    <br>

    <center>
        <input type="submit" value="{% trans "Continue" %}"
            style="font-size: 22px; "/>
    </center>
</form>

</div>
{% endblock %}
