{% extends "public/base.html" %}
{% load i18n %}

{% block extrahead %}
<style type="text/css">
    table td ul.errorlist  { clear: both; display: block; }
    table td ul.errorlist li { line-height: 1.2em; display: block; clear: both; width: 200px; float: right; }
    table td { width: 300px; padding: 6px; }
    table td input,
    table td select { float: right; display: block; padding: 6px; width: 200px; }
</style>
{% endblock %}


{% block header %}{% endblock %}
{% block navbar %}
   <li class="first"><a href="/">{% trans "Home" %}</a></li>
   <li>{% trans "Registration" %}</li>
{% endblock %}

{% block content %}
<div style="padding:0 200px;">

    <center>
        <img src="{{ MEDIA_URL }}logo.png" alt="" />

        <h2>{% trans "Thanks" %}</h2>
        <p>
	  An activation link has been sent to the email address you supplied, along with instructions for activating your account. Go to the <a href='{% url dash_home %}'>dashboard</a>.
	<p>
    </center>

</div>
{% endblock %}
