{% load i18n %}{% block doctype %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock %}
<head>
    <title>{% trans "eFinity" %}</title>
    <!--<title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>-->

    <link rel="stylesheet" href="{{ MEDIA_URL }}cm/css/style.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" media="screen">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" media="screen">
	
	{% block css %}{% endblock %}
	
	<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/mootools/1.3.2/mootools-yui-compressed.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/mootools.more.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/core.js"></script>
    {% block extra-css %}{% endblock %}
    
    {% block extra-head %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">

{% include "toolbars/top.html" %}

{% block header %}
<div id="header">
    <div class="margined">
		{% block logo %}
        <a href="/" style="margin-top: 10px; display: block;"><img style="float: left" src="{{ MEDIA_URL }}images/logow60.png" alt="" /></a>
		{% endblock %}
        
        {% if request.session.admin_user_id %}
            <div id="links">
                <span><a href="{% url re_login_admin_user request.session.admin_user_id %}">Log back in as your admin user</a></span>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div id="links">
            <span>
                {% if user.get_full_name %}
                {% blocktrans with name=user.get_full_name %}Welcome {{ name }}{% endblocktrans %}
                {% else %}
                {% blocktrans with name=user.username %}Welcome {{ name }}{% endblocktrans %}
                {% endif %}
            </span>
            {% comment %}
            <a href="{% url profile_info %}">{% trans "Account Details" %}</a>
            <a href="{% url auth_logout %}?next={{ request.path }}">{% trans "Log out" %}</a><br/>

            <!-- {% url auth_secure_login %} -->
            <!-- <a href="{% url auth_login %}?next={{ request.path }}">{% trans "Log in" %}</a> -->
            {% endcomment %}
        </div>
        {% endif %}

		{% if messages %}
		<ul id="messages">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		<div id="bar">
		{% block menu %}
			<ul class="menu">
                <li><a href="{% url dash_home %}" title="{% trans "Go to my account dashboard" %}">{% trans "Dashboard" %}</a></li>
                <li><a href="{% url shop_home %}">{% trans "Store" %}</a></li>
                <li><a href="{% url planning_home %}">{% trans "Events" %}</a></li>
                <li><a href="{% url shop_category "bbk" %}" title="{% trans "Business Builder Kit" %}">BBK</a></li>
                <li><a href="{% url shop_category "books" %}">{% trans "Books" %}</a></li>
                <li><a href="{% url shop_category "audios" %}">{% trans "Audios" %}</a></li>
                <!-- <li><a href="{% url dash_etv %}">{% trans "eTV" %}</a></li> -->
                <!--
                <li class="searchform">
					<div>
        				<input type="text" name="q" placeholder="Search" />
					</div>
                    </li>
               -->
			</ul>
		{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

    {% block navbar-container %}
    <div id="navbar">
        <ul>{% block navbar %}{% endblock %}</ul>
        <div class="clear"></div>
    </div>
    {% endblock %}

    <div class="margined">
        <div id="content">
		    {% block content %}{% endblock %}
    	</div>
    </div>

    <div class="margined">
	    <div id="footer">
            <p class="left">CR #53349 Copyright &copy; 2011, eFinity, Inc. All rights reserved.&nbsp;   &nbsp;IBO Support 866.686.8861 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ STATIC_URL }}terms_and_conditions.html">Terms and Conditions</a></p
          
            <p class="right">Powered by <a href="http://www.crossmarketsoftware.com" onclick="this.target='_blank'">Almond Devlopment</a></p>
			
        </div>
    </div>
</div>

{% block extra-js %}{% endblock %}

</body>
</html>
