@import url(genealogy.css);
@import url(support.css);

.dashboard #content {
    padding: 20px 0;
}

.dash {
	width: 950px;
	margin: 0 auto;
}

.dash.small {
	width: 300px;
}

.iconset {
    background: #fff;
}

.iconset .icon {
	display: block;
	min-width: 55px;
	width: 80px;
	height: 80px;
	float: left;
	position: relative; /* 10px 20px */
	padding: 0px;
	border: 1px solid;
	border-radius: 6px;
    padding: 
; 		background-image: url(/media/images/icono.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 15px;
	margin-right: 30px;
	margin-bottom: 40px;
	margin-left: 20px;
	
}

.iconset .icon:hover {
	background-color: #CDCDCD;
	
}
	
.iconset .icon,
.iconset .icon a { text-decoration: none; }

.iconset .icon span {
	font-family: 'Metrophobic', arial, serif;
	text-decoration: none;
	border: none;
	color: #000;
	position: absolute;
	top: 85px;
	width: 80px;
	text-align: center;
	padding: 0;
	font-size: 14px;
}

.bottomApps {
	background: none repeat scroll 0 0 #CCCCCC;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	clear: both;
	height: 200px;
	margin-bottom: 20px;
	margin-top: -27px;
	padding-left: 3px;
	margin-left: 4px;
}

.profile li {
    list-style-type: none;
}

div.picture {
    border: 1px solid lightGrey;
    padding: 4px;
}

div.picture img {
    border: 1px solid lightGrey
}
