
#user_info {
    float: left;
    width: 149px;
    height: 800px;
    border-right: 1px solid lightGrey;
}

#gen {
	background: #fff url(../images/genback.png) no-repeat;
	background-position: center center;
	text-align: center;
	padding: 0;
	height: 800px;
	position: relative;
	width: 800px;
    float: right;
}

#gen_title_container {
}
#gen_title {
	color: #000;
	font-size: 20px;
}
#gen_title small {
	display: inline;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
}

#searchGenealogy {
	float: right;
	text-align: center;
	font-size: 9px;
}

#searchGenealogy input {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #666;
	padding: 4px;
}

#legend {
	float: left;
	width: 125px;
	padding: 5px;
}
#legend h2 {
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
	padding: 5px;
	margin: 0 10px;
	color: #e9e9e9;
}
#legend ul {
	margin: 0; padding: 0;
	list-style: none;
}
#legend ul li {
	font-size: 12px;
	clear: both;
	line-height: 2em;
	margin: 0 10px;
	color: #d0d0d0;
}
#legend ul li.alt { color: #000; margin-bottom: 10px; font-size: 80%; }
#legend ul li .smallbox {
	height: 1em;
	width: 1em;
	display: block;
	float: left;
	background: black;
	margin: .5em;
	border: 1px solid #e9e9e9;
}

.rbox {
	height: 1em;
	min-width: 1em;
	line-height: 1em;
	padding: .1em 5px .1em 3px;
	color: #fff;
	text-align: center;
	display: block;
	float: left;
	background: black;
	margin: .5em;
	border: 1px solid transparent;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}

.rbox.bk { background-color: black; }
.rbox.rd { background-color: red; }
.rbox.gr { background-color: green; }
.rbox.bl { background-color: blue; }
.rbox.yl { background-color: yellow; color: black; }
.rbox.pl { background-color: purple; }

.dlimg {
	position: absolute;
	width: 150px;
	height: 110px;
	/*overflow: hidden;*/
	text-align: center;
}

.person {
	cursor: pointer;
    max-width: 75px;
}

.person.small {
    max-width: 25px;
}

.more,
.more a {
	font-size: 9px;
	color: #000;
	text-decoration: none;
}

.dlimg h3 {
	margin: 0;
	padding: 0;
	margin-top: 2em;
	font-size: 10px;
	color: #000;
	font-weight: normal;
}

.dlimg.open h3 {
	font-weight: bold;
}

.dlimg .link,
.dlimg .rbox {
	display: none;
}

.dlimg .rbox { position: absolute; }
.dlimg.open .rbox { display: block; }

.dlimg .rbox.bk { top: 0; left: 0; }
.dlimg .rbox.rd { top: 2em; left: 0; }
.dlimg .rbox.gr { top: 4em; left: 0; }
.dlimg .rbox.bl { top: 0; right: 0; }
.dlimg .rbox.yl { top: 2em; right: 0; }
.dlimg .rbox.pl { top: 4em; right: 0; }

.dlimg.open .link {
	display: block;
	position: absolute;
	top: -25px;
	left: 20px;
}
	.dlimg.open .link.linkedin { left: 50px; }
	.dlimg.open .link.facebook { left: 80px; }
	.dlimg.open .link.skype { left: 110px; }

.dlimg .link img {
	width: 30px;
	height: 30px;
}

#paginator {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -231px;
	width: 450px;
	background: #000;
	border: 1px solid #666;
	border-bottom: none;
	overflow: hidden;
	color: #fff;
	font-size: 12px;
	padding: 6px;
}
	#paginator span { display: inline; }
	#paginator span small { display: block; }

#personal_photo-clear_id {
	width: auto !important;
	margin: 0 !important;
}

.entry.photo a { float: none; }
.entry.photo br {}
label[for="personal_photo-clear_id"] {}
.entry.photo input[type="file"] { margin-top: 5px; }
