{% extends "product/product.html" %}
{% load i18n %}
{% load thumbnail %}
{% load product_pricing %}
{% load currency shop_categories%}
{% load shop_utils%}

{% block content %}
<h4>{% trans 'Gift Certificate' %}</h4>
<p>{% autoescape off %}{{ product.translated_description }}{% endautoescape %}</p>
{% trans "Price" %}: <h3 id="price">{{ product.unit_price|currency }}</h3>
{% for pic in product.productimage_set.all %}
    {% thumbnail pic.picture 280x280 as image %}
    <img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" />
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url satchmo_smart_add %}" method="post">

<div>
{% trans "Quantity (multiply the gift certificate by this amount)" %} <input type="text", size="4", name="quantity" id="quantity" value="1" class="priced" />
</div>
<div>
{% trans 'Recipient Email (optional):' %} <input type="text" maxlength="100" name="custom_email" /><br/>
{% trans 'Message (optional):' %}<br/>
<textarea name="custom_message" rows="10" cols="40"></textarea>
</div>

<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
<input type="submit" name="addcart" value="{% trans "Add to cart" %}" />
</form>
{% endblock %}
