{% for field in form.visible_fields %}
<div class="entry">
    <dl>
        <dt><span class="error">{% if field.errors %}*{% endif %}</span> {{ field.label_tag }}:</dt>
        <dd>{{ field }}</dd>
        <!--{% if field.help_text %}<dd>{{ field.help_text  }}</dd>{% endif %}-->
		<dd>{{ field.errors }}</dd>
	</dl>
</div>

    {% if not noclear %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="clear"></div>
        {% endif %}
    {% endif %}
{% endfor %}

<div class="clear"></div>
