{% include "forms/entry.html" with field=form.address1 %}
{% include "forms/entry.html" with field=form.address2 %}
<div class="clear"></div>

{% include "forms/entry.html" with field=form.city %}
{% include "forms/entry.html" with field=form.state %}

{% include "forms/entry.html" with field=form.providence %}

<div class="clear"></div>

{% include "forms/entry.html" with field=form.country %}
{% include "forms/entry.html" with field=form.postal_code %}
<div class="clear"></div>
