{% load i18n %}

<div class="entry date">
	<dl>
		<dt><span class="error">{% if field.errors %}*{% endif %}</span> {{ field.label }}:</dt>
		<dd class="date">{{ field }}</dd>

		<dd>{{ field.errors }}</dd>
	</dl>
</div>

<script type="text/javascript">
function opt(value, text) {
	return new Element('option', {'value': value, 'text': text});
}

window.addEvent('domready', function(){
	var days = [], months = [
		opt(1, '{% trans "January" %}'),
		opt(2, '{% trans "February" %}'),
		opt(3, '{% trans "March" %}'),
		opt(4, '{% trans "April" %}'),
		opt(5, '{% trans "May" %}'),
		opt(6, '{% trans "June" %}'),
		opt(7, '{% trans "July" %}'),
		opt(8, '{% trans "August" %}'),
		opt(9, '{% trans "September" %}'),
		opt(10, '{% trans "October" %}'),
		opt(11, '{% trans "November" %}'),
		opt(12, '{% trans "December" %}')
	];

	for ( var i = 1; i <= 31; i++ ) { days.push(opt(i, i)); }

	$$('dd.date').each(function(el){
		el.setStyle('display', 'none');

		var input = el.getElement('input'),
		entry = el.getParent('.entry'),
		dl = entry.getElement('dl').setStyle('position', 'relative'),
		dt = input.get('value').split('-'),
		year = dt[0], month = dt[1].toInt(), day = dt[2].toInt(),
		maxYears = ((new Date()).getFullYear()-17),
		iMonth = new Element('select').adopt(months).set('value', month),
		iDay = new Element('select').adopt(days).set('value', day),
		iYear = new Element('input', {'type': 'number', 'min': '1900', 'max': maxYears, 'value': year});

		onChange = function(){
			var year = iYear.get('value').toInt(),
			    month = iMonth.get('value'),
			    day = iDay.get('value'),
			    val;
			    
			if ( month.length == 1 ) { month = '0' + month; }
			if ( day.length == 1 ) { day = '0' + day; }
			val = year + '-' + month + '-' + day;

			if ( year > maxYears || year < 1900 ) {
				alert('Please enter a year between 1900 and ' + maxYears);
			} else {
				console.log(val);
				input.set('value', val);
			}
		}

		iMonth.addEvent('change', onChange);
		iDay.addEvent('change', onChange);
		iYear.addEvent('change', onChange);

		dl.adopt(
			new Element('dd').adopt(iMonth),
			new Element('dd').adopt(iDay),
			new Element('dt', {'class': 'year', 'text': '(xxxx)'}),
			new Element('dd').adopt(iYear)
		);
	});
});
</script>
