{% extends "dash/base.html" %}
{% load i18n %}
{% load currency %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Compensation" %}</li>
{% endblock %}

{% block main %}
{% comment %}
<div class="helptext">
    <p><span class="dim">Help</span> Here you are able to see your up to date commissions and your available balance. If you have a high enough commission balance you will be able to request a withdrawal from your funds. A funding account is a virtual bank account that we keep for you to store your commission records.</p>
</div>
{% endcomment %}

<div class="box round border">
    <h2>Compensation by Month, Year</h2>
    <div class="inner">
        <table>
            <thead>
                <tr>
                    <th>{% trans "Year-Month" %}</th>
                    <th>{% trans "Total Tools Compensation" %}</th>
                    <th>{% trans "Total Events Compensation" %}</th>
                    <th>{% trans "Total Compensation" %}</th>
                    <th>{% trans "View Detailed Report" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for month in months %}
                <tr>
                    <td>{{ month.title }}</td>
                    <td>{{ month.tools|currency }}</td>
                    <td>{{ month.events|currency }}</td>
                    <td>{{ month.total|currency }}</td>
                    {# <td><a href="/user/compensation/month-detail/{{month.dt.year}}/{{month.dt.month}}">{% trans "View Detailed Report" %}</td> #}
                    <td><a href="{% url comp_month_detail month.dt.year month.dt.month%}">{% trans "View Detailed Report" %}</td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% comment %}
<div class="box round border colh left">
    <h2>{% trans "Your Funds" %}</h2>
    <div class="inner">
        <table>
            <thead>
                <tr>
                    <th>{% trans "Account" %}</th>
                    <th>{% trans "Balance" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for account in piggybankaccounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.balance|currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for account in piggybankaccounts %}
<div class="box round border colh right">
    <h2>{% blocktrans with account_name=account.name %}Your {{ account_name }} Fundings{% endblocktrans %}</h2>
    <div class="inner">
        <table>
            <thead>
                <tr>
                    <th>{% trans "Compensation Type" %}</th>
                    <th>{% trans "Compensation Plan" %}</th>
                    <th>{% trans "Amount" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for commission in account.commissions %}
                <tr>
                    <td>{{ commission.get_type_display }}</td>
                    <td>{{ commission.plan }}</td>
                    <td>{{ commission.amount|currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>{% trans "Balance" %}</td>
                    <td></td>
                    <th>{{ account.balance|currency }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endfor %}
{% endcomment %}
<div class="clear"></div>
{% endblock %}
