{% extends "dash/base.html" %}
{% load i18n %}
{% load currency %}

{% block naxvbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Compensation" %}</li>
{% endblock %}

{% block main %}
    <div class="box round border">
        <h2>Compensation Monthly Detail</h2>
        <div class="inner">
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Order" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Comission Amount" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commission in month_commissions.object_list %}
                    <tr>
                        <td>{{ commission.order_id }}</td>
                        <td>{{ commission.created|date:"F j, Y" }}</td>
                        <td>${{ commission.commission|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if month_commissions.has_previous %}
                <a href="?page={{ month_commissions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ month_commissions.number }} of {{ month_commissions.paginator.num_pages }}.
            </span>

            {% if month_commissions.has_next %}
                <a href="?page={{ month_commissions.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
