{% extends "admin/base_site.html" %}
{% load i18n  %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url admin:index %}planning/">{% trans "Events" %}</a> &rsaquo; <a href="{% url profits %}">{% trans "Profits" %}</a>
</div>
{% endblock %}

{% block content %}
    <h2>Event commissions successfully processed</h2>
{% endblock %}