{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "Graphical L.O.S." %}</li>

</ul>
<ul class="right">
    <li class="first"><a href="{% url gen_home %}">{% trans "List View" %}</a></li>
{% endblock %}

{% block main %}

{% autoescape off %}
<div id="gen_title_container">
	<h1 id="gen_title">Your Downline</h1>
	<!--<form id="searchGenealogy">
		Search (First and Last name only)<br><input type="text" id="q" />
    </form>-->
</div>

<div class="clear"></div>

<div id="user_info">{% trans "Please wait while we load the page." %}</div>

<div id="gen" class="gen">
	<div id="paginator">
		<span id="count_and_title"></span>
		<div>
			<a href="#" id="paginatorPrev">&lt; Prev</a> &mdash; Page <span id="paginator_current"></span> of <span id="paginator_max"></span> &mdash; <a href="#" id="paginatorNext">Next &gt;</a>
		</div>
	</div>
</div>

<script type="text/javascript">
    var cm = cm || {};
    cm.urls = cm.urls || {};
    cm.urls.gen_ajax = '{% url gen_ajax %}';
    cm.urls.static_url = '{{ STATIC_URL }}';
    cm.user_id = {{ user.pk }};
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/genealogy.js"></script>
{% endautoescape %}

<div class="paginator"></div>

{% endblock %}
