{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li>{% trans "List View L.O.S." %}</li>
</ul>
<ul class="right">
    <li class="first"><a href="{% url gen_graphical %}">{% trans "Graphical View" %}</a></li>
{% endblock %}


{% block main %}

    <h2>{% trans "Downline Genealogy" %}</h2>
    <table>
        <caption>Downline Genealogy</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>IBO</th>
                <th>Email</th>
                <th>Telephone</th>
            </tr>
        </thead>
    {% for pos in downline %}
    <tr>
        <td>{{ pos.user.get_full_name }}</td>
        <td>{{ pos.user.profile.ibo_number }}</td>
        <td>{{ pos.user.email }}</td>
        <td>{{ pos.user.phone }}</td>
        {% comment %}
        <td>more info
            <div class="info" style="display: none">
                IBO Number: {{ u.profile.ibo_number }}
                Upline: {{ u.upline }}
                Address: 
            </div>
        </td>
        {% endcomment %}
    </tr>
    {% endfor %}
    </table>

    <h2>{% trans "Upline Genealogy" %}</h2>
    <table>
        <caption>Upline Genealogy</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>IBO</th>
                <th>Email</th>
                <th>Telephone</th>
            </tr>
        </thead>
    {% for pos in upline %}
    <tr>
        <td>{{ pos.user.get_full_name }}</td>
        <td>{{ pos.user.profile.ibo_number }}</td>
        <td>{{ pos.user.email }}</td>
        <td>{{ pos.user.phone }}</td>
        {% comment %}
        <td>more info
            <div class="info" style="display: none">
                IBO Number: {{ u.profile.ibo_number }}
                Upline: {{ u.upline }}
                Address: 
            </div>
        </td>
        {% endcomment %}
    </tr>
    {% endfor %}
    </table>

    <p>The information within this report is CONFIDENTIAL and SECRET and is the property of eFinity, Inc. Unauthorized use or distribution is prohibited, please contact eFinity, Inc., if you have any questions or to report a violation.</p>

{% endblock %}
