/*- TIMELINE */
/* For IE7 we need to replace the table-row and table-cell styling with
 * blocks and inline-blocks. Since IE7 won't actually allow us to make a <div>
 * into an inline-block, we mimic this behavior by setting display: inline and
 * zoom: 1 to trigger 'hasLayout'.
 *
 * IE also does not support height: inherit, so we need to explicitly set
 * several heights.
 */
*+html .timeline {
	position: static;
}

.timeline .years {
	display: block;
}

.timeline .years .year {
	position: absolute;
	display: inline;
	height: 100%;
	zoom: 1;
}

.timeline .year > span {
	filter: alpha(opacity='20');
	height: 25px;
	padding-top: 25px;
}

.timeline .years .months {
	display: block;
	height: 100%;
}

.timeline .years .months div {
	display: inline;
	height: 100%;
	zoom: 1;
}

.timeline .track {
	height: 50px;
}

.timeline .handle .resizehandleleft,
.timeline .handle .resizehandleright {
	height: 100%;
}

.media_row {
	white-space: nowrap;
	width: 2000px;
}

.mediaphotos > ul {
	display: block;
}

.mediaphotos > ul li {
	width: 150px;
	display: inline-block;
	float: left;
}

.mediaphotos li.media .mediatitle {
	overflow: hidden;
}

/* Fix delete button spacing */

*+html .comments .button.delete {
	margin: -22px 0 6px 0; 
	float: right;
}





/* IE 6 & 7 */

/* Proper fixed width for dashboard in IE6 */

.dashboard #content {
    *width: 768px;
}

.dashboard #content-main {
    *width: 535px;
}

/* IE 6 ONLY */

/* Keep header from flowing off the page */

#container {
    _position: static;
}

/* Put the right sidebars back on the page */

.colMS #content-related {
    _margin-right: 0;
    _margin-left: 10px;
    _position: static;
}

/* Put the left sidebars back on the page */

.colSM #content-related {
    _margin-right: 10px;
    _margin-left: -115px;
    _position: static;
}

.form-row {
    _height: 1%;
}

/* Fix right margin for changelist filters in IE6 */

#changelist-filter ul {
    _margin-right: -10px;
}

/* IE ignores min-height, but treats height as if it were min-height */

.change-list .filtered {
    _height: 400px;
}

/* IE doesn't know alpha transparency in PNGs */

.inline-deletelink {
    background: transparent url(../img/admin/inline-delete-8bit.png) no-repeat;
}
