{% extends "support/base.html" %}
{% load adminmedia admin_list i18n %}

{% block search %}{% endblock %}


{% block content %}
	<h2>Checkin Successful</h2>
	<p><a href='{% url admin:checkin_home %}'>Return to Checkins</a></p>
{% endblock content %}