{% extends "support/base.html" %}
{% load adminmedia admin_list i18n %}

{% block search %}{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css" />
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% if cl.formset or action_form %}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}


{% block content %}

<!-- Check in form --> 
    	<form action='{% url admin:support_checkin %}' method='POST'>
    		<fieldset class='module aligned' style='border: 1px solid #DDD;'>
    			
    			<!-- These are just informational bits -->
    			<div class='form-row'>
    				<h2>IBO: {{ searched_user.get_full_name }} - {{ event }} </h2>
    				<label style='width: auto;'>Seating Section: Bluoph</label>
				</div>
				
				<div class='form-row'>
					<label style='width: auto;'>Number of Tickets Purchased: {{ num_tickets|floatformat:0 }}</label>
				</div>
				
				<div class='form-row'>
					<label style='width: auto;'>Number of Ticked Holders Currently Checked in: {{ num_checked_in|default:"0" }}</label>
				</div>
    			
				{% if num_checked_in < num_tickets %}
				<!-- Actual form -->
					{{ field.non_field_errors }}
		    		{% for field in check_in_form.visible_fields %}
		    			<div class='form-row'>
		    				{{ field.errors }}
		    				{{ field.label_tag }} {{ field }}
		    			</div>
		    		{% endfor %}
		    		
		    		{% for field in check_in_form.hidden_fields %}
		    			{{ field }}
		    		{% endfor %}
		    		{% csrf_token %}
		    		<div class='form-row'>
		    			<label>Confirm Check In</label>
		    			<input type='submit' value='Check In'>
		    		</div>
	    		{% endif %}
	    	</fieldset>
    	</form>
{% endblock %}