{% extends "support/base.html" %}
{% load adminmedia admin_list i18n %}

{% block breadcrumb-local %}Check-Ins{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css" />
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% if cl.formset or action_form %}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}


{% block search %}
<div class="container navigation">
    <form id="changelist-search" action="search" method="get">
    <div>
    	<span class="pct100">
            <input id="search" type="search" name="q" value="{% block search_query %}{{ search_query }}{% endblock %}" placeholder="{% trans 'Search for Users or Check-Ins (then hit enter)' %}">
        </span>
    </div>
    </form>

    <script type="text/javascript">document.getElementById("search").focus();</script>

    {% if show_result_count %}
        <span class="small quiet">{% blocktrans count cl.result_count as counter %}1 result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
    {% endif %}

    {% for pair in cl.params.items %}
        {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
	<h2>Event Check-In Interface</h2>
    <div class="module">
        <form action='{% url admin:planning_attending_changelist %}' method='GET'>
        	<fieldset class='module aligned' style='border: 1px solid #DDD;'>
	        	{% for field in form %}
	        	<div class='form-row'>
	        		{{ field.errors }}
	        		{{ field.label_tag }} {{ field }}
	        	</div>
	        	{% endfor %}
	        		
        		<div class='form-row'><input type='submit' value='Find'></div>
        	</fieldset>
        </form>
    </div>
 <br>
    <div class="module">
    {% if num_tickets %}
    	    	
    	<!-- Check in form --> 
    	<form action='{% url admin:support_checkin %}' method='POST'>
    		<fieldset class='module aligned' style='border: 1px solid #DDD;'>
    			
    			<!-- These are just informational bits -->
    			<div class='form-row'>
    				<h2>IBO: {{ searched_user.get_full_name }} - {{ event }} </h2>
    				<label style='width: auto;'>Seating Section: Bluoph</label>
				</div>
				
				<div class='form-row'>
					<label style='width: auto;'>Number of Tickets Purchased: {{ num_tickets|floatformat:0 }}</label>
				</div>
				
				<div class='form-row'>
					<label style='width: auto;'>Number of Ticked Holders Currently Checked in: {{ num_checked_in|default:"0" }}</label>
				</div>
    			
				{% if num_checked_in < num_tickets %}
					<!-- Actual form -->
		    		{% for field in check_in_form.visible_fields %}
		    			<div class='form-row'>
		    				{{ field.errors }}
		    				{{ field.label_tag }} {{ field }}
		    			</div>
		    		{% endfor %}
		    		
		    		{% for field in check_in_form.hidden_fields %}
		    			{{ field.errors }}
		    			{{ field }}
		    		{% endfor %}
		    		{% csrf_token %}
		    		<div class='form-row'>
		    			<label>Confirm Check In</label>
		    			<input type='submit' value='Check In'>
		    		</div>
	    		{% endif %}
	    	</fieldset>
    	</form>
	
    {% else %}
		{% if not searched_user %}
			<h2>Couldn't find a user with that IBO number</h2>
		{% else %}
			<h2>{{ searched_user.get_full_name }} hasn't purchased any tickes for {{ event }}</h2>	
		{% endif %}
	{% endif %}
	</div>
</div>
{% endblock %}
