{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block bodyclass %}page-dashboard{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">{% trans "Dashboard" %}</a>
        <a href="{% url support_home %}">{% trans "Customer Support" %}</a>
        {% block breadcrumb-local %}{% endblock %}
    </div>
{% endblock %}

{% block filters %}
<div class="notes">
  <h2>Actions</h2>
  <div class="sidebarmenu">
    <ul>
      <li>
        <a href="{% url support_register %}">{% trans "Add Customer" %}</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}


{% block search %}
<div class="container navigation">
    <form id="changelist-search" action="{% url support_search %}" method="get">
    <div>
    	<span class="pct100">
            <input id="search" type="search" name="q" value="{% block search_query %}{{ search_query }}{% endblock %}" placeholder="{% trans 'Search for users or orders (then hit enter)' %}">
        </span>
    </div>
    </form>

    <script type="text/javascript">document.getElementById("search").focus();</script>

    {% if show_result_count %}
        <span class="small quiet">{% blocktrans count cl.result_count as counter %}1 result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
    {% endif %}

    {% for pair in cl.params.items %}
        {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
    {% endfor %}
</div>
{% endblock %}
