{% extends "admin/base_site.html" %}
{% load i18n  %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin/">{% trans "Home" %}</a> <span>{% trans "Broadcast" %}</span>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/jwysiwyg/jquery.wysiwyg.js"></script>
<style type="text/css"> @import url({{ STATIC_URL }}vendor/jwysiwyg/jquery.wysiwyg.css); </style>

<form method="POST">
  <div id="content" class="colM">
    <fieldset>
      <legend>Broadcast Criteria</legend>
      <div style="margin-left:10px">
	{% csrf_token %}
	<div id="search_criteria">
	  <select id='search_type' name='search_type'>
	    <option value='st'>Subscription Type</option>
	    <option value='los'>LOS Based</option>
	    <option value='ibo'>IBO Based</option>
	  </select>
	  
	    <select class='sc sc_st' name='st' style='width:230px;'>
	      <option value='-1'>Select Subscription</option>{% for s in subscriptions %}<option value="{{ s.product__id }}">{{ s.product__name }}</option>{% endfor %} 
	    </select>
	    
	    <select class='sc_los sc' style='display:none; width:230px;' name='los'>
	      <option value='-1'>Select Leader</option>{% for l in leaders %}<option value="{{ l.id }}">{{ l.first_name }} {{ l.last_name }}</option>{% endfor %} 
	    </select>
	  
	    <span class='sc sc_st sc_los'>
	    &nbsp; 
	    and
	    &nbsp;
	    
	    PIN LEVEL: &nbsp; 
	    </span>
	    <select name='pin_equality' style="width:130px;" class='sc sc_st sc_los'>
              <option value="1">Equal to</option>
              <option value="2">Equal to and less</option>
              <option value="3">Equal to and above</option>
	    </select>
	    
	    <select name='pin_level'  style="width:130px;" class='sc sc_st sc_los'>
	      <option value="-1">ALL</option>
	      {% for g in groups %}
	      <option value="{{ g.id }}">{{ g.name }}</option>
	      {% endfor %} 
	    </select>		

	    <input type="text" class="sc sc_ibo"  style='margin:0px; display:none; width:60%;' name="ibo" />

	</div>
	<div style="margin-top:10px; color:red;">
	  {% if not_send_to %}
	    Broadcast not sent to: {% for u in not_send_to %}{% if not forloop.first %}, {% endif %}{{ u }}{% endfor %}.
	  {% endif %}
	</div>
	<div style="margin-top:10px; color:green;">
	  {% if send_to %}
	    Broadcast sent to: {% for u in send_to %}{% if not forloop.first %}, {% endif %}{{ u }}{% endfor %}.
	  {% endif %}
	</div>
      </div>
    </fieldset>
    <div>

    <div id="subject">
      <label for="email_sub" style="width:auto;">Subject:</label>
      <input type="text" id="email_sub" name="subject" style="width:98%;"/>
    </div>

    <br/><br/>

    <div id="email" >
      <textarea id="wysiwyg" name="email" style="width:97%">
	{% if email_text %}{{ email_text }}{% endif %}
      </textarea>
    </div>

    <div style="padding-top:10px; ">
      <input type="submit" name="action" value="Send Broadcast"/>
    </div>


    </div>
  </div>
</form>


<script type="text/javascript">
jQuery.noConflict();
jQuery(function() {
    jQuery('#wysiwyg').wysiwyg();

    jQuery('#search_type').change(function(){
      id=jQuery(this).val()
      jQuery('.sc').hide()
      jQuery('.sc_'+id).show()
    })
});
</script>
            
{% endblock %}

{% block contentc %}

<form method="post" action="{% url broadcast %}">

    <br/><br/>

</form>


{% endblock %}
