{% extends "lively/base.html" %}

{% block title %}Checkin{% endblock %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
 <a href="/">Home</a>
 <a href="{% url reports_home %}">Reports</a>
 {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block top-filter %}
<form>
  <fieldset>
    <legend>Select Event for Checkin</legend>
    <div style="margin-left:10px">      
      Specific Event: <select id="event" name="event">{% for e in events %}<option  {% ifequal e.id eid %} selected {% endifequal %} value='{{ e.id }}'>{{ e.name }} (Event ID: {{e.id}})</option>{% endfor %}</select>&nbsp;&nbsp;
      <input type="submit" value="Search"/>
    </div>
  </fieldset>
</form>
<style>
  .ui-button { margin-left: -1px; }
  .ui-button-icon-only .ui-button-text { padding: 0.35em; } 
  .ui-autocomplete-input { margin: 0; padding: 0.4em 0 0.4em 0.45em; outline:none; }
</style>

<script>
//from http://jqueryui.com/demos/autocomplete/#combobox

$(document).ready(function(){
(function( $ ) {
$.widget( "ui.combobox", {
_create: function() {
var self = this,
select = this.element.hide(),
selected = select.children( ":selected" ),
value = selected.val() ? selected.text() : "";
var input = this.input = $( "<input>" )
.insertAfter( select )
.val( value )
.autocomplete({
delay: 0,
minLength: 0,
source: function( request, response ) {
var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
response( select.children( "option" ).map(function() {
var text = $( this ).text();
if ( this.value && ( !request.term || matcher.test(text) ) )
return {
label: text.replace(
new RegExp(
"(?![^&;]+;)(?!<[^<>]*)(" +
			 $.ui.autocomplete.escapeRegex(request.term) +
			 ")(?![^<>]*>)(?![^&;]+;)", "gi"
    ), "<strong>$1</strong>" ),
    value: text,
    option: this
    };
    }) );
    },
    select: function( event, ui ) {
    ui.item.option.selected = true;
    self._trigger( "selected", event, {
    item: ui.item.option
    });
    },
    change: function( event, ui ) {
    if ( !ui.item ) {
    var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
    valid = false;
    select.children( "option" ).each(function() {
    if ( $( this ).text().match( matcher ) ) {
    this.selected = valid = true;
    return false;
    }
    });
    if ( !valid ) {
    // remove invalid value, as it didn't match anything
    $( this ).val( "" );
    select.val( "" );
    input.data( "autocomplete" ).term = "";
    return false;
    }
    }
    }
    })
    .addClass( "ui-widget ui-widget-content ui-corner-left" );

    input.data( "autocomplete" )._renderItem = function( ul, item ) {
    return $( "<li></li>" )
    .data( "item.autocomplete", item )
    .append( "<a>" + item.label + "</a>" )
    .appendTo( ul );
    };

    this.button = $( "<button type='button'>&nbsp;</button>" )
    .attr( "tabIndex", -1 )
    .attr( "title", "Show All Items" )
    .insertAfter( input )
    .button({
    icons: {
    primary: "ui-icon-triangle-1-s"
    },
    text: false
    })
    .removeClass( "ui-corner-all" )
    .addClass( "ui-corner-right ui-button-icon" )
    .click(function() {
    // close if already visible
    if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
    input.autocomplete( "close" );
    return;
    }

    // work around a bug (likely same cause as #5265)
    $( this ).blur();

    // pass empty string as value to search for, displaying all results
    input.autocomplete( "search", "" );
    input.focus();
    });
    },

    destroy: function() {
    this.input.remove();
    this.button.remove();
    this.element.show();
    $.Widget.prototype.destroy.call( this );
    }
    });
    })( jQuery );


  $("#event").combobox();
})
</script>
{% endblock %}

