<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>eFinity</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}cm/css/style.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" media="screen">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" media="screen">
  <link href="{{ STATIC_URL }}css/shop.css" rel="stylesheet" type="text/css" media="screen" />
  <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/mootools/1.3.2/mootools-yui-compressed.js"></script>
  <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL}}js/mootools.more.js"></script>
  <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/core.js"></script>
</head>
<body class="">
  <div class="toolbar top">
  </div>
  <div id="header">

    <div class="margined">
      <a href="/" style="margin-top: 10px; display: block;"><img style="float: left" src="{{ MEDIA_URL }}images/logow60.png" alt="" /></a>
    </div>
  </div>

  <div class="margined">
    <style>
    input[type='text'], textarea{
      border:1px solid black;
      line-height:20px;
      width:400px;
    }
    input[type='text']{
      width:200px;
    }
    </style>
    <div id="content">	      
      <div>

        {% if error %}
       <h3>Your request could not be processed at this time.</h3>
       <h4>If this issue persist please fill out the form below with a brief description of the error.</h4>
       <h4>You can also click the back button on your browser to try this request again.</h4>
       <div>
        <span style="color:red">Please enter all the correctly.</span>
        <form method="POST" action="/user/support/contact-us/">
         Name<br/>
         <input type="text" name="name" value="{% if name %}{{name}}{% endif %}"/><br/><br/>

         Email<br/>
         <input type="text" name="email" value="{% if email %}{{email}}{% endif %}"/><br/><br/>

         Description/Request<br/>
         <textarea name="description">{% if description %}{{description}}{% endif %}</textarea><br/><br/>

         <input type="submit"/>
       </form>
     </div>
     {% endif %}
     {% if show_apology %}
     <div>
      <h3>
        Thank you for notifying us about the problem you're having with the website. 
        If this problem persists please contact IBO Support at 1-866-686-8861 and let them know you need assistance.  
        and again, Thank you.
      </h3>
    </div>
    {% endif %}

  </div>
</div>
</div>

<div class="margined">
  <div id="footer">
    <p class="left">Copyright &copy; 2011, eFinity, Inc. All rights reserved.&nbsp;   &nbsp;IBO Support 866.686.8861</p>

    <p class="right">Powered by <a href="http://www.almondev.com" onclick="this.target='_blank'">Almond Development</a> technologies.</p>
  </div>
</div>



</body>
</html>

