{% extends "lively/base.html" %}
{% load humanize %}

{% block title %}Commission Per Person Per Event Report{% endblock %}

{% block extrahead %}
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <a href="/">Home</a>
    <a href="{% url reports_home %}">Reports</a>
    {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block filters %}
    <div class="notes">
        <h3>Quick Links</h3>

        <div class="sidebarmenu">
            <ul>
                <li><a href="/user/reports/commissions/">Event Sales Periodic Report</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if con %}
        <style>
            #event_det {
                width: 100%
            }

            #event_det td {
                text-align: left
            }
        </style>
        <table id="event_det">
            <tr>
                <td style="width:150px; ">Name of the Event:</td>
                <td>{{ con.name }}</td>
            </tr>
            <tr>
                <td>Date of Event:</td>
                <td>{{ con.start }}{% if con.end %} - {{ con.end }}{% endif %}</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>{{ con.location }}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{ con.address }}</td>
            </tr>
            <tr>
                <td>Coordinator:</td>
                <td>eFinity Events</td>
            </tr>
            <tr>
                <td>Profilt Per Head:</td>
                <td>${{ pph|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>Tickets sold:</td>
                <td>${{ ticket_count }}</td>
            </tr>
        </table>

        {% if user_comm %}
            <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin-top:25px;">
                <thead>
                <tr>
                    <th>IBO</th>
                    <th>Name</th>
                    <th>Commission on this event</th>
                    <th>Eligible</th>
                </tr>
                </thead>
                <tbody>

                {% for ibo, details in user_comm.items %}
                    <tr>
                        <td>{{ ibo }}</td>
                        <td>{{ details.name }}</td>
                        <td>${{ details.total|floatformat:2|intcomma }}</td>
                        <td>{{ details.eligible }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td><strong>Grand total</strong></td>
                        <td>&nbsp;</td>
                        <td>$<strong>{{ total_given_away|floatformat:2|intcomma }}</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>

                <tfoot>
                <tr>
                    <th colspan="8">
                        <a class="publish" href="javascript:window.print(); void(0);">print</a>
                        <a class="add" href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}export=csv">generate
                            csv</a></th>
                </tr>
                </tfoot>

            </table>

        {% endif %}
    {% endif %}
{% endblock %}



{% block top-filter %}
    <form>
        <fieldset>
            <legend>Customize Report</legend>
            <div style="margin-left:10px">
                Specific Event: <select id="event" name="event">{% for e in events %}
                <option  {% ifequal e.id eid %} selected {% endifequal %} value='{{ e.id }}'>
                {{ e.name }} (Event ID: {{ e.id }})</option>{% endfor %}</select>&nbsp;&nbsp;
                <input type="submit" value="Search"/>
            </div>
        </fieldset>
    </form>
    <style>
        .ui-button {
            margin-left: -1px;
        }

        .ui-button-icon-only .ui-button-text {
            padding: 0.35em;
        }

        .ui-autocomplete-input {
            margin: 0;
            padding: 0.4em 0 0.4em 0.45em;
            outline: none;
        }
    </style>

    <script>
        //from http://jqueryui.com/demos/autocomplete/#combobox

        $(document).ready(function () {
            (function ($) {
                $.widget("ui.combobox", {
                    _create:function () {
                        var self = this,
                                select = this.element.hide(),
                                selected = select.children(":selected"),
                                value = selected.val() ? selected.text() : "";
                        var input = this.input = $("<input>")
                                .insertAfter(select)
                                .val(value)
                                .autocomplete({
                                    delay:0,
                                    minLength:0,
                                    source:function (request, response) {
                                        var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                                        response(select.children("option").map(function () {
                                            var text = $(this).text();
                                            if (this.value && ( !request.term || matcher.test(text) ))
                                                return {
                                                    label:text.replace(
                                                            new RegExp(
                                                                    "(?![^&;]+;)(?!<[^<>]*)(" +
                                                                            $.ui.autocomplete.escapeRegex(request.term) +
                                                                            ")(?![^<>]*>)(?![^&;]+;)", "gi"
                                                            ), "<strong>$1</strong>"),
                                                    value:text,
                                                    option:this
                                                };
                                        }));
                                    },
                                    select:function (event, ui) {
                                        ui.item.option.selected = true;
                                        self._trigger("selected", event, {
                                            item:ui.item.option
                                        });
                                    },
                                    change:function (event, ui) {
                                        if (!ui.item) {
                                            var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex($(this).val()) + "$", "i"),
                                                    valid = false;
                                            select.children("option").each(function () {
                                                if ($(this).text().match(matcher)) {
                                                    this.selected = valid = true;
                                                    return false;
                                                }
                                            });
                                            if (!valid) {
                                                // remove invalid value, as it didn't match anything
                                                $(this).val("");
                                                select.val("");
                                                input.data("autocomplete").term = "";
                                                return false;
                                            }
                                        }
                                    }
                                })
                                .addClass("ui-widget ui-widget-content ui-corner-left");

                        input.data("autocomplete")._renderItem = function (ul, item) {
                            return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a>" + item.label + "</a>")
                                    .appendTo(ul);
                        };

                        this.button = $("<button type='button'>&nbsp;</button>")
                                .attr("tabIndex", -1)
                                .attr("title", "Show All Items")
                                .insertAfter(input)
                                .button({
                                    icons:{
                                        primary:"ui-icon-triangle-1-s"
                                    },
                                    text:false
                                })
                                .removeClass("ui-corner-all")
                                .addClass("ui-corner-right ui-button-icon")
                                .click(function () {
                                    // close if already visible
                                    if (input.autocomplete("widget").is(":visible")) {
                                        input.autocomplete("close");
                                        return;
                                    }

                                    // work around a bug (likely same cause as #5265)
                                    $(this).blur();

                                    // pass empty string as value to search for, displaying all results
                                    input.autocomplete("search", "");
                                    input.focus();
                                });
                    },

                    destroy:function () {
                        this.input.remove();
                        this.button.remove();
                        this.element.show();
                        $.Widget.prototype.destroy.call(this);
                    }
                });
            })(jQuery);


            $("#event").combobox();
        })
    </script>

{% endblock %}

