  <div class='exp_cat'>
    <input type="text" placeholder="Expense Category" value="{{ ec.label }}" name='parent_cat' class='parent_cat tot'/> <span class='remove_cat'>x</span>
    <table>
      {% for exp in exps %}
      {% ifequal forloop.parentloop.counter0 forloop.counter0 %}
      
      {% for finally in exp %}

      <tr>
	<td>
	  <input type="text" placeholder="Expense Head" class="tot" value="{{ finally.label }}"/>
	</td>
	<td>
	  <input type="text" placeholder="Enter Cost in Dollars" value="{{ finally.amount|floatformat:2 }}" class='costing tot totnum'/> <span class='remove_row'>x</span>
	</td>
      </tr>
      
      {% endfor %}

      {% endifequal %}
      {% endfor %}
      
      {% if not ec %}
      <tr>
	<td>
	  <input type="text" placeholder="Expense Head" class="tot" value="{{ finally.label }}"/>
	</td>
	<td>
	  <input type="text" placeholder="Enter Cost in Dollars" value="{{ finally.amount|floatformat:2 }}" class='costing tot totnum'/> <span class='remove_row'>x</span>
	</td>
      </tr>
      {% endif %}

       
    </table>
    <div class='add_sc_par'>
      <button class='add_sc'>Add Expense</button>
      <strong><span style='float:right; margin-right:10px;'>Total: $<span class='cost'>0</span></span></strong>
    </div>
  </div>
