{% extends 'lively/base.html' %}
{% block title %}Dashboard{% endblock %}
{% load i18n %}

{% block breadcrumbs %}
  <a href="/">Home</a>
  {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block content %}
  <div class="boxcontainer"> 
    <a href="javascript:void(0)"><img src="{{ MEDIA_URL }}lively/icons/home.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="javascript:void(0)">Dashboard Home</a></h4>
    Returns you to your home dashboard.
  </div>
  <div class="boxcontainer">
    <a href="{% url products_nav %}"><img src="{{ MEDIA_URL }}lively/icons/cart.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url products_nav %}">Products &amp; Orders</a></h4>
    Add products or Subscriptions. Check order history, order status's
  </div>
  <div class="boxcontainer">
    <a href="{% url support_list %}"><img src="{{ MEDIA_URL }}lively/icons/gallery.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url support_list %}">Video / Media</a></h4>
    Add promotional or training videos to your site.,
  </div>
  <div class="boxcontainer">
    <a href="{% url broadcast %}"><img src="{{ MEDIA_URL }}lively/icons/email.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url broadcast %}">Email Broadcast</a></h4>
    Send email to your entire team or selected members based on your criteria
  </div>
  <div class="boxcontainer">
    <a href="{% url event_nav_list %}"><img src="{{ MEDIA_URL }}lively/icons/events.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url event_nav_list %}">Events</a></h4>
    Add meetings to your site. View ticket information for all meetings and mange the checkin procdure for users..
  </div>
  <div class="boxcontainer">
    <a href="/user/reports/all/"><img src="{{ MEDIA_URL }}lively/icons/reports.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="/user/reports/all/">Reports</a></h4>
    Create a variety of report from a single page.
  </div>
  <div class="boxcontainer">
    <a href="{% url admin:index %}dashboard/document"><img src="{{ MEDIA_URL }}lively/icons/folders.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}dashboard/document">Documents</a></h4>
    Upload documents to your sight for training, information or forms.
  </div>
  <div class="boxcontainer">
    <a href="{% url admin:index %}auth/user/"><img src="{{ MEDIA_URL }}lively/icons/users.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}auth/user/">User Information</a></h4>
    Search users in your system to alter details, communicate or view activities.
  </div>
  <div class="boxcontainer">
    <a href="{% url commissions_reports %}"><img src="{{ MEDIA_URL }}lively/icons/commission.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url commissions_reports %}">Accounting</a></h4>
    View user commisions and generate payouts for commisions,
  </div>

  <div style="clear:both; padding-top:10px;">
    <h2>Welcome to Your Admin Dashboard!</h2>
    <p>From here you can easily navigate from on area to another with ease!</p>
    <p> Please feel free to send suggestions for improvements or additions to jkellie@me.com.</p>
  </div>
{% endblock %}


{% block filters %}
  <div class="notes">
    <h2>Your Inbox</h2>
    <div class="sidebarmenu">
      <ul>
	{% load inbox %}
	{% get_inbox_messages %}
	{% for message in inbox_messages %}
	<li>
	  {{ message.sent_at|date:'M j' }}  <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a> by {{ message.sender }}
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
