{% extends "support/base.html" %}
{% load i18n %}

{% block breadcrumb-local %}Home{% endblock %}

{% block content-container %}
<div class="container dashboardinfo transparent">
    <p>
        This is the customer support dashboard provided as part of Cross Market<br>
        This dashboard is full of useful tools to assist you as a customer service representative<br>
        
        To get started, search for a customer or an order above
    </p>
</div>
{% endblock %}
