{% extends 'lively/base.html' %}
{% block title %}Support{% endblock %}

{% block breadcrumbs %}
  <a href="/">Home</a>
  {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block content %}

  <div class="boxcontainer"> <a href="{% url admin:index %}dashboard/document/"><img src="{{ MEDIA_URL}}lively/icons/content.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}dashboard/document/">Documents</a></h4>
    Upload your documents here pdfs, docs, xls, jpg, png
  </div>
  <div class="boxcontainer"> <a href="{% url admin:index %}mediaupload/bbk/"><img src="{{ MEDIA_URL}}lively/icons/bbkvid.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}mediaupload/bbk/">BBK Vidoeos</a></h4>
    Upload BBK product videos here that diplay under the product
  </div>
  <div class="boxcontainer"> <a href="{% url admin:index %}mediaupload/promo/"><img src="{{ MEDIA_URL}}lively/icons/promovid.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}mediaupload/promo/">Promotional Videos</a></h4>
    Upload videos for users to display on thier Promo Page websites
  </div>
  <div class="boxcontainer"> <a href="{% url admin:index %}mediaupload/training/"><img src="{{ MEDIA_URL}}lively/icons/trainvid.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}mediaupload/training/">Training Videos</a></h4>
    Upload Training Videos to your site
  </div>
  <div class="boxcontainer"> <a href="{% url admin:index %}mediaupload/etv/"><img src="{{ MEDIA_URL}}lively/icons/etv.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="{% url admin:index %}mediaupload/etv/">eTV</a></h4>
    Upload eTV videos and control when they will be viewed
  </div>
  <div style="clear:both"></div>
{% endblock %}
