{# {% extends "admin/base_site.html" %} #}
{% extends "lively/base.html" %}

{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url admin:index %}planning/">{% trans "Events" %}</a> <span>{% trans "Expense Report" %}</span>
    </div>
{% endblock %}

{% block content %}
    <div>
        <form method='POST'>
            Event:

            <select name="convention">
                {% for c in conventions %}
                    <option value="{{ c.id }}"
                            {% ifequal selected_event c.id|stringformat:'s' %}selected{% endifequal %}>{{ c.name }}</option>
                {% endfor %}
            </select>
            {% csrf_token %}
            <input type='submit' name='submit_event' value='Select'/>
        </form>
    </div>

    {% if post %}
        <style>
            #expense_table td, #profit_table td {
                border: 0px;
                text-align: left;
            }

            .exp_cat {
                margin-top: 10px;
                border-bottom: 1px dotted #a6a6a6;
                padding-bottom: 10px;
            }

            .exp_cat .parent_cat {
                margin-left: 10px;
                width: 55%;
                font-weight: bold;
            }

            .exp_cat .remove_cat {
                margin-right: 10px;
            }

            .exp_cat table {
                width: 100%;
            }

            .exp_cat table td {
                text-align: left;
            }

            .exp_cat table td {
                border: 0px;
            }

            .exp_cat table tr td:first-child {
                width: 80%;
            }

            .exp_cat table tr td:last-child {
                text-align: right;
            }

            .exp_cat table tr input {
                width: 71%;
                text-align: left;
            }

            span.remove_row {
                cursor: pointer;
                color: red;
            }

            span.remove_cat {
                cursor: pointer;
                color: red;
                float: right;
            }

            .add_sc_par {
                height: 20px;
            }

            .add_sc {
                float: left;
                margin-left: 10px;
            }

            #add_cat {
                margin: 10px 0px;
            }

            .left {
                float: left;
            }

            #calculate_event_commissions {
                margin-top: 10px;
            }

            #calculate_event_commissions hr {
                margin-bottom: 10px;
            }

            #calculate_event_commissions form {
                margin-left: 10px;
            }

            #process_commissions_button {
                margin-left: 10px;
            }

            #process_commissions_loading {
                margin-left: 10px;
                display: none;
            }

            #save_expenses_first {
                display: none;
            }

                /*Styling buttons*/
            .awesome, .awesome:visited {
                background: #222 url(/images/alert-overlay.png) repeat-x;
                display: inline-block;
                padding: 5px 10px 6px;
                color: #fff;
                text-decoration: none;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                position: relative;
                cursor: pointer;
            }

            .awesome:hover {
                background-color: #111;
                color: #fff;
            }

            .awesome:active {
                top: 1px;
            }

            .small.awesome, .small.awesome:visited {
                font-size: 11px;
{#                padding:;#}
                color: white;
            }

            .awesome, .awesome:visited,
            .medium.awesome, .medium.awesome:visited {
                font-size: 13px;
                font-weight: bold;
                line-height: 1;
                text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
            }

            .large.awesome, .large.awesome:visited {
                font-size: 14px;
                padding: 8px 14px 9px;
            }

            .blue.awesome, .blue.awesome:visited {
                background-color: #2daebf;
            }

            .blue.awesome:hover {
                background-color: #007d9a;
            }

            .magenta.awesome, .magenta.awesome:visited {
                background-color: #a9014b;
            }

            .magenta.awesome:hover {
                background-color: #630030;
            }

        </style>

        <div>
            <strong>Number of tickets sold: <span id="sales_count_total">{{ tickets.count|floatformat:'0' }}</span> @ $<span id="sales_total_total">{{ tickets.total|floatformat:'2' }}</span></strong><br/>
            <strong>Number of cancelled tickets: <span id="sales_count_cancelled">{{ cancelled_tickets.count|floatformat:'0' }}</span> @ $<span id="sales_total_cancelled">{{ cancelled_tickets.total|floatformat:'2' }}</span> </strong><br/>
            <strong>Adjusted gross: <span id="sales_count">{{ adjusted_tickets.count|floatformat:'0' }}</span> @ $<span id="sales_total">{{ adjusted_tickets.total|floatformat:'2' }}</span> </strong>
        </div>

        <div id="expenses">
            {% for ec in exp_cat %}
                {% include "support/expense.html" %}
            {% endfor %}
        </div>

        <div style="overflow:auto">
            <button id="add_cat">Add Expense Category</button>
        </div>

        <div id='expense_table'>
            <table style="width:100%;">
            </table>
        </div>
        <div>
            <table style="width:100%; margin-top:10px;">
                <tr>
                    <td style="width:80%; text-align:left;"><strong>Summary Income Statement:</strong> (Adjusted Gross)
                    </td>
                    <td style="text-align:right">
                        <strong>$<span id="total_sale_income">{{ adjusted_tickets.total|floatformat:'2' }}</span></strong>
                    </td>
                </tr>
            </table>
        </div>
        <div id='profit_table'>
            <table style="width:100%; margin-top:10px;">
            </table>
        </div>

        <div id='exp_html' style='display:none'>
            {% include "support/expense.html" %}
        </div>

        <div id="calculate_event_commissions">
            <hr>
            {% if con.compensation_paid %}
                <a style="float:right" href="{% url profits_reset selected_event %}" class="small blue awesome">Reset
                    Commissions</a>
                <h3>Commissions have already been processed for this event</h3>
            {% else %}
                <h3>Process Commissions.</h3>
                <p class="left">Please note: This can only be done <strong>one time.</strong> Verify all expense data
                    and totals before you click this button.</p>
                <form class="left" id="process_commissions_form" action="{% url process_event_commissions %}"
                      method="POST">{% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ selected_event }}">
                </form>
                <a id="process_commissions_button"
                   class="small blue awesome">{% trans "Process Event Commissions" %}</a>
                <span id="process_commissions_loading">Processing...<img
                        src="{{ MEDIA_URL }}images/ajax-loader.gif"/></span>
                <span id="save_expenses_first"><h3>Please save expenses first to process commissions</h3></span>
            {% endif %}
        </div>

        <script>


            display_expense = function () {
                $('#process_commissions_button').hide();
                $('#save_expenses_first').show();
                ex = get_expenses()
                $('#expense_table table').html('')
                $('#profit_table table').html('')
                if (ex.length > 0) {
                    var tot = 0
                    $('#expense_table table').append('<tr><td><strong>Expenses:</strong></td><td></td></tr>')
                    for (e in ex) {
                        tot = (parseFloat(tot) + (isNaN(parseFloat(ex[e]['total'])) ? 0 : parseFloat(ex[e]['total'])) ).toFixed(2)

                        $('#expense_table table').append('<tr><td style="width:80%"><input style="width: 70%;" readonly="readonly" value="' + (ex[e]['name']) + '" type="text"/></td><td style="width: 70%; text-align:right"><input type="text" value="' + (ex[e]['total']) + '" readonly="readonly"/></td></tr>')
                    }
                    $('#expense_table table').append('<tr><td></td><td style="text-align:right"><strong>Total: $' + (tot) + '</strong></td></tr>')

                    $('#expense_table table').append('<tr><td></td><td style="text-align:right">{% if not con.compensation_paid %}<input type="submit" id="save_all_expenses" value="Save All Expenses"/>{% endif %}</td></tr>')

                    total_sale_income = $('#total_sale_income').text()
                    total_sale_income = isNaN(parseFloat(total_sale_income)) ? 0 : parseFloat(total_sale_income)

                    $('#profit_table table').append('<tr><td style="width:80%"><strong>Income Minus Expenses:</strong></td><td style="text-align:right"><strong>$' + (total_sale_income - tot) + '</strong></td></tr>')

                    if (parseFloat($('#sales_count').html()) == 0) {
                        pph = 'No Ticket Sold'
                    } else {
                        pph = '$' + (((parseFloat($('#sales_total').html()) - tot) / parseFloat($('#sales_count').html())).toFixed(2))
                    }
                    $('#profit_table table').append('<tr><td style="width:80%; padding-top:10px"><strong>Profit Per Head:</strong></td><td style="text-align:right; padding-top:10px;"><strong>' + (pph) + '</strong></td></tr>')

                }
            }

            get_expenses = function () {
                d = []
                $('#expenses div.exp_cat').each(function () {
                    if ($(this).find('input[name="parent_cat"]').eq(0).val() != '') {
                        ex = {}
                        ex.name = $(this).find('input[name="parent_cat"]').eq(0).val()
                        ex.costs = {}
                        ex.total = 0
                        $(this).find('table tr').each(function () {
                            var i = $(this).find('input')
                            var name = i.eq(0).val()
                            var cst = i.eq(1).val()
                            if (name != '' && cst != '' && ex.costs[name] == undefined) {
                                ex.costs[name] = cst
                                ex.total = (parseFloat(ex.total) + (isNaN(parseFloat(cst)) ? 0 : parseFloat(cst)) ).toFixed(2)
                            }
                        })
                        d.push(ex)
                    }
                })
                return d
            }

            allowCommission = function () {
                $('#save_expenses_first').hide();
                $('#process_commissions_button').show();
            };

            $(document).ready(function () {
                $('#process_commissions_button').click(function () {
                    $(this).hide();
                    $('#process_commissions_loading').show();
                    $('#process_commissions_form').submit();
                });


                $('#save_all_expenses').live('click', function () {

                    $('#expenses .totnum').each(function () {
                        if (isNaN(parseFloat($(this).val()))) {
                            alert('Amount Should Be A Numeric Value')
                            return;
                        }
                    })

                    csrfmiddlewaretoken = "{{ csrf_token }}"
                    convention = "{{ selected_event }}"
                    data = {'csrfmiddlewaretoken':csrfmiddlewaretoken, 'convention':convention}
                    data.expenses = JSON.stringify(get_expenses())
                    $.ajax({
                        'url':'{% url profits %}',
                        'data':data,
                        'type':'POST',
                        'complete':allowCommission
                    })
                    //console.log(data)
                })

                $('.tot').live('change', function () {
                    display_expense();
                })

                $('#add_cat').click(function () {
                    $('#expenses').append($('#exp_html').html())
                })

                $('.add_sc').live('click', function () {
                    $(this).parent().prev().append($('#exp_html table tr').eq(0).clone())
                })

                $('.remove_cat').live('click', function () {
                    $(this).parent().remove()
                    display_expense()
                })

                $('.remove_row').live('click', function () {
                    $(this).parent().parent().remove()
                    display_expense()
                })

                $('.costing').live('change', function () {
                    cat_table = $(this).parent().parent().parent()
                    var total = 0;
                    cat_table.find('input.costing').each(function () {
                        cost = parseFloat($(this).val())
                        total = (parseFloat(total) + (isNaN(cost) ? 0 : cost)).toFixed(2)
                        $(this).parent().parent().parent().parent().parent().find('.cost').html(total)
                    })
                })

                $('.tot').change()
            })
        </script>

    {% endif %}
{% endblock %}
