{% extends "support/base.html" %}
{% load i18n %}
{% load virtual_login %}
{% load adminmedia admin_list i18n %}

{% block breadcrumb-local %}<span>Search Results</span>{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block extrastyle %}

  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css" />
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% url admin:index as root_path %}

{% block content %}
<div id="content-main">
    <div class="module">
        <table cellspacing="0" id="all_results" border="0" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <!--<th>{% trans "User ID" %}</th>-->
                    <th>{{ AID_TITLE }}</th>
                    <th>{% trans "Virtual Login" %}</th>
                    <th>{% trans "Full Name" %}</th>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Email" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for member in search %}
                <tr id="user-row-{{ member.pk }}">
                    <!--<td><a href="{% url support_profile member.pk %}">{{ member.pk }}</a></td>-->
                    <td><a href="{% url support_profile member.pk %}">{{ member.aid }}</a></td>
                    <td><a href="{% url support_go_virtual member.pk %}?hash={{ 'user'|hash:member.pk }}"/>{% trans "Virtual Login" %}</a></td>
                    <td>{{ member.get_full_name }}</td>
                    <td>{{ member.username }}</td>
                    <td>{{ member.email }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <br><br>

    <div class="module">
        <h2>Order Results</h2>
        <table cellspacing="0" id="all_results" border="0" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
            {% for order in search_orders %}
                <tr id="order-row-{{ order.pk }}">
                    <td><a href="?order_id={{ order.pk }}">{{ order.pk }}</a></td>
                    <td>{{ order.user.get_full_name }} (IBO {{ order.user.profile.ibo_number }})</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
