{% extends "support/base.html" %}
{% load i18n %}
{% load adminmedia admin_list i18n %}

{% block breadcrumb-local %}Search Results{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block extrastyle %}

  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css" />
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% url admin:index as root_path %}

{% block search %}
<div class="container navigation">
    <form id="changelist-search" action="." method="get">
    <div>
    	<span class="pct100">
            <input id="search" type="search" name="q" value="{% block search_query %}{{ search_query }}{% endblock %}" placeholder="{% trans 'Search for Users or Check-Ins (then hit enter)' %}">
        </span>
    </div>
    </form>

    <script type="text/javascript">document.getElementById("search").focus();</script>

    {% if show_result_count %}
        <span class="small quiet">{% blocktrans count cl.result_count as counter %}1 result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
    {% endif %}

    {% for pair in cl.params.items %}
        {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
    {% endfor %}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>User Results</h2>
        <table>
            <thead>
                <tr>
                    <!--<th>{% trans "User ID" %}</th>-->
                    <th>{{ AID_TITLE }}</th>
                    <th>{% trans "Full Name" %}</th>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Email" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for member in search %}
                <tr id="user-row-{{ member.pk }}">
                    <!--<td><a href="{% url support_profile member.pk %}">{{ member.pk }}</a></td>-->
                    <td><a href="{% url support_profile member.pk %}">{{ member.aid }}</a></td>
                    <td>{{ member.get_full_name }}</td>
                    <td>{{ member.username }}</td>
                    <td>{{ member.email }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <br><br>

    <div class="module">
        <h2>Check-In Results</h2>
        <table>
            <thead>
                <tr>
                    <th>Check-In ID</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
            {% for checkin in search_checkins %}
                <tr id="order-row-{{ order.pk }}">
                    <td><a href="/admin/planning/attending/{{ checkin.pk }}">{{ checkin.pk }}</a></td>
                    <td>{{ checkin.user.get_full_name }} (IBO {{ checkin.user.profile.ibo_number }})</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
