{% extends "support/base.html" %}

{% block extrahead %}
<script type="text/javascript" charset="utf-8">
	// Check that the user does in fact exist. Pull the data from the webservice and then pre-populate the form
	//TOOD: I know that this shouldn't be here. I'll try to fix it when the time comes
</script>
{% endblock extrahead %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" name="save_customer" value="Save New Customer" id="save_customer"/>
{% endblock %}
