{% extends "support/base.html" %}
{% load i18n adminmedia %}

{% block breadcrumb-local %}<span>{% trans "View Customer Profile" %}</span>{% endblock %}
{% block search_query %}{{ member.get_full_name }} ibo:{{ member.aid }}{% endblock %}

{% url admin:index as root_path %}

{% block filters %}
{{ block.super }}
<div class="notes">
  <h2>Customer Notes</h2>
  <div class="sidebarmenu">
    <ul>
    {% for note in notes %}
      <li data="{{note.id}}">
        {{ note }} - {{ note.created_by.username }} {% ifequal note.created_by.id request.user.id %}<a href="?delete_note={{note.id}}" style="float:right; color:red; font-size:80%; font-weight:normal">delete</a>{% endifequal %}
      </li>
    {% endfor %}
    {% if not notes %}
    <li>No notes for this customer</li>
    {% endif %}
    <li>
      <form method="POST">
	{% csrf_token %}
	<textarea style="width:98%;height:50px;" name="new_note"></textarea>
	<input type="submit" value="Add Note"/>
      </form>
    </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block title %}Cross Market{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    <script type="text/javascript">
        {% if member %}cm.member_id = {{ member.pk }};{% endif %}
        cm.url.support_ajax_search = '{% url support_ajax_search %}';
        cm.url.support_ajax_product_search = '{% url support_ajax_product_search %}';
        cm.url.support_ajax_event_search = '{% url support_ajax_event_search %}';
        cm.url.support_ajax_add_to_cart = '{% url support_ajax_add_to_cart %}';
        cm.url.support_ajax_event_add_to_cart = '{% url support_ajax_event_add_to_cart %}';
        cm.url.ajaxDashboard = '{% url support_ajax_dashboard %}';
        cm.url.support_ajax = '{% url support_ajax %}';
    </script>
    <script src="{{ STATIC_URL }}vendor/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery.hotkeys.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/admin.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery.color.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery.ui.nestedSortable.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/media.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/humanmsg/humanmsg.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/crc32.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/admin.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.2/mootools-yui-compressed.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/support.js"></script>

{% endblock %}

{% block content %}

<div style="overflow:auto" >

  <table  cellspacing="0" border="0" cellpadding="0" width="100%" style="padding:0px; margin:0px; width:100%; border:0px;"><tr><td style="padding:0px; margin:0px; width:100px; border:0px;">

  <div id="profile_left_bar" >
    <a href="javascript:void(0)" class="left_nav" data="ud">
      <img src="{{ MEDIA_URL }}lively/images/userdetails.png"/>
      <span>User Details</span>
    </a>
    <a href="javascript:void(0)" class="left_nav" data="add">
      <img src="{{ MEDIA_URL }}lively/images/adress.jpg"/>
      <span>Addresses</span>
    </a>
    <a href="javascript:void(0)" class="left_nav" data="contact">
      <img src="{{ MEDIA_URL }}lively/images/contacts.png"/>
      <span>Contacts</span>
    </a>
    <a href="javascript:void(0)" class="left_nav" data="gen">
      <img src="{{ MEDIA_URL }}lively/images/geneolgoy.png"/>
      <span>Genealogy</span>
    </a>
    <a href="javascript:void(0)" class="left_nav" data="order">
      <img src="{{ MEDIA_URL }}lively/images/order.png"/>
      <span>Place Order</span>
    </a>
    <a href="javascript:void(0)" class="left_nav" data="act">
      <img src="{{ MEDIA_URL }}lively/images/activity.png"/>
      <span>Activity</span>
    </a>
  </div>

  <script>
    $(document).ready(function(){
      $('.left_nav').click(function(){
        $('.nav_data:visible').hide()
        $('#nav_'+($(this).attr('data'))).show()
      })
    })
  </script>


  </td><td style="padding:0px; margin:0px; border:0px;">

  <div style="float:right; overflow:auto; width:100%;">
    <div id="nav_ud" class="nav_data" style="display:block;">
      {% include "support/includes/module.info.html" %}
      {% include "support/includes/module.password.html" %}
      {% include "support/includes/module.virtual.html" %}
      {% include "support/includes/module.subs.html" %}
      {% include "support/includes/module.phones.html" %}
      {% include "support/includes/module.payment.html" %}
      {% include "support/includes/module.position.html" %}
    </div>
    <div id="nav_add" class="nav_data">
      {% include "support/includes/module.addresses.html" %}
    </div>
    <div id="nav_contact" class="nav_data">
      {% include "support/includes/module.contacts.html" %}
    </div>
    <div id="nav_gen" class="nav_data">
      {% include "support/includes/module.geneaology.html" %}
    </div>
    <div id="nav_order" class="nav_data">
      {% include "support/includes/module.order.html" %}
    </div>
    <div id="nav_act" class="nav_data">
      {% include "support/includes/module.activity.html" %}
    </div>
  </div>

  </td></tr></table>

</div>
{% endblock %}
