{% extends "dash/base.html" %}
{% load i18n %}

{% block css %}
    <style>
        form {
            width:445px;
            text-align: right;
        }
        label{
            display: block;
            margin-bottom: 15px;
        }
        #subscriptions_container {
            padding-top: 20px;
        }
        .subscription_row {
            margin-bottom: 20px;
        }
        .remove_button {
            margin-left: 20px;
        }
    </style>
{% endblock %}

{% block navbar %}
<li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
<li>{% trans "Manage Memberships" %}</li>
{% endblock %}

{% block main %}

<h1>Manage your subscriptions</h1>

<div>
    {% if user.subscriptions %}
        You are currently subscribed to:
        <div id="subscriptions_container">
            {% for key,val in user.subscriptions.iteritems %}
                <div class="subscription_row">
                    <form action="{% url remove_subscription %}" method="post">{% csrf_token %}
                        <p class="right">
                            <strong>{{ val.product }} | quantity: {{ val.quantity|floatformat:"0" }}</strong>
                            <input type="hidden" name="orderitem" value="{{key}}">
                            <input class="remove_button" type="submit" name="remove" value="Remove">
                        </p>        
                    </form>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            {% endfor %}
        </div>
    {% else %}
        <p>You do not currently have any subscriptions.  Add one below:</p>
    {% endif %}
</div>
<div class="clear"></div>

<hr />
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<p><strong>Add a subscription</strong></p>
<form id="options" action="{% url satchmo_smart_add %}" method="post">{% csrf_token %}

    {# <label for='productname'>Add a subscription</label> #}
    <select name='productname' id='productname'>
    {% for subscription_product in available_subs %}
        <option value='{{ subscription_product.product.slug }}'>{{ subscription_product.product }}: ${{ subscription_product.unit_price|floatformat:"2" }}</option>
    {% endfor %}
    </select>
    

    <label for='quantity'>{% trans "Quantity" %} <input type="text", size="2", name="quantity" id="quantity" value="1" class="priced" /></label>
    
    <input type="submit" name="addcart" value="{% trans "Add to cart" %}" /> 
</form>


{% endblock %}
