{% extends "support/base.html" %}
{% load humanize %}
{% load i18n %}

{% block breadcrumb-local %}
    <a href="/admin/planning/ticket/checkin/{{event.id}}">{{event.name}}</a>
{% endblock %}


{% block search %}{% endblock %}

{% block extrastyle %}
    <style type="text/css">
        /* Generic Styles */
        .right {
            float:right
        }
        .left {
            float: left;
        }
        .align_center {
            text-align: center;
        }
        
        /* Info Section */
        .ticket_info {
            width: 100%;
            text-align: center;
        }
        .checkin_section {
            border: 1px solid #D8D8D8;
            margin-top: 20px;
        }
        .section_split {
            width: 400px;
            height: 20px;
            padding: 10px;
        }
        .grey_text_large {
            font-size: 16px;
            color: #585858;
            padding-left: 10px;
        }
        #all_checked_in {
            font-size: 24px;
            color: red;
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
        /*Ticket List*/
        #select_all_tickets {
            margin-right: 5px;
        }
        #tickets_list {
            margin-top: 10px;
            width: 100%;
        }
        #tickets_list tr th {
            padding: 10px 0;
            text-align: center;
            font-weight: bold;
        }
        #tickets_list tr td {
            padding: 5px 10px;
            text-align: center;
        }
        .rightbar {
            border-right: 1px solid black;
        }
        #submit_checkin_button {
            margin: 10px;
        }
        /* Purchase Tickets */
        #purchase_tickets_link {
            margin: 10px;
        }
    </style>

{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#select_all_tickets").click(function(){
                if ($(this).attr("checked") == true){
                    $(".ticket_checkbox").each(function(){
                        $(this).attr("checked", true);
                    });
                }
                else {
                    $(".ticket_checkbox").each(function(){
                        $(this).attr("checked", false);
                    });
                }
            });
        });
    </script>
    
    
{% endblock %}

{% block content %}

    <h2>IBO: {{purchaser.get_full_name}}</h2>
    <fieldset>
      <div class="checkin_section">
        <div class="section_split left" style="margin-left:10px;">
          Number of tickets purchased:<span class="grey_text_large">{{ tickets|length }}</span>
        </div>
        <div class="section_split right" style="margin-right:10px;">
          <span class="left">Ticket Holders Currently Checked In:</span>
          <span class="grey_text_large right">{{ num_checked_in }}</span>
        </div>
        <div style="clear:both"></div>
	<div style="text-align:center">
	{% ifnotequal tickets|length 0 %}
          {% ifequal tickets|length num_checked_in %}
            <div id="all_checked_in">***All Tickets Are Checked In for This Event***</div>
          {% endifequal %}
	{% else %}        
          <div class="align_center grey_text_large">***This User Has Not Purchased Any Tickets for This Event***</div>
	{% endifnotequal %}
	</div>
      </div>
    </fieldset>
    
    <div style="text-align:center">
      {% if post_tickets_checked_in %}
      <div class="checkin_section ticket_info">
	<p class="grey_text_large">{{ post_tickets_checked_in|apnumber }} ticket{{ post_tickets_checked_in|pluralize }} {{ post_tickets_checked_in|pluralize:"has,have" }} been checked in for this event.</p>
      </div>
      {% endif %}
      {% if post_ticktes_checked_in_removed %}
      <div class="checkin_section ticket_info">
	<p class="grey_text_large">{{ post_ticktes_checked_in_removed|apnumber }} ticket{{ post_ticktes_checked_in_removed|pluralize }} {{ post_ticktes_checked_in_removed|pluralize:"has,have" }} been removed from checkin for in for this event.</p>
      </div>
      {% endif %}
      {% if sections_updated %}
      <div class="checkin_section ticket_info">
	<p class="grey_text_large">{{ sections_updated|apnumber }} ticket's seating {{ sections_updated|pluralize:"has,have" }} been updated for this event.</p>
      </div>
      {% endif %}
      {% if name_updated %}
      <div class="checkin_section ticket_info">
	<p class="grey_text_large">{{ name_updated|apnumber }} ticket's name{{ name_updated|pluralize }} {{ name_updated|pluralize:"has,have" }} been updated for this event.</p>
      </div>
      {% endif %}
      {% if ibo_num_updated %}
      <div class="checkin_section ticket_info">
	<p class="grey_text_large">{{ ibo_num_updated|apnumber }} ticket's IBO number{{ ibo_num_updated|pluralize }} {{ ibo_num_updated|pluralize:"has,have" }} been updated for this event.</p>
      </div>
      {% endif %}
    </div>

    <div class="checkin_section">
      <form action="." method="POST" id="ticket_checkin_form">{% csrf_token %}
	{% if tickets %}
	
        <table id="tickets_list" border="0" cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th class="rightbar">Ticket Holder Name</th>
              <th class="rightbar">IBO Number</th>
              <th class="rightbar">Ticket Number</th>
	      <th class="rightbar">Purchased On</th>
              <th class="rightbar">Seating Section</th>
              <th><input type="checkbox" id="select_all_tickets"{% ifequal tickets|length num_checked_in %}checked="checked"{% endifequal %}> All</th>
            </tr>
	  </thead>
	  <tbody>
            {% for ticket in tickets %}
            <tr>
              <td class="rightbar"><input type="text" name="{{ ticket.ticket_number }}_name"{% if ticket.name_on_ticket %} value="{{ticket.name_on_ticket}}"{% endif %}></td>
              <td class="rightbar"><input type="text" name="{{ ticket.ticket_number }}_ibo_number"{% if ticket.IBO_number %} value="{{ticket.IBO_number}}"{% endif %}></td>
              <td class="rightbar">{{ ticket.ticket_number }}</td>
	      <td class="rightbar">{{ ticket.created }}</td>
              <td class="rightbar">
                <select class="seating_selection" name="{{ticket.ticket_number}}_section">
                  <option value="">-----</option>
                  {% for section in seating_chart.sections.all %}
                  <option value="{{section.id}}"{% ifequal ticket.seating_chart_section section %} selected="selected"{% endifequal %}>{{section.color}}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input type="checkbox" class="ticket_checkbox" id="{{ticket.ticket_number}}" name="{{ ticket.ticket_number }}"{% if ticket.checked_in %}checked="checked"{% endif %}>
              </td>
            </tr>
            {% endfor %}  
	  </tbody>
	  <tfoot>
	    <tr><th colspan="6"></th><tr>
	  </tfoot>
	</table>
	<br/>
	{% endif %}

	<a id="purchase_tickets_link" class="left" href="{% url support_profile purchaser.id %}">
	  <img src="{{ STATIC_URL }}images/purchase_tickets.png" alt="Purchase Tickets for User">
	</a>
	<a href="/admin/planning/ticket/checkin/{{event.id}}" style="background:#535350; color:white; border:1px solid black; padding: 5px; line-height: 27px; margin-left:10px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;">
	  Return to Convention User Search
	</a>
	{% if tickets %}
	<input type="image" id="submit_checkin_button" class="right" value="submit_checkin_button" src="{{ STATIC_URL }}images/check_in.png" alt="Submit" name="submit_checkin_button" style="margin:0px"> 
	{% endif %}
      </form>

      <div class="clear"></div>
    </div>
{% endblock %}
