{% extends "support/base.html" %}
{% load adminmedia admin_list i18n %}

{% block breadcrumb-local %}<span>Check-Ins</span>{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css" />
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% if cl.formset or action_form %}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
      #event_search_header {
          margin: 10px 0;
          padding: 10px;
      }
    </style>
  {% endif %}
{% endblock %}


{% block search %}{% endblock %}

{% block content %}
<div id="content-main">
    <h3>Event Check-In Interface</h3>
    
    
    
    <div class="module">
        <form action='.' method='GET'>
	  {% csrf_token %}
            <fieldset>
                {{search_form.errors}}
                {% for field in search_form %}
                <div class='form-row'>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}    
                <div class='form-row'>
		  <input type='submit' value='Find' style="margin-left:160px;">
		</div>
            </fieldset>
        </form>
    </div>

     <div id="event_search_header" class="module">
        <h4 class="left">Event: {{event.name}}</h4>  
        <h4 class="right">People checked in for this event: {{tickets_checked_in}}</h4>  
        <div class="clear"></div>
    </div>
    <br/><br/>
    <div class="module">
        {% if is_get %}
            {% if user_results %}
                <table border="0" cellspacing="0" cellpadding="0" width="100%">
		  <thead>
		    <tr>
		      <th class="capt" colspan="5">
			Users
		      </th>
		    </tr>
		    <tr>
		      <th>IBO</th>
		      <th>Email</th>
		      <th>First Name</th>
		      <th>Last Name</th>
		      <th>No. of ticket purchased</th>
		    </tr>
		  </thead>
		  <tbody>
                    {% for user in user_results %}
                        <tr class="class="{% cycle 'odd' 'even' %}"">
                            <th><a href="{{user.aid}}/">{{user.aid}}</a></th>
                            <td>{{user.email}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.ticket_count}}</td>
                        </tr>
                    {% endfor %}
		  </tbody>
		  <tfoot>
		    <tr>
		      <th colspan="5">
		      </th>
		    </tr>
		  </tfoot> 
                </table>
            {% else %}
                <h2>Could not find any tickets.</h2>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
