{% load i18n %}

<div class="toolbar top">
    <div class="margined">
        <a href="#" onclick="document.getElementById('i18nForm').style.display='inline';return false" title="{% trans 'Change the current internationalization (language)' %}">{% trans "Language" %}</a>
        <form id="i18nForm" action="/i18n/setlang/" method="post" style="display:none">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}" />
            <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}<option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>{% endfor %}
            </select>
            <input type="submit" value="{% trans "Go" %}" />
        </form>

        <div class="right">
            {% if user.is_staff %}
        	    <a href="{% url admin:index %}">{% trans "Admin" %}</a> &middot;
            {% endif %}
            {% if user.is_authenticated %}
                {% load inbox %}
                <a href="{% url messages_inbox %}" title="{% trans 'Read Messages' %}"><span class="unread count{% inbox_count %}">{% inbox_count %}</span> {% trans 'Inbox' %}</a> &middot;

                <a href="{% url auth_logout %}">{% trans "Log out" %}</a>
            {% endif %}
        </div>
    </div>
</div>
