{% load shop_utils%}
{% if debug %}
<link rel="stylesheet" href="/static/css/blackbird.css" />
<script type="text/javascript" src="/static/js/blackbird.js"></script>
{% if form %}
<script type="text/javascript">
	{% for key in form.errors %}log.debug("Form Error: {{ key }} : {{ form.errors|lookup:key|striptags|escape }}");
	{% endfor %}
</script>
{% endif %}
{% else %}
<script type="text/javascript" src="/static/js/satchmo_store.js"></script>
{% endif %}