{# override this template if you want to source jquery from a different location #}

{# <script src="/static/js/jquery-1.4.2.js" type="text/javascript"></script> #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>