{% extends "public/base.html" %}
{% load i18n %}
{% load shop_utils %}
{% load shop_categories %}

{% block css %}
<link href="{{ STATIC_URL }}css/shop.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block navbar-container %}{% endblock %}

{% block content %}
	<div class="wrapper">
		<div class="sidebar">
			<div class="special">
                <img src="{{ MEDIA_URL }}images/logow.png" alt="" height="30px" /><br/>

				<span>{% trans "Call 1-866-686-8861" %}</span>

                <form method="get" action="{% url shop_search %}">
                    <input type="hidden" name="category" value="{{category}}" id="id_category">
					<input id="q" name="q" type="text" value="{{search}}" placeholder="{% trans 'Search Store' %}" />
				</form>
			</div>

			<div class="box titled">
				<h2>{% trans "Store Navigation" %}</h2>
				<div class="inner">
                {% if category.id %}
                    {% category_tree category.id %}
                {% else %}
                    {% if product.get_category %}
                        {% category_tree product.get_category.id %}
                    {% else %}
                        {% category_tree %}
                    {% endif %}
                {% endif %}
				</div>
			</div>
		</div>

		<div class="shop">
			<div class="bar_white">
				<ol>
                    <li class="home"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
                    <li class="first"><a href="{% url shop_home %}">{% trans "Shop" %}</a></li>
                    {% block navbar %}
                        <li>{% trans "Welcome to the eFinity Store" %}</li>
                    {% endblock %}
				</ol>

				<ul>
					<li class="cart"><a href="{% url shop_cart %}">{% trans "Cart" %}</a></li>
				</ul>

				<div class="clear"></div>
			</div>

			{% block main %}{% endblock %}
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
{% endblock %}

