{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_cart %}
{% load currency %}
{% load shop_utils %}
{% load satchmo_product %}
{% load product_discounts %}
{% load normalize_decimal %}

{% block navbar %}
    <li>{% trans "Cart" %}</li>
{% endblock %}

{% block main %}
<div style="padding:10px">

{% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}

{% if not cart|length %}
    <p>{% trans "Your cart is empty." %}</p>
{% else %}
    <table><thead><tr><th></th>
    <th align="left">{% trans "Quantity" %}</th>
    <th>{% trans "Item" %}</th>
    {% if sale %}
		<th>{% trans "Regular Price" %}</th>
		<th>{% trans "Sale Price" %}
	{% else %}
		<th>{% trans "Price" %}</th>
	{% endif %}
    <th align="center">{% if default_view_tax %}{% trans "Total<br/>(incl.&nbsp;tax)" %}{% else %}{% trans "Total" %}{% endif %}</th>
    </tr></thead>

    <tbody>
    {% for cartitem in cart %}
        <tr><td>
            <form action="{% url satchmo_cart_remove %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
                <input class="delete button" type="submit" value="{% trans 'Remove' %}" />
            </form>
            </td>
            <td align="center">
                <form class="qtyform" id="form-{{ cartitem.id }}" action="{% url satchmo_cart_set_qty %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
					<input type="text" name="quantity" id="id_quantity" value="{{ cartitem.quantity|normalize_decimal }}" size="5" />
                    <input type="submit" id="id_update_submit" value="{% trans 'update' %}" />
                </form>
            </td>
            <td><a href="{{cartitem.product.get_absolute_url}}">{{ cartitem.description }}</a></td>
			{% if sale %}<td align="center">{{ cartitem.product.unit_price|currency }}</td>{% endif %}
			<td align="center">{{ cartitem.product|discount_price:sale|currency }}</td>
            <td align="center">{{ cartitem|discount_line_total:sale|currency }}</td>
        </tr>
		{% cartitem_custom_details cartitem %}
		{% cartitem_subscription_details cartitem %}
    {% endfor %}
    </tbody>
    <tr><td colspan="{% if sale %}5{% else %}4{% endif %}" align="right">{% trans "Cart Total" %}:</td>
        <td>{{ cart|discount_cart_total:sale|currency }}</td></tr>
    </table>
    {% if sale %}
	{% include "product/some_discount_eligible.html" %}
	{% endif %}

    <a class="left button" href="javascript:window.history.back();">{% trans "Continue Shopping" %}</a>
    {% if cart|length %}
        <a class="right button" href="{% url checkout %}">{% trans "Proceed to Checkout" %}</a>
    {% endif %}

    <div class="clear"></div>

{% endif %}

</div>
{% endblock %}
