{% extends "dash/base.html" %}
{% load i18n %}
{% load currency %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Home" %}</a></li>
    <li><a href="{% url my_profile %}">{% trans "Account Profile" %}</a></li>
    <li>{% trans "Order History" %}</li>
{% endblock %}

{% block main %}
<div id="orderhistory">
    <h2>{% trans "Order History" %}</h2>
    {% if orders %}
        <table class="ordertable">
            <thead>
            <tr>
                <th>{% trans 'Order #' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Items' %}</th>
                <th>{% trans 'Total' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td class="ordernumber">
                    <a href="{% url order_tracking order.id %}">{{ order.id }}</a>
                </td>
                <td class="orderstatus">
                    {{ order.status }}
                </td>
                <td class="orderdate">
                    {{ order.time_stamp|date:"F jS Y H:i" }}
                </td>
                <td class="orderitems">
                    {% for item in order.orderitem_set.all %}
                    {% if not forloop.first %}<br/>{% endif %}
                    <span class="orderitemqty">{{ item.quantity }}</span> <span class="orderitem">{{ item }}<span> 
                    {% endfor %}
                </td>
                <td class="ordertototal">
                    {{order.total|currency}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "You haven't made any orders yet." %}</p>
    {% endif %}
</div>
{% endblock %}

