{% extends "dash/base.html" %}
{% load order %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
   <li><a href="{% url my_profile %}">{% trans "Account Profile" %}</a></li>
   <li><a href="{% url order_history %}">{% trans "Order History" %}</a></li>
   <li>{% trans "Order Tracking" %}</li>
{% endblock %}

{% block content %}
<div id="ordertracking">
    <h3>{% trans "Order Tracking" %}</h3>
    {% order_tracking_details order "true" default_view_tax %}
</div>
{% endblock %}

