{% extends "shop/base.html" %}
{% load i18n %}
{% load currency %}
{% load shop_categories %}
{% load product_discounts %}

{% block navbar %}
   <li>{% trans "Search" %}</li>
{% endblock %}

{% block main %}

<h3>{% trans "Results for:" %} {{search}}</h3>

{% if product_list.paginator.num_pages > 1 %}
<div id="pagination" class="pagination">
    <ul>
        {% if product_list.has_previous %}
            <li><a href="?page={{ product_list.previous_page_number }}">{% trans "previous" %}</a></li>
        {% endif %}
		
		{% for page in product_list.page_range  %}
			{% if product_list.number == page %}
				<li class="currentpage">{{page}}</li>
			{% else %}
				<li class="page"><a href="?page={{page}}">{{page}}</a></li>
			{% endif %}
		{% endfor %}
        
        {% if product_list.has_next %}
            <li class="next"><a href="?page={{ product_list.next_page_number }}">{% trans "next" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% for product in product_list.object_list %}
    <div class="product">
        <div>
            {% if product.main_image.picture %}
                <img width="110" src="{{ MEDIA_URL }}{{ product.main_image.picture }}" alt="" />
            {% else %}
                <img height="85" width="110" src="{{ MEDIA_URL }}/images/noimage.gif" alt="" />
            {% endif %}
        </div>
        <a class="title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <p>{{ product.short_description|truncatewords:20 }}</p>
    </div>
{% empty %}
  <p>{% trans "No results found" %}</p>
{% endfor %}

{% if product_list.paginator.num_pages > 1 %}
<div id="pagination" class="pagination">
    <ul>
        {% if product_list.has_previous %}
            <li><a href="?page={{ product_list.previous_page_number }}">{% trans "previous" %}</a></li>
        {% endif %}
		
		{% for page in product_list.page_range  %}
			{% if product_list.number == page %}
				<li class="currentpage">{{page}}</li>
			{% else %}
				<li class="page"><a href="?page={{page}}">{{page}}</a></li>
			{% endif %}
		{% endfor %}
        
        {% if product_list.has_next %}
            <li class="next"><a href="?page={{ product_list.next_page_number }}">{% trans "next" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}
