{% extends "translate/base.html" %}
{% load i18n %}

{% block "title" %}
 {% trans "Translatable models" %}
{% endblock %}

{% block content %}
 <h1>{% trans "Model list" %}</h1>
 <ul>
  {% for model in models %}
   <li><a href="{{ model.url }}">{{ model.name }}</a></li>
  {% endfor %}
 </ul>
{% endblock %}
