{% extends "translate/base.html" %}
{% load i18n %}

{% block "title" %}
 {{ model.name }} {% trans "objects" %}
{% endblock %}

{% block content %}
 <h1>{{ model.name }} {% trans "objects" %}</h1>
 <ul>
  {% for i in objects.object_list %}
   <li><a href="{{ i.get_translate_url }}">{{ i }}</a></li>
  {% endfor %}
 </ul>
 {% if objects.has_other_pages %}
  <div class="pagination">
    <span class="step-links">
     {% if objects.has_previous %}
      <a href="?page={{ objects.previous_page_number }}">{% trans "...Prev" %}</a>
     {% endif %}
     <span class="current">
      {% trans "Page" %} {{ objects.number }} of {{ objects.paginator.num_pages }}
     </span>
     {% if objects.has_next %}
      <a href="?page={{ objects.next_page_number }}">{% trans "Next..." %}</a>
     {% endif %}
    </span>
  </div>
 {% endif %}
{% endblock %}
