{% extends "dash/base.html" %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" ></script>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
    </script>
    <script src="http://cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js"></script>
    
    <script type="text/javascript">
        $j(document).ready(function(){
            $j(":date").dateinput({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/shop.css" rel="stylesheet" type="text/css" media="screen" />
    <style>
        fieldset {
            padding: 0 0 7px 10px;
            margin: 0 10px 10px 10px;
        }
        fieldset label {
            font-weight: normal;
        }
        div .events .note {
            padding-left: 10px;
        }
        div .sidebar input[type="date"] {
            width: 130px;
        }
        div .sidebar input[type="submit"] {
            margin-top: 10px;
        }
	.sidebar .box .inner{
	  max-height:250px;
	  overflow-y:scroll;
	}
    </style>
    {# This is for the date input #}
    <style type="text/css">
        
        /* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

        /* the input field */
        .date {
        	border:1px solid #ccc;
        	font-size:18px;
        	padding:4px;
        	text-align:center;
        	width:116px;

        	-moz-box-shadow:0 0 10px #eee inset;
        	-webkit-box-shadow:0 0 10px #eee inset;
        }

        /* calendar root element */
        #calroot {
        	/* place on top of other elements. set a higher value if nessessary */
        	z-index:10000;

        	margin-top:-1px;
        	width:198px;
        	padding:2px;
        	background-color:#fff;
        	font-size:11px;
        	border:1px solid #ccc;

        	-moz-border-radius:5px;
        	-webkit-border-radius:5px;

        	-moz-box-shadow: 0 0 15px #666;
        	-webkit-box-shadow: 0 0 15px #666;	
        }

        /* head. contains title, prev/next month controls and possible month/year selectors */
        #calhead {	
        	padding:2px 0;
        	height:22px;
        } 

        #caltitle {
        	font-size:14px;
        	color:#0150D1;	
        	float:left;
        	text-align:center;
        	width:155px;
        	line-height:20px;
        	text-shadow:0 1px 0 #ddd;
        }

        #calnext, #calprev {
        	display:block;
        	width:20px;
        	height:20px;
        	background:transparent url(/static/images/prev.gif) no-repeat scroll center center;
        	float:left;
        	cursor:pointer;
        }

        #calnext {
        	background-image:url(/static/images/next.gif);
        	float:right;
        }

        #calprev.caldisabled, #calnext.caldisabled {
        	visibility:hidden;	
        }

        /* year/month selector */
        #caltitle select {
        	font-size:10px;	
        }

        /* names of the days */
        #caldays {
        	height:14px;
        	border-bottom:1px solid #ddd;
        }

        #caldays span {
        	display:block;
        	float:left;
        	width:28px;
        	text-align:center;
        }

        /* container for weeks */
        #calweeks {
        	background-color:#fff;
        	margin-top:4px;
        }

        /* single week */
        .calweek {
        	clear:left;
        	height:22px;
        }

        /* single day */
        .calweek a {
        	display:block;
        	float:left;
        	width:27px;
        	height:20px;
        	text-decoration:none;
        	font-size:11px;
        	margin-left:1px;
        	text-align:center;
        	line-height:20px;
        	color:#666;
        	-moz-border-radius:3px;
        	-webkit-border-radius:3px; 		
        } 

        /* different states */
        .calweek a:hover, .calfocus {
        	background-color:#ddd;
        }

        /* sunday */
        a.calsun {
        	color:red;		
        }

        /* offmonth day */
        a.caloff {
        	color:#ccc;		
        }

        a.caloff:hover {
        	background-color:rgb(245, 245, 250);		
        }


        /* unselecteble day */
        a.caldisabled {
        	background-color:#efefef !important;
        	color:#ccc	!important;
        	cursor:default;
        }

        /* current day */
        #calcurrent {
        	background-color:#498CE2;
        	color:#fff;
        }

        /* today */
        #caltoday {
        	background-color:#333;
        	color:#fff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="sidebar">
            <div class="special">
                <img src="{{ MEDIA_URL }}images/logow.png" alt="" height="30px" /><br/>
                <span>{% trans "Call 1-866-686-8861" %}</span>
                <form method="get" action="{% url event_search %}">
                    <input id="q" name="q" type="text" value="{{ request.q }}" placeholder="{% trans 'Search Event Name' %}" />
                </form>
            </div>

            <div class="box titled border" style="margin-top:10px">
                <h2>{% trans "Advanced Search" %}</h2>
                <div class="inner">
                    <form method="get" action="{% url event_search %}">

                    <fieldset title="No types ticked will search all event types">
                        <legend>{% trans "Event Type" %}</legend>
                        <input type="checkbox" name="type" id="type3" value="Conventions"   {{ checked.convent }}/> <label for="type3">
                        {% trans "Conventions" %}</label><br/>
                        <input type="checkbox" name="type" id="type2" value="Seminars"      {{ checked.seminar }}/> <label for="type2">
                        {% trans "Seminars" %}</label><br/>
                        <input type="checkbox" name="type" id="type1" value="Open Meetings" {{ checked.meeting }}/> <label for="type1">
                        {% trans "Open Meetings" %}</label><br/>
                        <input type="checkbox" name="type" id="type4" value="Special Event" {{ checked.special }}/> <label for="type4">
                        {% trans "Special Event" %}</label><br/>
                    </fieldset>

                    <fieldset title="No language ticked will search all languages">
                        <legend>{% trans "Language" %}</legend>
                        <input type="checkbox" name="language" id="langeng" value="English" {{ checked.english }}/> <label for="langeng">
                        {% trans "English" %}</label><br/>
                        <input type="checkbox" name="language" id="langesp" value="Spanish" {{ checked.spanish }}/> <label for="langesp">
                        {% trans "Spanish" %}</label><br/>
                    </fieldset>

                    <fieldset title="No date range will search all dates">
                        <legend>{% trans "Date Range" %}</legend>
                        <input type="date" id="datefrom" name="datefrom" value="{% if not invalid_date %}{{ request.datefrom }}{% endif %}" placeholder="{% trans 'From Date' %}"  title="From date" />
                        <input type="date" id="dateto"   name="dateto"   value="{% if not invalid_date %}{{ request.dateto   }}{% endif %}" placeholder="{% trans 'To Date' %}" title="To date" />
                    </fieldset>

                    <div align="center">
                        <input type="text" id="name"     name="name"     value="{{ request.name     }}" placeholder="{% trans 'Event Title' %}" />
                        <input type="text" id="location" name="location" value="{{ request.location }}" placeholder="{% trans 'Location' %}" />

                        <input type="submit" value="{% trans 'Search Now' %}" />
                    </div>

                    </form>
                </div>
            </div>

            <div class="box titled border" style="margin-top:10px">
                <h2>{% trans "Conventions" %}</h2>
                <div class="inner">
                    <ul>
                    {% for event in events %}
                        {% if event.type = 3 %}
                            <li><a href="{% url planning_details event.pk %}">{{ event.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box titled border" style="margin-top:10px">
                <h2>{% trans "Seminars" %}</h2>
                <div class="inner">
                    <ul>
                    {% for event in events %}
                        {% if event.type = 2 %}
                            <li><a href="{% url planning_details event.pk %}">{{ event.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box titled border" style="margin-top:10px">
                <h2>{% trans "Open Meetings" %}</h2>
                <div class="inner">
                    <ul>
                    {% for event in events %}
                        {% if event.type = 1 %}
                            <li><a href="{% url planning_details event.pk %}">{{ event.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="events">
         {% block main %}{% endblock %}
         <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
