{% extends "planning/base.html" %}
{% load i18n %}
{% load add_based_on_category %}
{% block navbar %}
<li class="first"><a href="{% url planning_home %}">{% trans "Events" %}</a></li>
<li>{{ event.name }}</li>
{% endblock %}

{% block main %}
<div class="box round border left" style="width: 625px;">
    <h2>{{ event.name }}</h2>

    <div style="position: relative">
        <ul class="actions" style="position: absolute; top: 0; right: 0">
            <li><a href="#" onclick="$$('#event-map').setStyle('display', 'block');$$('#event-image').setStyle('display', 'none');return false;" title="{% trans "Click to view map of location" %}">{% trans "Map"%}</a></li>
            <li><a href="#" onclick="$$('#event-map').setStyle('display', 'none');$$('#event-image').setStyle('display', 'block');return false;" title="{% trans "Click to view event image" %}">{% trans "Image" %}</a></li>
        </ul>

        <div id="event-map" style="display: none">
            <iframe width="550px" height="462px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q={{ event.address|iriencode }}&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe>
        </div>

	{% if event.banners %}
	   <div id="event-image" style="height:400px; position:relative; margin-bottom:15px;">
	    {% for b in event.banners %}
	      <img src="{{ b.picture.url }}" alt="" width="625px" height="400px" style="position:absolute; display:none;"/>
	    {% endfor %}
	   </div>
	   <script>
	     jQuery(document).ready(function(){
	       if(jQuery('#event-image img').length > 1){
	         rotate_image()
	       }
	     })
	     function rotate_image(){
	       if(jQuery('#event-image img.active').length == 0){
	         jQuery('#event-image img').eq(0).addClass('active').show()
	         setTimeout("rotate_image()", 1000)
	       }else{
	         var next=jQuery('#event-image img.active').next()
	         if(next.length==0){
	           next=jQuery('#event-image img').eq(0)
	         }
	         jQuery('#event-image img.active').removeClass('active').fadeOut()
	         jQuery(next).addClass('active').fadeIn()
	         setTimeout("rotate_image()", 3500)
	       }
	     }
	   </script>
	 {% endif %}

    </div>

    <div class="inner">
        <strong>{% trans "Event Code" %}:</strong>
        {{ event.sku }}

        {% autoescape off %}
        {{ event.description }}
        {% endautoescape %}
        
        {% if event.registration_application %}
        <div id="event_application">
            {% if event.registration_application %}<a href="{{ event.registration_application.url }}">
            <strong>{% trans "Download Event Application" %}</strong></a>{% endif %}
        </div>
        {% endif %}
    </div>
</div>

    <div class="box round border right" style="width: 175px">
        <h2>{% trans "Information" %}</h2>
        <div class="inner">
            <ul>
                {# {% if event.type %}<li>Type: {{ event.get_type_display }}</li>{% endif %} #}
                {% if event.language %}<li>{% trans 'Language' %}: {% trans event.get_language_display %}</li>{% endif %}
                {% if event.speaker %}<li>{% trans 'Speaker' %}: {{ event.speaker }}</li>{% endif %}

		{% if event.repeating %}
		  {% ifequal event.repeats 'd' %}
		    <li>{% trans 'Occurs daily' %} {% if event.repeat_ends %} {% trans "until" %} {{ event.repeat_ends|date:'F d, Y' }}.{% endif %} </li>
		  {% endifequal %}
		  {% ifequal event.repeats 'w' %}
		    <li>{% trans 'Occurs weekly on' %} {{ event.start|date:'l' }} {% if event.repeat_ends %} {% trans 'until' %} {{ event.repeat_ends|date:'F d, Y' }}.{% endif %} </li>
		  {% endifequal %}
		  {% ifequal event.repeats 'm' %}
		    <li>{% trans 'Occurs monthly on' %} {{ event.start|date:'jS' }} {% if event.repeat_ends %} {% trans 'until' %} {{ event.repeat_ends|date:'F d, Y' }}.{% endif %} </li>
		  {% endifequal %}
		  {% ifequal event.repeats 'y' %}
		    <li>{% trans 'Occurs yearly on' %} {{ event.start|date:'jS N' }} {% if event.repeat_ends %} {% trans "until" %} {{ event.repeat_ends|date:'F d, Y' }}.{% endif %} </li>
		  {% endifequal %}
		{% else %}
		  <li>{{ event.start }}</li>
		{% endif %}

                {% if event.registration_application %}<li><a href="{{ event.registration_application.url }}">{% trans "Download Application" %}</a></li>{% endif %}
            </ul>

            <h3>{% trans "Location" %}</h3>
            <p>{{ event.location }}</p>

            <h3>{% trans "Address" %}</h3>
            <p><address>
                {% autoescape off %}
                <a onclick="this.target='_blank';" href="http://maps.google.com/maps?q={{ event.address|iriencode }}">{{ event.address }}</a>
                {% endautoescape %}
            </address></p>

	    {% ifnotequal event.type 5 %}
	    {% if not event.repeating %}
            <h3>{% trans "Purchase Tickets" %}</h3>

	    {% add_based_on_category request event %}
            <p>
            <form method="post" action="{% url cart_add_event %}">
                {% csrf_token %}
                <input type="hidden" name="productname" id="productname" value="{{ event.slug }}" />
                <div class="center">
                    {% trans "QTY." %} <input style="width:30px" type="text" name="quantity" id="quantity" value="1" />
	    			<div class="clear"></div><br/>
                    <input class="button" type="submit" name="addcart" value="{% trans "Add to Cart" %}" />
                </div>
            </form>
	    </p>
	    {% end_add_based_on_category %}


	    {% endif %}
	    {% endifnotequal %}
            {% comment %}
            <div class="center">
                <a href="" class="button">{% trans "Purchase tickets" %}</a>
            </div>
            {% endcomment %}
        </div>
    </div>
{% endblock %}
