{% extends "planning/base.html" %}
{% load i18n %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/fullcalendar/fullcalendar.print.css" media="print"/>
    <style type="text/css">
        #spinner {
          display: none;
          position: relative;
          z-index: 100;
        }

        div.note {
          padding: 15px;
          background: #FFFFD4;
          border: 1px solid #DDDDB2;
        }

	.details h2{
	  font-size:1.95em;
	}

	.details h3{
	  font-size:1.4em;
	}
    </style>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/chili-1.7.pack.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#featured').after('<ul class="slideNav">').cycle({
                fx: 'scrollHorz',
                activePagerClass: 'active',
                speed:   1400,
                pause: true,
                timeout: 4000, 
                manualTrump: false,
                onPagerEvent: function(zeroBasedSlideIndex, slideElement) {
                },
                pager:   '.slideNav',
                pagerAnchorBuilder: function(idx, slide) { 
                       return '<li><a class="" onclick="return false;" href="#">•</a></li>'; 
                   }
            });
        });       
    </script>

    <script type='text/javascript'>
        $(document).ready(function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

	/*
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                disableDragging: true,
                disableResizing: true,
                events: [
                {% for event in events %}
                    {
                        id: {{ event.id }},
                        title: '{{ event.name }} {% if event.repeating %} (Repeating) {% endif %}',
                        start: '{{event.nearest_occurance_start|date:"Y-m-d H:i:s"}}',
                        end: '{{event.nearest_occurance_end|date:"Y-m-d H:i:s"}}',
                        allDay: false,
                        url: '{% url planning_details event.pk %}',
                    },
                {% endfor %}
                ]
            });

	*/
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                disableDragging: true,
                disableResizing: true,
	        eventSources: [{url:'/user/events/list/'}]
            });

	


        });
    </script>

    <script type="text/javascript">
    $( document ).ready( function() {
        $('#searchSubmit').click( function() {
            q = $('#q').val();
            $('#results').html('&nbsp;').load('{% url event_search %}?q=' + escape(q));
        });

        $("#q").keyup(function(event) {
            if(event.keyCode == 13) {
                $("#searchSubmit").click();
            }
        });
    });

    $( document ).ajaxStart( function() {
        $('#spinner').show();
    }).ajaxStop( function() {
        $('#spinner').hide();
    });

    </script>
    
    <script type="text/javascript">
        jQuery('#information').height(jQuery('#information-content').height());
        jQuery('#information-content').hover(function(){
            jQuery('#information').fadeTo("slow", 1.0);
        }, function(){
            jQuery('#information').fadeTo("slow", 0.7);
        });
    </script>
{% endblock %}

{% block navbar-container %}{% endblock %}

{% block upcoming_events %}
<div id="results">
    <span id="spinner"><img src="{{ STATIC_URL }}images/indicator.gif"/></span>
    <ul>
    {% for s in searchable %}
        <li>
            <a href="{% url planning_details s.pk %}">{{ s.name }}</a>
            {# <span class="hint">{{ s.location }}</span><br/> #}
            {# <span class="hint">{{ s.start|date:"j/n/Y" }} - {{ s.end|date:"j/n/Y"}}</span> #}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block main %}
{% if featured_list.object_list %}
    <div id="featured" class="featured">
        {% for event in featured_list.object_list %}
            <div class="slide">
                {% if event.main_image %}
                    <a class="image" href="{% url planning_details event.pk %}">
                        <img src="{{ event.main_image.picture.url }}" height="300" width="300" alt="" />
                    </a>
                {% endif %}

                <div class="details">
                    <h2><a href="{% url planning_details event.pk %}">{{ event.name }}</a></h2>
                    <h3>
                        {{ product.short_description }} <br />
                        {{ event.start|date:"n/j/Y P" }} - {{ event.end|date:"n/j/Y P"}} <br />
			{% if event.speaker %} {% trans "Speaker:" %} - {{ event.speaker }} <br /> {% endif %}
                        {% trans "Location:" %} - {{ event.location }} <br />
                        {% trans "Address:" %} - {{ event.address }} <br />
                    </h3>
                    <div class="clear"></div>
                    <a class="button right" href="{% url planning_details event.pk %}">{% trans "View Details" %}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}


{# {% if featured %} #}
{# <div id='featured' style="padding-bottom: 20px;"> #}
{#     <div class="box titled"> #}
{#         <h2>{% blocktrans with event_name=featured.name %}Featured Event &mdash; {{event_name}}{% endblocktrans %}</h2> #}
{#         <div style="position: relative; height: 405px;"> #}
{#             <div style="position: absolute; left: 0; top: 0;"> #}
{#                 <img src="{{ featured.main_image.picture.url }}" alt="" style="min-width:658px;" /> #}
{#             </div> #}
{#  #}
{#             <a href="{% url planning_details featured.pk %}" style="position: absolute; top: 0; left: 0; background: #fff; padding: 6px; font-size: 1.2em"> #}
{#                 {{ featured.name }} #}
{#             </a> #}
{#              #}
{#             <div id="information" style="position: absolute; bottom: 0; right: 0; width: 200px; background: #fff; opacity: 0.7"> #}
{#             </div> #}
{#  #}
{#             <div id="information-content" style="position: absolute; bottom: 0; right: 0; width: 200px;"> #}
{#                 <div class="inner"> #}
{#                     <ul id="info"> #}
{#                         <li><strong><a href="{% url planning_details featured.pk %}">{{ featured.name }}</a></strong><br/>{{ featured.start|date:"j/n/Y" }} - {{ featured.end|date:"j/n/Y"}}</li> #}
{#                         <li><br/>{% trans "Location:" %}<br/><h5>{{ featured.location }}</h5></li> #}
{#                         <li>{% trans "Address:" %}<br/><h5>{{ featured.address }}</h5></li> #}
{#                         <li> #}
{#                             <center><a href="{% url planning_details featured.pk %}" class="button">{% trans "Vew Details" %}</a></center> #}
{#                         </li> #}
{#                     </ul> #}
{#                 </div> #}
{#             </div> #}
{#         </div> #}
{#     </div> #}
{# </div> #}
{# {% endif %} #}

<div class="">
    {# <h2>{% trans "Calendar" %}</h2> #}
    <div class="inner" style="padding:10px !important">
        <div id='calendar'></div>
    </div>
</div>
{% endblock %}
