{% extends "planning/base.html" %}
{% load i18n %}

{% block navbar %}
    <li class="first"><a href="{% url planning_home %}">{% trans "Events" %}</a></li>
{% endblock %}

{% block main %}
    <div class="box round border left" style="width: 750px;">
        <h2> Search Results </h2>
        <div class="inner">
	  {% if invalid_date %}
	  Please enter a valid date in <b>YYYY-MM-DD</b> format.
	  {%  else %}
          {% if results|length %}
          <table>
            {% for event in results %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td>
                <h3><a href="{% url planning_details event.pk %}">{{ event.name }}</a></h3><br/>
                <span class="hint">{{ event.location }}</span><br/>
                <span class="hint">
		  {% if event.repeating %}
     		    {% ifequal event.repeats 'd' %}
		      Starts: Daily  at {{ event.start|time }} {% if event.repeat_ends %} untill {{ event.repeat_ends|date:'F d, Y' }}.{% endif %}<br/>
		      {% if event.end %}
		        Ends: {{ event.end|time }}
		      {% endif %}
		    {% endifequal %}
			    
		    {% ifequal event.repeats 'w' %}
		      Starts: Every week on {{ event.start|date:'l' }} at {{ event.start|time }} {% if event.repeat_ends %} untill {{ event.repeat_ends|date:'F d, Y' }}.{% endif %}<br/>

		      {% if event.end %}
                        Ends: {{ event.end|date:'l' }} at {{ event.end|time }}
                      {% endif %}
			  
		    {% endifequal %}
		  
		    {% ifequal event.repeats 'm' %}
		      Starts: Every month on {{ event.start|date:'jS' }} at {{ event.start|time }} {% if event.repeat_ends %} untill {{ event.repeat_ends|date:'F d, Y' }}.{% endif %}<br/>
		      {% if event.end %}
                        Ends: {{ event.end|date:'jS' }} at {{ event.end|time }}
                      {% endif %}
		    {% endifequal %}
			     
		    {% ifequal event.repeats 'y' %}
		      Starts: Every year on {{ event.start|date:'jS N' }} at {{ event.start|time }} {% if event.repeat_ends %} untill {{ event.repeat_ends|date:'F d, Y' }}.{% endif %}<br/>
		      {% if event.end %}
                        Ends: {{ event.end|date:'jS N' }} at {{ event.end|time }}
                      {% endif %}	  
		    {% endifequal %}
		  {% else %}
		    Starts: {{ event.start|date:"n/j/Y" }} at {{ event.start|time }} <br/>
		    {% if event.end %}
                      Ends: {{ event.end|date:"n/j/Y"}} at {{ event.start|time }}
		    {% endif %}
		  {% endif %}
                </span>
              </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <div class="note">
            Your search yielded no results
          </div>
	  {% endif %}
	  {% endif %}
        </div>
    </div>
{% endblock %}
