/**
 * This base stylesheet handles the toolbars and
 * other UI basics included in Cross Market.
 */

@import url(base/toolbars.css);
@import url(base/tilt.css);

@import url(messages.css);
@import url(mootools.autocomplete.css);

.margined {
    width: 1000px;
    margin: 0 auto;
}

.helptext {
    color: #999;
}

.helptext h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    border: none !important;
}

.helptext h3 {
    margin: 10px 0 4px 0;
    font-size: 1.3em;
    background: #eee;
    padding: 5px;
}

.helptext p {
    padding: 5px 20px;
}

.helptext .dim {
    font-style: italic;
    color: #666;
    padding: 0 10px;
    line-height: 3em;
    float: left;
    display: block;
}

.helptext dd {
    padding: 4px 10px;
}
