body {
    /*background-color: rgba(221, 238, 246, 0.9);*/
}

.dash {
    padding: 0 30px;
}

.page-container {
    background: #DDEEF6;
    background: rgba(221, 238, 246, 0.9);
    border-radius: 5px;
}

.main-content {
    width: 540px;
    float: left;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    position: relative;
    background: #fff;
    height: 100%;
}

.profile-header {
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.profile-info {
    padding: 20px 20px 16px 20px;
}

.profile-header .profile-image-container {
    float: left;
}

.profile-picture img {
    max-width: 96px;
    max-height: 96px;
}

.profile-details {
    float: left;
    margin-left: 15px;
    display: inline-block;
    width: 367px;
}

.full-name h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    color: #444;
    margin: 0;
    line-height: 36px;
}

.screen-name-and-location {
    font-size: 13px;
    line-height: 22px;
}

.pill {
    font-size: 18px;
}

.component {
    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    margin-bottom: 6px;
}

.profile-actions {
    padding: 8px 10px;
    background: #f4f4f4;
    box-shadow: 0 1px 0 #fff;
    -mox-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    border-radius: 4px;
    clear: both;
    display: block;
    margin: 0 10px 15px;
    height: 28px;
}

.profile-actions a {
    line-height: 28px;
    color: #0084B4;
    font-size: 13px;
}

.stream-container {
    font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}

.stream-row {
    padding: 10px 20px;
}

.dashboard {
    background: transparent;
    position: relative;
    padding: 12px 20px;
    border-top-right-radius: 5px;
    float: right;
    width: 360px;
}

.component h2 {
    font-size: 16px;
    padding: 8px 0 10px 0;
    height: 34px;
}
