/*@import url(http://fonts.googleapis.com/css?family=Pacifico);*/
/*@import url(http://fonts.googleapis.com/css?family=Special+Elite);*/
@import url(http://fonts.googleapis.com/css?family=Philosopher);
@import url(style.css);

.featured {
    position: relative;
	padding: 20px;
	display: block;
	clear: both;
	width: 764px;
	height: 380px;
}

.featured .image {
	float: left;
	border: none;
	text-align: center;
	width: 250px;
}

.featured .image img {
	max-height: 350px;
	max-width: 380px;
	border: none;
}

.featured .details {
	float: left;
	width: 264px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 150px;
}

.featured h2 {
	font-family: 'Philosopher', 'Special Elite', 'Pacifico';
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	line-height: 1em;

}

.featured h2 a {
	color: #000;
	text-decoration: none;
}

.featured h2 a:hover {
	border-bottom: 1px dashed;
}

.featured h3 {
	font-family: 'Philosopher', 'Special Elite', 'Pacifico';
	font-size: 1.7em;
	line-height: 1.4em;
}

#featured {
    margin: 18px auto 0 auto !important;
    width:630px; 
    height:280px;
    overflow: hidden;
}
#featured div.slide {
    display:inline-block;
       width:670px; 
        height:300px;
}

.slideNav {
    padding: 0px !important;
	display: block;
	list-style: none;
	text-align:center;
}

.slideNav li {
	display: inline-block;
	font-size: 48px;
    line-height: .6em;
	color: lightblue;
}

.slideNav a:hover {
    text-decoration: none;
}
.slideNav li.active a {
	color: #224272;
}

.smallCart {
	width: 175px;
}

.shopInner {
    margin: 20px auto 0 10px;
	width: 580px;
	float: left;
}

.shopPadding {
    margin: 20px 0 0 10px;
}

.cartTable tbody tr td {
	border-bottom: 1px dashed #dfdfdf;
	padding: 10px 5px;
}
	.cartTable tbody tr { padding: 5px; }
	.cartTable tbody input { width: 30px; }
	.cartTable .delete {
		display: block;
		width: 30px;
		margin: 5px auto 0 auto;
	}
	.cartTable .title {
		display: block;
		padding: 0 0 8px 0;
		font-size: 1.4em;
		text-decoration: none;
	}

.productDescription {
	text-align: justify;
}

.sidebar .box,
.cart.box {
	width: 180px;
	margin: 10px 0;
}

.cart li span {
	color: #f00;
	font-size: small;
	padding-left: 4px;
}

.cart h3 {
	font-weight: bold;
	padding: 0 10px;
}

.cart li {
	margin-bottom: 10px;
}

.cart .total {
	text-align: center;
	display: block;
	padding: 5px 5px 10px 5px;
}

.bar_white ol li { 
	padding-left: 1em; 
	padding-right: 0.5em; 
	/*border-left: 1px solid #b0b0b0;*/
    background: url("http://storeimages.apple.com/1845/store.apple.com/rs/source/store/base/nav/header/css/bg/store-header-footer-sprite.png") no-repeat -90px -54px;
}  

.bar_white ol li.home {
    border: none;
    padding: 0;
    background: none;
}

.bar_white ol li.first {
	padding-left: 0em; 
	background: none;
}

.product_details .slider {
    float: left;
}

.product_details .slider .slide {
    float: none;
    width: 250px;
    height: 250px;
    /*background: #ccc;*/
    padding: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.product_details .slider .slide img {
    max-height: 250px;
    max-width: 250px;
}

.product_details .slideNav {
	margin-top: 0 !important;
}
