.box.support {
    width: 69%;
    background: #fff;
}

.box.support .head h1 {
    padding: 0;
    margin: 0;
    float: left;
}

.box.support .head .right {
    font-size: 2em;
    line-height: 1.5em;
}

.box .section {
    position: relative;
}

.messageForm textarea {
    width: 170px !important;
    height: 100px !important;
}

.box .section .collapsible-toggle {
    top: 5px;
}
