{% extends "lively/base.html" %}

{% load currency %}

{% block title %}Florida Sales{% endblock %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
 <a href="/">Home</a>
 {# <a href="{% url tax %}">All Sales</a> #}
 {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block top-filter %}
<form>
  <fieldset>
    <legend>Report Period</legend>
    <div style="margin-left:10px">
      Start Date: <input type="text" name='sd' class="date" value="{{ sd }}"/> &nbsp; &nbsp;
      To Date: <input type="text" name='td' class="date" value="{{ td }}"/> &nbsp;&nbsp; 
      <input type="submit" value="Search"/>
    </div>
  </fieldset>
</form>
<script>
jQuery(document).ready(function(){
  $('.date').datepicker({dateFormat:'yy-mm-dd', maxDate:'-1d'})
})</script>
{% endblock %}

{% block content %}
{% if sale_details.subs %}
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<thead>
  <tr>
    <th colspan="4">Subscriptions</th>
  </tr>
  <tr> 
    <th>Order Item ID</th>
    <th>Order ID</th>
    <th>Price</th>
    <th>Tax Collected</th>
  </tr>
</thead>

  <tbody>
    {% for oitem in sale_details.subs %}
    <tr>
      <td>{{ oitem.pk }}</td>
      <td>{{ oitem.order.pk }}</td>
      <td>{{ oitem.line_item_price }}</td>
      <td>{{ oitem.tax }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% if sale_details.tools %}
<br/><br/>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<thead>
  <tr>
    <th colspan="4">Tools</th>
  </tr>
  <tr>
    <th>Order Item ID</th>
    <th>Order ID</th>
    <th>Price</th>
    <th>Tax Collected</th>
  </tr>
</thead>

  <tbody>
    {% for oitem in sale_details.tools %}
    <tr>
      <td>{{ oitem.pk }}</td>
      <td>{{ oitem.order.pk }}</td>
      <td>{{ oitem.line_item_price }}</td>
      <td>{{ oitem.tax }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock %}
