{% extends "lively/base.html" %}

{% load currency %}
{% load humanize %}

{% block title %}All Sales{% endblock %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
 <a href="/">Home</a>
 <a href="{% url tax %}">All Sales</a>
 {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block top-filter %}
<form>
  <fieldset>
    <legend>Report Period</legend>
    <div style="margin-left:10px">
      Start Date: <input type="text" name='sd' class="date" value="{{ sd }}"/> &nbsp; &nbsp;
      To Date: <input type="text" name='td' class="date" value="{{ td }}"/> &nbsp;&nbsp; 
      <input type="submit" value="Search"/>
    </div>
  </fieldset>
</form>
<script>
jQuery(document).ready(function(){
  $('.date').datepicker({dateFormat:'yy-mm-dd', maxDate:'-1d'})
})</script>
{% endblock %}

{% block content %}
{% if details %}
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <thead>
    <tr>
      <th class="capt" colspan="4">
	All Sales Report
      </th>
    </tr>
    <tr>
      <th></th>
      <th>Total Sales</th>
      <th>Total CC transactions</th>
    </tr>
  </thead>  
  <tbody>
    <tr>
      <td>Conventions</td>
      <td>${{ details.conventions|floatformat:2|intcomma }}</td>
      <td>{{ details.total_transactions_events }}</td>
    </tr>
    <tr>
      <td>Tools</td>
      <td>${{ details.tools|floatformat:2|intcomma }}</td>
      <td>{{ details.total_transactions_tools }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4"><a class="publish" href="javascript:window.print(); void(0);">print</a><a class="add" href="?{% if request.GET %}{{request.GET.urlencode}}&{% endif %}export=csv">generate csv</a></th>
    </tr>
  </tfoot>        
</table>
{% endif %}


{% endblock %}
