{% extends 'lively/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a>
{% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block content %}

<div class="boxcontainer">
    <a href="/user/reports/commissions/"><img src="{{ MEDIA_URL }}lively/icons/cart.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="/user/reports/commissions/">Commisions Report</a></h4>
    Enter or change products in the database.
</div>
<div class="boxcontainer">
    <a href="/user/reports/tickets/"><img src="{{ MEDIA_URL }}lively/icons/orders.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="/user/reports/tickets/">Ticket Sales Report</a></h4>
    View orders and status's here.
</div>
<div class="boxcontainer">
    <a href="/user/reports/browse/"><img src="{{ MEDIA_URL }}lively/icons/prodsub.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="/user/reports/browse/">Daily Sales Report</a></h4>
    Change a current subscription in the system.
</div>
<div class="boxcontainer">
    <a href="/user/reports/tax/"><img src="{{ MEDIA_URL }}lively/icons/commission.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="/user/reports/tax/">Tax Report</a></h4>
    Tax Reports for a given period.
</div>

<div class="boxcontainer">
    <a href="/user/reports/all-sales/"><img src="{{ MEDIA_URL }}lively/icons/commission.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="/user/reports/all-sales/">All Sales</a></h4>
    Sales report broken in Tools and Tickets.
</div>

<div class="boxcontainer">
    <a href="{% url subscription_report %}"><img src="{{ MEDIA_URL }}lively/icons/commission.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
    <h4><a href="/user/reports/all-sales/">Subscriptions Report</a></h4>
    Display a line-graph with subscription purchase history spanning the last six months
</div>

<div style="clear:both"></div>

{% endblock %}
