{% extends "lively/base.html" %}

{% block title %}Event Cancelled Tickets Report{% endblock %}

{% block extrahead %}
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <a href="/">Home</a>
    <a href="{% url reports_home %}">Reports</a>
    {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{#{% block filters %}#}
{#<div class="notes">#}
{#  <h2>Quick Reports</h2>#}
{#  <div class="sidebarmenu">#}
{#    <ul>#}
{#      <li><a href="?sd={{yesterday|date:'Y-m-d'}}&td={{yesterday|date:'Y-m-d'}}">Yesterday's Sale</a></li>#}
{#      <li><a href="?sd={{last_7_day|date:'Y-m-d'}}&td={{yesterday|date:'Y-m-d'}}">Last Seven Day's Sale</a></li>#}
{#      <li><a href="?sd={{last_30_day|date:'Y-m-d'}}&td={{yesterday|date:'Y-m-d'}}">Last 30 Day's Sale</a></li>#}
{#    </ul>#}
{#  </div>#}
{#</div>#}
{#{% endblock %}#}

{% block top-filter %}
    <form>
        <fieldset>
            <legend>Customize Report</legend>
            <div style="margin-left:10px">
                Start Date: <input type="text" name='sd' class="date" value="{{ sd }}"/> &nbsp; &nbsp;
                To Date: <input type="text" name='td' class="date" value="{{ td }}"/> &nbsp;&nbsp;
                Specific Event: <select name='eid'>
                <option value='-1'>ALL</option> {% for e in events %}
                <option {% ifequal e.id eid %} selected {% endifequal %}
                                               value='{{ e.id }}'> {{ e.name }} </option>{% endfor %}  </select>&nbsp;&nbsp;
                <input type="submit" value="Search"/>
            </div>
        </fieldset>
    </form>
    <script>
        jQuery(document).ready(function () {
            $('.date').datepicker({dateFormat:'yy-mm-dd', maxDate:'-1d'})
        })</script>
{% endblock %}

{% block content %}
    {% if orders %}
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <thead>
            <tr>
                <th class="capt" colspan="9">
                    Report Period: {% ifequal td sd %} {{ sd }} {% else %} {{ sd }} TO {{ td }} {% endifequal %}
                </th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Order ID</th>
                <th>Transaction type</th>
                <th>Total tickets cancelled</th>
                <th>Order total</th>
            </tr>
            </thead>
            <tbody>
            {% for o in orders %}
                <tr>
                    <td>{{ o.date }}</td>
                    <td>{{ o.order_id }}</td>
                    <td>{{ o.transaction_type }}</td>
                    <td>{{ o.tickets_sold|floatformat:2 }}</td>
                    <td>{{ o.total_amount|floatformat:2 }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">
                    <strong>Grand total:</strong>
                </td>
                <td>{{ tickets_cancelled|floatformat:2 }}</td>
                <td>{{ total_amount|floatformat:2 }}</td>
            </tr>
            {#    <tr>#}
            {#      <th>TOTAL</td>#}
            {#      <th>{{ total.cod_sale|floatformat  }}</th>#}
            {#      <th>{{ total.cod_cost|floatformat  }}</th>#}
            {#      <th>{{ total.cheque_sale|floatformat  }}</th>#}
            {#      <th>{{ total.cheque_cost|floatformat  }}</th>#}
            {#      <th>{{ total.adn_sale|floatformat  }}</th>#}
            {#      <th>{{ total.adn_cost|floatformat  }}</th>#}
            {#      <th>{{ total.t_sale|floatformat  }}</th>#}
            {#      <th>{{ total.t_cost|floatformat  }}</th>#}
            {#    </tr>#}

            </tbody>
            <tfoot>
            <tr>
                <th colspan="9"><a class="publish" href="javascript:window.print(); void(0);">print</a><a class="add"
                                                                                                          href="?



                                                                                                                  {% if request.GET %}{{ request.GET.urlencode }}&{% endif %}export=csv">generate
                    csv</a></th>
            </tr>
            </tfoot>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
