{% extends "lively/base.html" %}

{% block title %}Event Sales Report{% endblock %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
 <a href="/">Home</a>
 <a href="{% url reports_home %}">Reports</a>
 {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block filters %}
<div class="notes">
  <h2>Quick Reports</h2>
  <div class="sidebarmenu">
    <ul>
      <li><a href="?sd={{yesterday|date:'Y-m-d'}}&td={{yesterday|date:'Y-m-d'}}">Yesterday's Commission</a></li>
      <li><a href="?sd={{last_7_day|date:'Y-m-d'}}&td={{yesterday|date:'Y-m-d'}}">Last Seven Day's Commision</a></li>
      <li><a href="?sd={{last_30_day|date:'Y-m-d'}}&td={{yesterday|date:'Y-m-d'}}">Last 30 Day's Commision</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block top-filter %}
<form>
  <fieldset>
    <legend>Report Period</legend>
    <div style="margin-left:10px">
      Start Date: <input type="text" name='sd' class="date" value="{{ sd }}"/> &nbsp; &nbsp;
      To Date: <input type="text" name='td' class="date" value="{{ td }}"/> &nbsp;&nbsp; 
      <input type="submit" value="Search"/>

      <span style="float:right; margin-right:10px;">
	{% if only_tools %}
	  <a href="?sd={{ sd }}&td={{td}}">All</a>
	{% else %}
	  <a href="?sd={{ sd }}&td={{td}}&only_tools=true">Show Only Tools</a>
	{% endif %}
      </span>
    </div>
  </fieldset>
</form>
<script>
jQuery(document).ready(function(){
  $('.date').datepicker({dateFormat:'yy-mm-dd', maxDate:'-1d'})
})</script>
{% endblock %}

{% block content %}
{% if details %}
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <thead>
    <tr>
      <th class="capt" colspan="8">
	Report Period: {% ifequal td sd %} {{ sd }} {% else %} {{ sd }} TO {{ td }} {% endifequal %} {% if only_tools %}(Only Tools){% endif %}
      </th>
    </tr>
    <tr>
      <th>IBO Number</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Eligible</th>
      <th>Reason</th>
      <th>Amount</th>
    </tr>
  </thead>  
  <tbody>
    {% for d  in details %}
    <tr>
      <td>{{ d.0 }}</td>
      <td>{{ d.2  }}</td>
      <td>{{ d.1  }}</td>
      <td>{{ d.3  }}</td>
      <td>{{ d.4  }}</td>
      <td>{{ d.5  }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="8"><a class="publish" href="javascript:window.print(); void(0);">print</a><a class="add" href="?{% if request.GET %}{{request.GET.urlencode}}&{% endif %}export=csv">generate csv</a></th>
    </tr>
  </tfoot>        
</tbody>
</table>
{% endif %}
{% endblock %}
