{% extends "lively/base.html" %}
{% load humanize %}

{% block title %}Event Sales Report{% endblock %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
 <a href="/">Home</a>
 <a href="{% url reports_home %}">Reports</a>
 {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block content %}
{% if orders %}
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <thead>
    <tr>
      <th class="capt" colspan="9">
	Report Period: {% ifequal td sd %} {{ sd }} {% else %} {{ sd }} TO {{ td }} {% endifequal %}
      </th>
    </tr>
    <tr>
      <th>Order ID</th>
      <th>IBO</th>
      <th>Name</th>
      <th>QTY</th>
      <th>Amount</th>
    </tr>
  </thead>  
  <tbody>
    {% for order in orders %}
    <tr>
      <td><a href="/admin/shop/order/{{ order.pk }}/">{{ order.pk }}</a></td>
      <td><a href="/user/support/profile/{{ order.user.pk }}/">{{ order.user.username }}</a></td>
      <td>{{ order.user.get_full_name }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.total|floatformat:2|intcomma  }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="9"><a class="publish" href="javascript:window.print(); void(0);">print</a><a class="add" href="?{% if request.GET %}{{request.GET.urlencode}}&{% endif %}export=csv">generate csv</a></th>
    </tr>
  </tfoot>        
</tbody>
</table>
{% endif %}
{% endblock %}
