{% extends "dash/base.html" %}
{% load i18n %}

{% block extrahead %}

{% endblock %}

{% block body-class %}dashboard{% endblock %}
{% block navbar %}
<li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
<li><a href="../">{% trans "Reports" %}</a></li>
<li>{% trans "Event Attendance" %}</li>
{% endblock %}

{% block main %}
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" ></script>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
    </script>
    <script>
      function message(){
      $j('#search_button').attr('value','Loading...');
      $j('#search_button').attr('disabled', 'disabled');
      $j('#top_chart_inner').html('<p>Loading report, this may take up to a minute...</p>');
      $j('#search_form').submit()
      }
    </script>
    <div id="leftcon" class="box col3 left">
        {% block extraleft %}{% endblock %}
        <div class="iconset round shadow">
            <h2>{% trans "Event Filter" %}</h2>
            <div class="inner">

	      <form id="search_form">
		<select name="event" style="width:75%">
		  <option value='-1'>Select Event</option>
		  {% for e in events %}
		  <option  {% ifequal e.id eid %} selected {% endifequal %} value='{{ e.id }}'>{{ e.name }} (Event ID: {{e.id}})</option>
		  {% endfor %}
		</select><br/>
		<input id="search_button" type="submit" value="Search" onclick="message()"/>
	      </form>

            </div>
        </div>
    </div>

    {% block reports %}
    {% if eid %}
        <div id="top_chart" class="iconset box round shadow col23 right">
            <h2>Attendance Report</h2>
            <div id="top_chart_inner" class="inner">

	       <div style="font-weight:bold;">
		 Report Generated for: {{ ibo.get_full_name}} {% if up %}<span style="float:right"><a href="?event={{eid}}&ibo={{ up.username }}">Go Up (IBO: {{ up.username }})</a></span>{% endif %}<br/>
		 Total Tickets Sold: {{ total_count|floatformat }}<br/>
	       </div>

	       
	       {% if attendance %}
	       <table style="width:100%">


		 <thead>
		   <tr>
		     <td style="font-weight:bold">IBO Number</td>
		     <td style="font-weight:bold">IBO Name</td>
		     <td style="font-weight:bold">Ticket QTY</td>
		   </tr>
		 </thead>
		 <tbody>

                   <tr>
                     <td> SELF </td>
                     <td>{{ attendance.SELF.name }}</td>
                     <td>{{ attendance.SELF.count }}</td>
                   </tr>

		   {% for key, a in attendance.items %}
		   {% ifnotequal key 'SELF' %}
		   <tr>
                     <td>{{ a.ibo_link|safe }} </td>
                     <td>{{ a.name }}</td>
                     <td>{{ a.count }}</td>
		   </tr>
		   {% endifnotequal %}
		   {% endfor %}

		 </tbody>
	       </table>
	       {% endif %}
	       
            </div>
        </div>
	{% else %}
        <div id="top_chart" class="iconset box round shadow col23 right">
          <h2>Attendance Report</h2>
          <div id="top_chart_inner" class="inner">
            <p>
	      To view productivity by leg on any specific event, simply select the desired filter in the left drop down box and click the 'search' button. (NOTE: These numbers are available as an estimate and not considered final until an event is closed and all leadership accounting complete.) This report will total tickets sold either by phone with IBO Support staff, via the website, or at an event and display them for you. Ticket quantities listed are broken down by leg with side volume listed in the 'SELF' row. You may drill down for more detail by clicking the IBO number in the left column. The difference between this report and the 'Commissions' category version of this report is that you may drill down to the bottom of your group regardless if you qualify for compensation or not on a ticket sale listed, and that this report is available as an estimate only prior to the event accounting close.
	    </p>
          </div>
        </div>
	
	{% endif %}
	
    {% endblock %}
	
    <div class="clear"></div>
{% endblock %}
