<tr colspan="5">
    <table style="width:70%; border: black;">
        <thead>
            <tr>
                <td>IBO Number</td>
                <td>IBO Name</td>
                <td>Pin Level</td>
            </tr>
        </thead>
        <tbody>
            {% for i in ibos %}
                <tr>
                    <td>{{ i.username }}</td>
                    <td>{{ i.first_name }} {{ i.last_name }}</td>
                    <td>{{ i.profile.pinlevel }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</tr>
