{% extends "dash/base.html" %}
{% load i18n %}
{% load humanize %}
{% load report_tags %}

{% block extrahead %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
            $("#loading-trigger").on("click", function(e){
                $("#loading-message-remove").css({"display": "none"});
                $("#loading-message-show").css({"display": "block"});
            });
    });
</script>
<style type="text/css">
    .event-table-heading {
        background-color: silver;
        color: white;
    }
</style>
{% endblock %}

{% block body-class %}dashboard{% endblock %}
{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li><a href="../">{% trans "Reports" %}</a></li>
    <li>{% trans "Group Event Report" %}</li>
{% endblock %}

{% block main %}
    <div id="leftcon" class="box col3 left">
        {% block extraleft %}{% endblock %}
        <div class="iconset round shadow">
            <h2>{% trans "Event Filter" %}</h2>
            <div class="inner">
                <form>
                    <select name="event" style="width:75%">
                        <option value='-1'>Select Event</option>
                        {% for e in events %}
                            <option  {% ifequal e.id eid %} selected {% endifequal %} value='{{ e.id }}'>{{ e.name }}
                                (Event ID: {{ e.id }})
                            </option>
                        {% endfor %}
                    </select>
                    <input id="loading-trigger" type="submit" value="Search"/>
                </form>

            </div>
        </div>
    </div>
    {% block reports %}
        {% if event %}
            <div id="top_chart" class="iconset box round shadow col23 right">
                <h2>Event Report for {{ event.name }}</h2>

                <h3 style="margin-bottom: 24px; border: none; color: red; font-weight: bold;">
                    {% blocktrans %}
                        This report is currently in beta testing and may not be accurate at this time.
                        For accurate information about your compensation please contact your assigned event coordinator
                        at our office.
                    {% endblocktrans %}
                </h3>
                <table style="width: 100%;">
                    <tbody>
                    <tr>
                        <td colspan="2" class="event-table-heading"><strong>{% trans "Event information" %}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{% trans "Event name" %} </strong>
                        </td>
                        <td>
                            {{ event.name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{% trans "Number of tickets" %}</strong>
                        </td>
                        <td>
                            {{ event_ticket_total|floatformat:0|intcomma }}
                        </td>
                    </tr>
                    
                     <tr>
                        <td>
                            <strong>{% trans "Total income" %}</strong>
                        </td>
                        <td>
                            {{ total_event_earnings|floatformat:2|intcomma }}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <strong>{% trans "Total expenses" %}</strong>
                        </td>
                        <td>
                            {{ expenses_total|floatformat:2|intcomma }}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <strong>{% trans "Profit to pay out" %}</strong>
                        </td>
                        <td>
                            {{ total_giveaway|floatformat:2|intcomma }}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <strong>{% trans "DP per ticket" %}</strong>
                        </td>
                        <td>
                            {{ dp_per_ticket|floatformat:2|intcomma }}
                        </td>
                    </tr>
                    
                    {% for k, v in expenses.items %}
                        <tr>
                            <td class="event-table-heading" colspan="2">  
                                <strong>{% trans k %}</strong> 
                            </td>
                            <tr>
                                <td>
                                    <strong>{% trans "total" %}</strong>
                                </td>
                                <td>
                                    ${{ v|floatformat:2|intcomma }}
                                </td>
                            </tr>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="event-table-heading">
                            <strong>{% trans "Compensation" %}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{% trans "Emerald pool bonus" %}</strong>
                        </td>
                        <td>
                            ${{ pools.Emerald|floatformat:2|intcomma }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{% trans "Diamond pool bonus" %}</strong>
                        </td>
                        <td>
                            ${{ pools.Diamond|floatformat:2|intcomma }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{% trans "Total" %}</strong>
                        </td>
                        <td>
                            ${{ total_compensation|floatformat:2|intcomma }}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div id="top_chart_inner" class="inner">

                    <div style="font-weight:bold;">
                        Report Generated for: {{ ibo.get_full_name }} {% if up %}<span style="float:right">
                        <a href="?event={{ eid }}&ibo={{ up.username }}">Go Up (IBO: {{ up.username }})</a>
                        </span>{% endif %}<br/>
                        Total Tickets Sold: {{ total_tickets_sold_by_user|floatformat:0|intcomma }}<br/>
                        {% if total_compensation %}
                            Total Amount: {{ total_compensation|floatformat:2|intcomma }}
                        {% endif %}
                    </div>

                    {% if tickets %}
                        <table style="width:100%">
                            <thead>
                            <tr>
                                <td>IBO Number</td>
                                <td>IBO Name</td>
                                <td>Pin Level</td>
                                <td>Ticket QTY</td>
                                <td>Total Points</td>
                                <td>Point Multiplier</td>
                                <td>You Earned</td>
                            </tr>
                            </thead>
                            <tbody>

                            {% for key, ticket in tickets.items %}
                                <tr>
                                    <td style="background-color: black;" colspan="6" class="event-table-heading">{{ key }} pool</td>
                                    <td style="background-color: black;" class="event-table-heading">${{ pools|get_pool_value:key|floatformat:2|intcomma }}</td>
                                </tr>
                                {% for k, t in ticket.items %}
                                    <tr>
                                        <td colspan="6" class="event-table-heading">Generation {{ k }}</td>
                                        <td class="event-table-heading">${{ gen_totals|get_pool_value:key|get_pool_value:k|floatformat:2|intcomma }}</td>
                                    </tr>
                                    {% for f in t %}
                                        <tr>
                                            <td>{{ f.ibo_number|safe }}</td>
                                            <td>{{ f.ibo_name }}</td>
                                            <td>{{ f.pin_level }}</td>
                                            <td>{{ f.quantity|floatformat }}</td>
                                            <td>{{ f.points|floatformat:4 }}</td>
                                            <td>$0.33557047</td>
                                            <td>${{ f.earned|floatformat:2|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                </div>
            </div>
        {% else %}
            <div id="top_chart" class="iconset box round shadow col23 right">
                <h2>Report</h2>

                <div id="top_chart_inner" class="inner">
                    <p id="loading-message-show" style="display:none;">
                        Loading report. This may take a few minutes.  <img src='{{ STATIC_URL }}img/ajax-loader.gif' />                       
                    </p>
                    <p id="loading-message-remove">
                        To view compensation by leg on any specific event, simply select the desired filter in the left
                        drop down box and click the 'search' button. (NOTE: An event must be closed and all leadership
                        accounting complete before an event is able to be listed.) This report will total tickets sold
                        either by phone with IBO Support staff, via the website, or at an event and display them for
                        you. Ticket quantities listed are broken down by leg with side volume listed in the 'SELF' row,
                        and commissions displayed is the compensation YOU qualified for on each leg. You may drill down
                        for more detail by clicking the IBO number in the left column but only to a level (generation)
                        you qualified for payment on in either the Emerald or Diamond pools per the eFinity compensation
                        plan.
                    </p>
                </div>
            </div>

        {% endif %}

    {% endblock %}

    <div class="clear"></div>
{% endblock %}
