{% extends "dash/base.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<style type="text/css">
    .top-filter {
        font-weight: 900;
        font-size: 14px;
    }

    .second-filter { 
        font-weight: 900;
        font-size: 12px;
    }

    .third-filter {
        font-weight: 100;
        font-size: 12px;
    }
</style>
{% endblock %}

{% block body-class %}dashboard{% endblock %}
{% block navbar %}
<li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
<li>{% trans "Reports" %}</li>
{% endblock %}

{% block main %}

<div class="iconset box round shadow col3 left">
    <h2>{% trans "Reports" %}</h2>
    <div class="inner">
        <ul>
            {% for rep in reports %}
            <li style="margin-bottom: 10px">
                <span style="font-size: 1.2em">{{ rep.name }}</span>
                <ul>
                    {% for filter in rep.filters.all %}
                    <li><a href="{% url reports_generate_filter rep.slug filter.pk %}">{{ filter.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% block reports %}

<div class="iconset box round shadow col3 left right col23 mt20">
    <h2>Tool Sales</h2>
    <div class="inner">
        <p> This report is a over all accounting of IBO's in your downline subscriptions </p>
        <div id='chart_div5'></div>
    </div>
</div>

    <script type='text/javascript'>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', 'Sold At Events');
        data.addColumn('number', 'Sold Online');
        data.addRows(4);
        data.setValue(0, 0, '2004');
        data.setValue(0, 1, 1000);
        data.setValue(0, 2, 400);
        data.setValue(1, 0, '2005');
        data.setValue(1, 1, 1170);
        data.setValue(1, 2, 460);
        data.setValue(2, 0, '2006');
        data.setValue(2, 1, 860);
        data.setValue(2, 2, 580);
        data.setValue(3, 0, '2007');
        data.setValue(3, 1, 1030);
        data.setValue(3, 2, 540);

        var chart = new google.visualization.LineChart(document.getElementById('chart_div5'));
        chart.draw(data, {width: 600, height: 240, title: 'Company Performance'});
      }
      g
    </script>
	
	
<div class="iconset box round shadow col3 left right col23 mt20">
    <h2>Ticket Sales</h2>
    <div class="inner">
        <p>This growth report helps explain your growth relative to your upline and downline. It helps let you know if you are falling behind in new recruits, sales, or events.</p>
        <div id='chart_div4'></div>
    </div>
</div>

    <script type='text/javascript'>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', 'Sold At Events');
        data.addColumn('number', 'Sold Online');
        data.addRows(4);
        data.setValue(0, 0, '2004');
        data.setValue(0, 1, 1000);
        data.setValue(0, 2, 400);
        data.setValue(1, 0, '2005');
        data.setValue(1, 1, 1170);
        data.setValue(1, 2, 460);
        data.setValue(2, 0, '2006');
        data.setValue(2, 1, 660);
        data.setValue(2, 2, 1120);
        data.setValue(3, 0, '2007');
        data.setValue(3, 1, 1030);
        data.setValue(3, 2, 540);

        var chart = new google.visualization.LineChart(document.getElementById('chart_div4'));
        chart.draw(data, {width: 600, height: 240, title: 'Company Performance',
                          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
                         });
      }
      
    </script>	
	

<div class="iconset box round collapsible right col23">
    <h2>Subscriptions</h2>
    <div class="inner">
        <p>This report is a over all accounting of the IBO's in your downlines subscriptions</p> 
        <div id='chart_div2'></div>
    </div>
</div>

    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addRows(5);
        data.setValue(0, 0, 'Traditional');
        data.setValue(0, 1, 11);
        data.setValue(1, 0, 'Traditional + Book');
        data.setValue(1, 1, 2);
        data.setValue(2, 0, 'Digital');
        data.setValue(2, 1, 2);
        data.setValue(3, 0, 'Digital + Book');
        data.setValue(3, 1, 2);
        data.setValue(4, 0, 'Book Only');
        data.setValue(4, 1, 7);

        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
       chart.draw(data, {width: 600, height: 300, title: 'Sales'});
      }
    </script> 
    

    

{% endblock %}

<div class="clear"></div>
{% endblock %}
