{% extends 'lively/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block breadcrumbs %}
    <a href="/">Home</a>
    {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block content %}
    <div class="boxcontainer">
        <a href="{% url admin:index %}planning/convention/"><img src="{{ MEDIA_URL }}lively/icons/home.jpg"
                                                                 alt="Alternate Text" width="71" height="71"
                                                                 title="your title" class="box_thumb"/></a>
        <h4><a href="{% url admin:index %}planning/convention/">Events</a></h4>
        Enter new events
    </div>
    <div class="boxcontainer">
        <a href="{% url admin:index %}planning/ticket/"><img src="{{ MEDIA_URL }}lively/icons/cart.jpg" width="71"
                                                             alt="Alternate Text" height="71" title="your title"
                                                             class="box_thumb"/></a>
        <h4><a href="{% url admin:index %}planning/ticket/">Tickets</a></h4>
        Check on current ticket purchase's and ticket holders for specific events.
    </div>

    <div class="boxcontainer">
        <a href="{% url anti_browse %}"><img src="{{ MEDIA_URL }}lively/icons/cart.jpg" width="71" alt="Alternate Text"
                                             height="71" title="your title" class="box_thumb"/></a>
        <h4><a href="{% url admin:index %}planning/ticket/">Cancelled Tickets</a></h4>
        Cancelled tickets for selected events
    </div>

    <div class="boxcontainer">
        <a href="{% url admin:index %}planning/seatingcolor/"><img src="{{ MEDIA_URL }}lively/icons/gallery.jpg"
                                                                   alt="Alternate Text" width="71" height="71"
                                                                   title="your title" class="box_thumb"/></a>
        <h4><a href="{% url admin:index %}planning/seatingcolor/">Seating Colors</a></h4>
        Add Seating Colors for use with your seating charts.,
    </div>
    <div class="boxcontainer">
        <a href="{% url admin:index %}planning/seatingchart/"><img src="{{ MEDIA_URL }}lively/icons/email.jpg"
                                                                   alt="Alternate Text" width="71" height="71"
                                                                   title="your title" class="box_thumb"/></a>
        <h4><a href="{% url admin:index %}planning/seatingchart/">Seating Charts</a></h4>
        Create seating charts for specific events.
    </div>
    <div class="boxcontainer">
        <a href="/user/support/profits"><img src="{{ MEDIA_URL }}lively/icons/time.jpg" alt="Alternate Text" width="71"
                                             height="71" title="your title" class="box_thumb"/></a>
        <h4><a href="/user/support/profits">Expense Report</a></h4>
        Calculate costs and generate commisions for IBO's.
    </div>

    <div class="boxcontainer">
        <a href="/user/support/expense_report/">
            <img src="{{ MEDIA_URL }}lively/icons/settings.jpg" alt="Alternate Text" width="71" height="71"
                 title="your title" class="box_thumb"/>
        </a>
        <h4><a href="/user/support/expense_report/">Event Payout Report</a></h4>
        View event expense reports.
    </div>

    <div class="boxcontainer">
        <a href="/user/reports/checkin/">
            <img src="{{ MEDIA_URL }}lively/icons/settings.jpg" alt="Alternate Text" width="71" height="71"
                 title="your title" class="box_thumb"/>
        </a>
        <h4><a href="/user/reports/checkin/">Checkin</a></h4>
        User Checkin.
    </div>


    <div class="boxcontainer">
        <a href="/user/support/seating_report/">
            <img src="{{ MEDIA_URL }}lively/icons/settings.jpg" alt="Alternate Text" width="71" height="71"
                 title="your title" class="box_thumb"/>
        </a>
        <h4><a href="/user/support/seating_report/">Seating Report</a></h4>
        Check seats remaining per section.
    </div>

    <div class="boxcontainer">
        <a href="/user/support/non_checked_in/">
            <img src="{{ MEDIA_URL }}lively/icons/settings.jpg" alt="Alternate Text" width="71" height="71"
                 title="your title" class="box_thumb"/>
        </a>
        <h4><a href="/user/support/non_checked_in/">Non Checkedin Ticket</a></h4>
        See IBO's who have not checkedin.
    </div>



    <div style="clear:both"></div>

{% endblock %}
