{% for key, values in details.items %}
b{{ key }}<br/>
Total number of Tickets sold yesterday: {{ values.t_sale|floatformat }} @ ${{ values.t_cost|floatformat }} <br/>
Total Ticket Sales by Cash/Check Yesterday:  {{ values.cod_sale|floatformat }} @ ${{ values.cod_cost|floatformat }} <br/>
Total Ticket Sales by Credit Card Yesterday: {{ values.adn_sale|floatformat }} @ ${{ values.adn_cost|floatformat }} <br/>
------------------------------------------------------------------<br/><br/>
{% endfor %}
