{% extends "dash/base.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<style type="text/css">
    .top-filter {
        font-weight: 900;
        font-size: 14px;
    }

    .second-filter { 
        font-weight: 900;
        font-size: 12px;
    }

    .third-filter {
        font-weight: 100;
        font-size: 12px;
    }
    #top_chart h2 {
        cursor: pointer;
    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function(){
            jQuery("#top_chart h2").click(function(){
                jQuery("#top_chart_inner").slideToggle();
                });
            });        

        </script>
        {% endblock %}

        {% block body-class %}dashboard{% endblock %}
        {% block navbar %}
        <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
        <li>{% trans "Reports" %}</li>
        {% endblock %}

        {% block main %}
        <div id="leftcon" class="box col3 left">
            {% block extraleft %}{% endblock %}
            <div class="iconset round shadow">
                <h2>{% trans "Reports" %}</h2>

                <div class="inner">
                    <ul>

                        {% if access_extended %}

                            <li style="margin-bottom: 10px">
                            <span style="font-size: 1.2em">Commissions</span>
                            <ul>
                                <li><a href="{% url group_tools %}">Commissions - Group Tools Report</a></li>
                                <li><a href="{% url group_cep %}">Commissions - Group CEP Report</a></li>
                                <li><a href="{% url group %}">Group Events Report</a></li>
                            </ul>
                            </li>

                            <li style="margin-bottom: 10px">
                            <span style="font-size: 1.2em">Productivity</span>
                            <ul>
                                <li><a href="{% url prod_group_tools %}">Productivity - Group Tools Report</a></li>
                                <li><a href="{% url prod_group_cep %}">Productivity - Group CEP Report</a></li>
                                <li><a href="{% url event_attendance %}">Group Attendance Report</a></li>
                            </ul>
                            </li>

                        {% else %}

                            {% if request.user.is_platinum_or_above %}
                                <li style="margin-bottom: 10px">
                                    <span style="font-size: 1.2em">Commissions</span>
                                    <ul>
                                        <li><a href="{% url group_tools %}">Commissions - Group Tools Report</a></li>
                                        <li><a href="{% url group_cep %}">Commissions - Group CEP Report</a></li>
                                    </ul>
                                </li>

                                <li style="margin-bottom: 10px">
                                    <span style="font-size: 1.2em">Productivity</span>
                                    <ul>
                                        <li><a href="{% url prod_group_tools %}">Productivity - Group Tools Report</a></li>
                                        <li><a href="{% url prod_group_cep %}">Productivity - Group CEP Report</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                        {% endif %}


                    </ul>
                </div>
            </div>
        </div>

        {% block reports %}

        <div class="iconset box round shadow col23 right" >
            <h2>Description of Reports - Commissions Category</h2>
            <div id="top_chart_inner" class="inner">

                <p>
                These reports will detail the activity of your group down to the level that you qualify for compensation. The reports in this category are formatted so what you initially see after running the report is your frontline qualified platinums or above. Side volume is listed in the row titled 'SELF' on the reports. Each Platinum or above in your frontline may be drilled into for further detail by clicking their IBO number on the left side of the report. To be clear, in the 'Commissions' category you will only be able to drill down to the level (generation) you qualify for payment on in the eFinity compensation plan.
                </p>

                <h3>Group Tools Report</h3>
                <p>To view compensation by leg on either all tool sales, any tool category, starter kits individually or grouped together; simply select the desired filter in the left drop down box along with the date range you wish to review and click the 'search' button. This report will total sales made either by phone with IBO Support staff, via the website, or at an event and display them for you.  Sales quantities listed are broken down by leg with side volume listed in the 'SELF' row, and commissions displayed is the compensation YOU qualified for on each leg. You may drill down for more detail by clicking the IBO number in the left column but only to a level (generation) you qualified for payment on in either the Platinum, Emerald, or Diamond pools per the eFinity compensation plan.</p>

                <h3>Group CEP Report</h3>
                <p>To view compensation by leg on either all CEP subscriptions or any specific subscription type, simply select the desired filter in the left drop down box along with the date range you wish to review and click the 'search' button. This report will total subscriptions made either by phone with IBO Support staff, via the website, or at an event and display them for you.  Subscription quantities listed are broken down by leg with side volume listed in the 'SELF' row, and commissions displayed is the compensation YOU qualified for on each leg. You may drill down for more detail by clicking the IBO number in the left column but only to a level (generation) you qualified for payment on in either the Platinum, Emerald, or Diamond pools per the eFinity compensation plan.</p>

                <h3>Group Events Report (Emeralds or above only)</h3>
                <p>To view compensation by leg on any specific event, simply select the desired filter in the left drop down box and click the 'search' button. (NOTE: An event must be closed and all leadership accounting complete before an event is able to be listed.) This report will total tickets sold either by phone with IBO Support staff, via the website, or at an event and display them for you.  Ticket quantities listed are broken down by leg with side volume listed in the 'SELF' row, and commissions displayed is the compensation YOU qualified for on each leg. You may drill down for more detail by clicking the IBO number in the left column but only to a level (generation) you qualified for payment on in either the Emerald or Diamond pools per the eFinity compensation plan.<p>
            </div>
        </div>


        <div class="iconset box round shadow col23 right" style="margin-top:10px;">
            <h2>Description of Reports - Productivity Category</h2>
            <div id="top_chart_inner" class="inner">
                <p>These reports are designed to allow you to view and monitor activity in your group. The reports in this category are formatted so what you initially see after running the report is your frontline qualified platinums or above. Side volume is listed in the row titled 'SELF' on the reports. Each Platinum or above in your frontline may be drilled into for further detail by clicking their IBO number on the left side of the report.</p>

                <h3>Group Tools Report</h3>
                <p>To view productivity by leg on either all tool sales, any tool category, starter kits individually or grouped together; simply select the desired filter in the left drop down box along with the date range you wish to review and click the 'search' button. This report will total sales made either by phone with IBO Support staff, via the website, or at an event and display them for you.  Sales quantities listed are broken down by leg with side volume listed in the 'SELF' row. You may drill down for more detail by clicking the IBO number in the left column. The difference between this report and the 'Commissions' category version of this report is that you may drill down to the bottom of your group regardless if you qualify for compensation or not on a tool sale listed.</p>

                <h3>Group CEP Report</h3>
                <p>To view productivity by leg on either all CEP subscriptions or any specific subscription type, simply select the desired filter in the left drop down box along with the date range you wish to review and click the 'search' button. This report will total subscriptions made either by phone with IBO Support staff, via the website, or at an event and display them for you.  Subscription quantities listed are broken down by leg with side volume listed in the 'SELF' row. You may drill down for more detail by clicking the IBO number in the left column. The difference between this report and the 'Commissions' category version of this report is that you may drill down to the bottom of your group regardless if you qualify for compensation or not on a subscription listed.</p>

                <!--
                <h3>Individual CEP Search</h3>
                <p>To view subscription status on any IBO in your downline, simply enter their IBO number in the search field and click the 'search' button.  This report will provide you current status and subscription type for the individual IBO you are searching.</p>
                -->

                <h3>Group Attendance Report (Emeralds or above only)</h3>
                <p>To view productivity by leg on any specific event, simply select the desired filter in the left drop down box and click the 'search' button. (NOTE: These numbers are available as an estimate and not considered final until an event is closed and all leadership accounting complete.) This report will total tickets sold either by phone with IBO Support staff, via the website, or at an event and display them for you.  Ticket quantities listed are broken down by leg with side volume listed in the 'SELF' row. You may drill down for more detail by clicking the IBO number in the left column. The difference between this report and the 'Commissions' category version of this report is that you may drill down to the bottom of your group regardless if you qualify for compensation or not on a ticket sale listed, and that this report is available as an estimate only prior to the event accounting close.</p>

            </div>
        </div>
        {% endblock %}

        <div class="clear"></div>
        {% endblock %}
