{% extends "dash/base.html" %}
{% load i18n %}
{% load normalize_decimal %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" ></script>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
    </script>
    <script src="http://cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js"></script>
    
    <script type="text/javascript">
        $j(document).ready(function(){
            $j(":date").dateinput({
                format: 'yyyy-mm-dd'
            });
            
            $j("#search_button").click(function(e){
                e.preventDefault();
                $j(this).attr('value','Loading...');
                $j(this).attr('disabled', 'disabled');
                $j('#top_chart_inner').html('<p>Loading report, this may take up to a minute...</p>');
                $j('#search_form').submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {# This is for the date input #}
    <style type="text/css">
        
        /* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

        /* the input field */
        .date {
            margin-top: 10px !important;
        	border:1px solid #ccc;
        	font-size:12px;
        	padding:4px;
        	text-align:center;
        	width:80px;

        	-moz-box-shadow:0 0 10px #eee inset;
        	-webkit-box-shadow:0 0 10px #eee inset;
        }

        /* calendar root element */
        #calroot {
        	/* place on top of other elements. set a higher value if nessessary */
        	z-index:10000;

        	margin-top:-1px;
        	width:198px;
        	padding:2px;
        	background-color:#fff;
        	font-size:11px;
        	border:1px solid #ccc;

        	-moz-border-radius:5px;
        	-webkit-border-radius:5px;

        	-moz-box-shadow: 0 0 15px #666;
        	-webkit-box-shadow: 0 0 15px #666;	
        }

        /* head. contains title, prev/next month controls and possible month/year selectors */
        #calhead {	
        	padding:2px 0;
        	height:22px;
        } 

        #caltitle {
        	font-size:14px;
        	color:#0150D1;	
        	float:left;
        	text-align:center;
        	width:155px;
        	line-height:20px;
        	text-shadow:0 1px 0 #ddd;
        }

        #calnext, #calprev {
        	display:block;
        	width:20px;
        	height:20px;
        	background:transparent url({{ STATIC_URL }}images/prev.gif) no-repeat scroll center center;
        	float:left;
        	cursor:pointer;
        }

        #calnext {
        	background-image:url({{ STATIC_URL }}images/next.gif);
        	float:right;
        }

        #calprev.caldisabled, #calnext.caldisabled {
        	visibility:hidden;	
        }

        /* year/month selector */
        #caltitle select {
        	font-size:10px;	
        }

        /* names of the days */
        #caldays {
        	height:14px;
        	border-bottom:1px solid #ddd;
        }

        #caldays span {
        	display:block;
        	float:left;
        	width:28px;
        	text-align:center;
        }

        /* container for weeks */
        #calweeks {
        	background-color:#fff;
        	margin-top:4px;
        }

        /* single week */
        .calweek {
        	clear:left;
        	height:22px;
        }

        /* single day */
        .calweek a {
        	display:block;
        	float:left;
        	width:27px;
        	height:20px;
        	text-decoration:none;
        	font-size:11px;
        	margin-left:1px;
        	text-align:center;
        	line-height:20px;
        	color:#666;
        	-moz-border-radius:3px;
        	-webkit-border-radius:3px; 		
        } 

        /* different states */
        .calweek a:hover, .calfocus {
        	background-color:#ddd;
        }

        /* sunday */
        a.calsun {
        	color:red;		
        }

        /* offmonth day */
        a.caloff {
        	color:#ccc;		
        }

        a.caloff:hover {
        	background-color:rgb(245, 245, 250);		
        }


        /* unselecteble day */
        a.caldisabled {
        	background-color:#efefef !important;
        	color:#ccc	!important;
        	cursor:default;
        }

        /* current day */
        #calcurrent {
        	background-color:#498CE2;
        	color:#fff;
        }

        /* today */
        #caltoday {
        	background-color:#333;
        	color:#fff;
        }
    </style>
{% endblock %}

{% block body-class %}dashboard{% endblock %}
{% block navbar %}
<li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
<li><a href="../">{% trans "Reports" %}</a></li>
<li>{% trans "Commissions - Group CEP Report" %}</li>
{% endblock %}

{% block main %}
    <div id="leftcon" class="box col3 left">
        {% block extraleft %}{% endblock %}
        <div class="iconset round shadow">
            <h2>{% trans "CEP Type Filter" %}</h2>
            {% if invalid_date %}
                <span class="error">{{invalid_date|safe}}</span>
            {% endif %}
            <div class="inner">
                <form id="search_form">
                    <select name="rs" style="width:75%">
                        <option value='-1'>Select CEP</option>
                        {% for p, detail in products.items %}
                        <option {% ifequal p slug%}selected{% endifequal %} value='{{ p }}'>{{ detail.label }}</option>
                        {% endfor %}
                        {% for c, detail in categories.items %}
                        <option {% ifequal c slug%}selected{% endifequal %} value='{{ c }}'>{{ detail.label }}</option>
                        {% endfor %}
                    </select>
                    <div class="clear"></div>
                    Start Date: <input type="date" name="start_date" {% if start_date %}value="{{start_date}}"{% endif %} />
                    To Date: <input type="date" name="to_date" {% if to_date %}value="{{to_date}}"{% endif %} />
                    <div class="clear"></div>
                    <input type="button" value="Search" id="search_button"/>
                </form>
            </div>
        </div>
    </div>

    {% block reports %}
    {% if report %}
    <div id="top_chart" class="iconset box round shadow col23 right">
        <h2>Group Report for {{ item.label }}</h2>
        <div id="top_chart_inner" class="inner">
            <div style="font-weight:bold;">
                Report Generated for: {{ ibo.get_full_name}} {% if up %}<span style="float:right"><a href="?rs={{slug}}&ibo={{ up.username }}&start_date={{start_date|urlencode}}&to_date={{to_date|urlencode}}">Go Up (IBO: {{ up.username }})</a></span>{% endif %}<br/>
                Total Sold: {{ total_count|floatformat }}<br/>
                Total Amount: {{ total_amount|normalize_decimal }}
            </div>

            {% if report %}
            <table style="width:100%">
                <thead>
                    <tr>
                        <td>IBO Number</td>
                        <td>IBO Name</td>
                        <td>Pin Level</td>
                        <td>QTY</td>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>{{ report.SELF.ibo_number|safe }}</td>
                        <td>{{ report.SELF.ibo_name }}</td>
                        <td>{{ report.SELF.pin_level }}</td>
                        <td>{{ report.SELF.quantity|floatformat }}</td>
                    </tr>

                    {% for key, rep in report.items %}
                    {% ifnotequal key 'SELF' %}
                    <tr>
                        <td>{{ rep.ibo_number|safe }}</td>
                        <td>{{ rep.ibo_name }}</td>
                        <td>{{ rep.pin_level }}</td>
                        <td>{{ rep.quantity|floatformat }}</td>
                    </tr>
                    {% endifnotequal %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>
    {% else %}
    <div id="top_chart" class="iconset box round shadow col23 right">
        <h2>Report</h2>
        <div id="top_chart_inner" class="inner">
            <p>
	      To view productivity by leg on either all CEP subscriptions or any specific subscription type, simply select the desired filter in the left drop down box along with the date range you wish to review and click the 'search' button. This report will total subscriptions made either by phone with IBO Support staff, via the website, or at an event and display them for you. Subscription quantities listed are broken down by leg with side volume listed in the 'SELF' row. You may drill down for more detail by clicking the IBO number in the left column. The difference between this report and the 'Commissions' category version of this report is that you may drill down to the bottom of your group regardless if you qualify for compensation or not on a subscription listed.
	    </p>
        </div>
    </div>
    {% endif %}
    {% endblock %}
    <div class="clear"></div>
{% endblock %}
