{% extends "reports/new_home.html" %}
{% load i18n %}

{% block navbar %}
    <ul>
        <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
        <li><a href="{% url reports_home %}">{% trans "Reports" %}</a></li>
        <li>Top Sellers</li>
    </ul>

    {# <ul class="right"> #}
    {#     <li class="first"><a href="">{% trans "Add this report to reports screen" %}</a></li> #}
    {# </ul> #}
{% endblock %}

{% block extraleft %}
    {% if report_months %}
        <div class="iconset round shadow">
            <h2>{% trans "Top Sellers by Month" %}</h2>
            <div class="inner">
                <ul>
                    {% for month_dt in report_months %}
                        <li>
                            {% block report_month_url %}
                                <a href="{% url reports_top_by_month 5 report_type month_dt.year month_dt.month %}">
                                    {{ month_dt|date:"M Y" }}
                                </a>
                            {% endblock %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block reports %}
    <div class="iconset box round shadow col23 right">
        <h2>{{ report_type|title }} &mdash; Top sellers for month &mdash; {{ report_dt|date:"M Y" }}</h2>
        <div class="inner">
            {% block report_description %}
                <p>This report shows the top sellers by month.</p>
            {% endblock %}
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ois %}
                        {% for oi in ois %}
                            <tr>
                                <td>{{ oi.product }}</td>
                                <td>{{ oi.product_id__count }}</td>
                            </tr>
                        {% endfor %}
                    {% else%}
                        <tr>
                            <td colspan="4">
                                {% trans "Not enough data to generate a report." %}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
