{% extends "lively/base.html" %}

{% block title %}Event Sales Report{% endblock %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a>
<a href="{% url reports_home %}">Reports</a>
{% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}

{% block filters %}
<div class="notes">
    <h2>Quick Reports</h2>
    <div class="sidebarmenu">
    </div>
</div>
{% endblock %}

{% block content %}
{% if subscriptions %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable(
                {{ subscriptions|safe }}
        );

        var options = {
            title: "Subscriptions past 6 months"
        }

        var chart = new google.visualization.LineChart(document.getElementById("chart-id"));
        chart.draw(data, options);
    }
</script>
<div style="margin-top: 30px;">
    <div id="chart-id" style="width: 800px; height:500px;"></div>
</div>
<div class="chart-controls">
    <form action="." method="get">
        iComercio 
        <input type="checkbox" name="filter" value="iComercio" {% if 'iComercio' in team_selected %}checked{% endif %} />
        English 
        <input type="checkbox" name="filter" value="English" {% if 'English' in team_selected %}checked{% endif %} />
        Alianza Global 
        <input type="checkbox" name="filter" value="Alianza Global" {% if 'Alianza Global' in team_selected %}checked{% endif %} />
        ALL
        <input type="checkbox" name="filter" value="All" {% if not team_selected %}checked{% endif %} />
        <input type="submit" value="Filter" />
    </form>
</div>
{% endif %}
{% endblock %}
