{% extends "reports/home.html" %}
{% load i18n %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li><a href="{% url reports_home %}">{% trans "Reports" %}</a></li>
    <li>{{ report.name }}</li>
</ul>
<ul class="right">
    <li class="first"><a href="">{% trans "Add this report to reports screen" %}</a></li>
{% endblock %}

{% block reports %}
<div class="iconset box round shadow col23 right">
    <h2>{{ report.name }} {% if filter %} &mdash; {{ filter.name }}{% endif %}</h2>
    <div class="inner">
        <p>{{ report.description }}</p>
        <table>
            <thead>
                <tr>
                    {% for column in report.columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if results %}
                    {% for result in results %}
                    <tr>
                        {% for col in result %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% else%}
                <tr>
                    <td colspan="{{ report.column_count }}">
                        {% trans "Not enough data to generate a report." %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
