{% extends "lively/base.html" %}
{% block top-filter %}
<form action="#" method="post" name="f">
  <fieldset>
    <legend>Select your filters for this report </legend>
    
    <label>Select Option<em>*</em></label>
    <select id="type">
      <option>option value 1</option>
      <option>option value 2</option>
    </select>
  </fieldset>
</form>
{% endblock %}

{% block filters %}
<div class="notes">
  <h2>Saved Reports</h2>
  <div id="sidebarmenu">
    <ul>
      <li><a href="#" class="activesub">Event Daily Report</a></li>
      <li><a href="#">Tool Sales Daily Report</a></li>
      <li><a href="#">Monthly Commision Report</a></li>
      <li><a href="#">Commision History</a></li>
      <li><a href="#">Subscription Totals Report</a></li>
      <li><a href="#">Year To Date Sales Report</a></li>
    </ul>
  </div>
</div>

<div class="notes">
  <h2>Filter</h2>        

<div id="changelist-filter" class="sidebarmenu">
  <h3> By staff status </h3>
  <ul>
    <li class="selected first-child">
      <a href="?">All</a></li>
    
    <li>
    <a href="?is_staff__exact=1">Yes</a></li>

    <li class="last-child">
    <a href="?is_staff__exact=0">No</a></li>

</ul>

<h3> By superuser status </h3>
<ul>

    <li class="selected first-child">
    <a href="?">All</a></li>

    <li>
    <a href="?is_superuser__exact=1">Yes</a></li>

    <li class="last-child">
    <a href="?is_superuser__exact=0">No</a></li>

</ul>

<h3> By active </h3>
<ul>

    <li class="selected first-child">
    <a href="?">All</a></li>

    <li>
    <a href="?is_active__exact=1">Yes</a></li>

    <li class="last-child">
    <a href="?is_active__exact=0">No</a></li>

</ul>

          </div>
</div>
{% endblock %}

{% block content %}
<!-- Tables 1 -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <thead>
    <tr>
      <th class="capt" colspan="8">
	Caption for the table here
      </th>
    </tr>
    <tr>
      <th width="50">No.</th>
      <th>Select</th>
      <th>Title</th>
      <th>User</th>
      <th>Description</th>
      <th>Views</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.</td>
      <td><input type="checkbox"  checked="checked" value="" id="check"/></td>
      <td>Lorem Ipsum</td>
      <td><a href="#">Username</a></td>
      <td>username@domain.com</td>
      <td>10</td>
      <td>Enabled</td>
      <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="8"><a class="publish" href="#">print</a><a class="add" href="#">generate csv</a></th>
    </tr>
    <tr>
      <td colspan="8"><!-- Pagination -->
        <a href="#" class="pagelink">Previous</a> <a href="#" class="pagelink">1</a> <a href="#" class="pagelink">2</a> <a href="#" class="pagecurrent">3</a> <a href="#" class="pagelink">4</a> <a href="#" class="pagelink">5</a> <a href="#" class="pagelink">6</a> <a href="#" class="pagelink">7</a> <a href="#" class="pagelink">8</a> <a href="#" class="pagelink">9</a> <a href="#" class="pagelink">10</a> <a href="#" class="pagelink">22</a> <a href="#" class="pagelink">Next</a>
        <!-- Pagination -->
      </td>
    </tr>
  </tfoot>        
</tbody>
</table>
{% endblock %}
