{% extends "reports/tool_sales.html" %}
{% load i18n %}

{% block navbar %}
<ul>
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li><a href="{% url reports_home %}">{% trans "Reports" %}</a></li>
    <li><a href="{% url reports_tool_sales 'all' %}">Tool Sales</a></li>
    <li>{{ report_user.get_full_name }}</li>
</ul>
{% endblock %}

{% block report_title %}
    Tool Sales &mdash; {{ report_user.get_full_name }} &mdash; {{ report_dt|date:"M Y" }}
{% endblock %}

{% block report_description %}
    <p>This report details the sales of tools for {{ report_user.get_full_name }}</p>
{% endblock %}

{% block extraleft %}
    {% if report_months %}
        <div class="iconset round shadow">
            <h2>{% trans "Tool Sales Report Months" %}</h2>
            <div class="inner">
                <ul>
                    {% for month_dt in report_months %}
                        <li>
                            <a href="{% url reports_tool_sales_by_ibo_by_month report_user.username month_dt.year month_dt.month %}">
                                {{ month_dt|date:"M Y" }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block report_rows %}
    {% for oi in ois %}
        <tr>
            <td>{% if forloop.first %}{{ oi.order.user.username }}{% endif %}</td>
            <td>{% if forloop.first %}{{ oi.order.user.get_full_name }}{% endif %}</td>
            <td>{{ oi.product }}</td>
            <td>{{ oi.order.time_stamp|date:"M j, Y H:i" }}</td>
            <td>{{ oi.product.unit_price_display }}</td>
        </tr>
    {% endfor %}
    
{% endblock %}