{% extends "reports/new_home.html" %}
{% load i18n %}

{% block navbar %}
<ul>
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li><a href="{% url reports_home %}">{% trans "Reports" %}</a></li>
    <li>Tool Sales</li>
</ul>

{# <ul class="right"> #}
{#     <li class="first"><a href="">{% trans "Add this report to reports screen" %}</a></li> #}
{# </ul> #}
{% endblock %}

{% block extraleft %}
    {% if report_months %}
        <div class="iconset round shadow">
            <h2>{% trans "Tool Sales Report Months" %}</h2>
            <div class="inner">
                <ul>
                    {% for month_dt in report_months %}
                        <li>
                            {% block report_month_url %}
                                <a href="{% url reports_tool_sales_by_month report_type month_dt.year month_dt.month %}">
                                    {{ month_dt|date:"M Y" }}
                                </a>
                            {% endblock %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block reports %}
    <div class="iconset box round shadow col23 right">
        <h2>{% block report_title %}Tool Sales &mdash; {{ report_type|title }} &mdash; {{ report_dt|date:"M Y" }}{% endblock %}</h2>
        <div class="inner">
            {% block report_description %}
                <p>This report details the sales of tools</p>
            {% endblock %}
            <table>
                <thead>
                    <tr>
                        <th>IBO</th>
                        <th>Name</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ois %}
                        {% block report_rows %}
                            {% for oi in ois %}
                                <tr>
                                    <td><a href="{% url reports_tool_sales_by_ibo oi.order.user.username %}">{{ oi.order.user.username }}</a></td>
                                    <td><a href="{% url reports_tool_sales_by_ibo oi.order.user.username %}">{{ oi.order.user.get_full_name }}</a></td>
                                    <td>{{ oi.product }}</td>
                                    <td>{{ oi.order.time_stamp|date:"M j, Y H:i" }}</td>
                                    <td>{{ oi.product.unit_price_display }}</td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% else%}
                        <tr>
                            <td colspan="4">
                                {% trans "Not enough data to generate a report." %}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
