/**
 * This file adds in tilt classes to easily tilt elements
 */

.tiltn2 {
     -moz-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
               zoom: 1;
}

.tiltn1-8 {
     -moz-transform: rotate(-1.8deg);
       -o-transform: rotate(-1.8deg);
  -webkit-transform: rotate(-1.8deg);
      -ms-transform: rotate(-1.8deg);
          transform: rotate(-1.8deg);
               zoom: 1;
}

.tiltn1-5 {
     -moz-transform: rotate(-1.5deg);
       -o-transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
      -ms-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
               zoom: 1;
}

.tilt1-5 {
     -moz-transform: rotate(1.5deg);
       -o-transform: rotate(1.5deg);
  -webkit-transform: rotate(1.5deg);
      -ms-transform: rotate(1.5deg);
          transform: rotate(1.5deg);
               zoom: 1;
}

.tilt2 {
     -moz-transform: rotate(2deg);
       -o-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
               zoom: 1;
}

