/**
 * This file adds the CSS needed to have toolbars
 */

.toolbar.top {
    width: 100%;
    height: 30px;
    background: #EFEFEF;
    color: #529ED4;
    line-height: 30px;
    overflow: hidden;

    background: url(http://www.grafikart.fr/demo/coreadmin/css/img/spriteh.png);
    height: 40px;
    line-height: 40px;
    /*position: fixed;*/
    border: none !important;
    color: #AEAEAE;
    text-shadow: 0px 1px 0px #000;
}

.toolbar.top {
    border-bottom: 1px solid #ccc;
}

.toolbar a {
    color: #fff;
}

.toolbar form {
    line-height: 30px;
    display: inline;
}

.toolbar .unread {
    background: #f00;
    color: #fff;
    padding: 4px;
    border-radius: 2px 6px;
}

.toolbar .unread.count0 { display: none; }
