<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools.js"></script>
<script type="text/javascript">
window.addEvent('domready', function(){
	$$('.edit').addEvent('click', function(event){
		event.stop();

		if ( this.retrieve('editing') ) {
			var tx = this.retrieve('textarea');
			new Request.JSON({
				url: '{% url cms_update %}',
				headers: {
					'X-CSRFToken': new Cookie('csrftoken').read()
				},
				data: {
					'content_section': this.get('rel'),
					'content_text': tx.get('value')
				},
				onSuccess: function(json){
					if ( json.status == 'ok' ) {
						alert( json.message );
						this.set('text', this.retrieve('original_text')).removeClass('save');
						this.retrieve('el').set('text', tx.get('value')).replaces(tx);
						this.store('editing', false);
					}
					else {
						alert( json.message );
					}
				}.bind(this)
			}).send();
		}

		var el = document.id( this.get('rel') );
		if ( !el ) return false;

		this.store('original_text', this.get('text')).set('text', 'Save').addClass('save');

		var ta = new Element('textarea');
		ta.set('text', el.get('text'));
		ta.setStyle('height', el.getHeight().toInt() + 50);
		//ta.setStyle('width', el.getWidth());
		ta.replaces(el);

		this.store('el', el);
		this.store('textarea', ta);
		this.store('editing', true);
	});
});
</script>
