<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>eFinity</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}cm/css/style.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" media="screen">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" media="screen">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/mootools/1.3.2/mootools-yui-compressed.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/mootools.more.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/core.js"></script>    
</head>
<body class="">
<div class="toolbar top">
  <div class="margined">
    <div class="right">      
    </div>
  </div>
</div>
<div class="margined">
  <div id="content">	      
    <center>
      <img src="{{ MEDIA_URL }}logo.png" alt="" />
      <p style="line-height:1.3em;color:#1A1A1A ; font-size:40px">The new eFinity website is currently being serviced. <br> It will back online shortly thank you for your patience.</p>
    </center>
  </div>
</div>
<div class="margined">
  <div id="footer">
    <p class="left">Copyright &copy; 2011, eFinity, Inc. All rights reserved.&nbsp;   &nbsp;IBO Support 866.686.8861</p>    
    <p class="right">Powered by <a href="http://www.almondev.com" onclick="this.target='_blank'">Almond Development</a> technologies.</p>
  </div>
</div>
</div>

</body>
</html>
