<!DOCTYPE html>
<head>
<title>Welcome to eFinity</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/like.css" />
</head>

<body>

<div class="topline" align="left">
    <table class="topline-table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="topline-left-td" style="width:262px;">
                <a href="http://www.efinity.com"><img class="logo" src="{{ STATIC_URL }}images/logo.png" alt="efinity logo" border="0" style="height:75px;" /></a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>

<div class="header-1">
    <div class="header-2">
        <div class="shadow-top">&nbsp;</div>
        <div class="fb-head-top">
            <div class="fb-head-content">
                <h1>Login to your account</h1>
            </div>
        </div>
        <div style="height:433px;"></div>
        <div class="shadow-bottom" style="margin-top:-3px;">&nbsp;</div>
    </div>
</div>
<div class="content-1">
    <div class="fb-head-bottom">
        <div class="fb-like">
            <form action="{% url auth_login %}?next=/" method="post">
                {% csrf_token %}
                <div class="fb-like-xfbml">
                    {{ auth_form.username.errors }}
                    <input type="text" name="username" placeholder="IBO Number" id="ibo-number-input">
                </div>
                <div class="google-plus">
                    {{ auth_form.password.errors }}
                    <input type="password" name="password" placeholder="Password" id="password-input">
                </div>
                <input type="submit" value="Enviar"/>
            </form>
        </div>
        <p style="padding:30px 0 0 30px;">
            New to eFinity? <a href="{% url registration_register %}" id="create-account-link">Create an account</a>
        </p>
    </div>
    <div class="content-2" align="center">
        <div style="height:220px;">&nbsp;</div>
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="/images/highslide/highslide-ie6.css" />
<![endif]-->
<div class="footer">
    <div style="vertical-align:text-bottom;">
        <span style="margin-right:10px;">© 2012 efinity. All rights reserved.</span>|
        <a href="#"> Contact</a>|
        

        <a style="margin: 0px;" href="#" target="_blank">
            <img title="Become a Fan on Facebook" src="{{ STATIC_URL }}img/facebook.png" alt="Become a Fan on Facebook" style="border-width:0px;vertical-align: top; margin-top:-1px;" />
        </a>
        <a style="margin: 0px;" href="#" target="_blank">
            <img title="Follow us on Twitter" src="{{ STATIC_URL }}img/twitter_mini-b.png" alt="Follow us on Twitter" style="border-width:0px;vertical-align: top; margin-top:-1px;" />
        </a>

        </div>
</div>

    </div>
</div>
</body>
</html>