{% extends "public/base.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome to eFinity" %}{% endblock %}
{% block header %}{% endblock %}
{% block navbar-container %}{% endblock %}

{% block content %}
<center>
	<img src="{{ MEDIA_URL }}logo.png" alt="" />

	<!-- <p style="line-height:1.3em;color:#C30 ; font-size:20px">{% trans "Welcome to your eFinity IBO home" %}! <strong>{% trans "If this is your first visit to the new eFinity site you must" %}<br />{% trans "reset your password!!" %}</strong> {% trans "If you have already reset your password login below to continue to your dashboard." %}</p> -->

	<form method="post" action="{% url auth_login %}?next=/">
		{% csrf_token %}
		<table style="width:200px; ">
		  <tr>
		    <td style="text-align:center;">
		      IBO Number<br /> <br/>
		      <input class="round" type="text" name="username" placeholder="{% trans "IBO Number" %}" style="text-align:center" /><br/>
		    </td>
		    <td style="text-align:center;">
		      Password<br /><br/>
		      <input class="round" style="text-align:center" type="password" name="password" placeholder="{% trans "Password" %}" /><br />
		    </td>
		  </tr>
		</table>
		<input class="round" type="submit" value="{% trans "Login" %}" />

		{% if form.errors or form.non_field_errors %}
		<br class="clear" /><br/>
		<ul class="errorlist">
			<li>{% trans "Login details are invalid." %}</li>
		</ul>
        {% endif %}

        <br class="clear" /><br/>

        <p style="line-height:1.3em;color:#C30;font-size:20px">
        	{% trans "To reset your password" %} 
        	<a href="{% url auth_password_reset %}">{% trans "click here</a>" %}</a>
        </p>
      <p style="line-height:1.3em;font-size:11px">{% trans "If you do not have an account, please" %} <a href="{% url registration_register %}">{% trans "click here" %}</a>.</p>
      
	</form>
</center>

{% endblock %}
