{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% trans "Thank you for viewing" %}</title>
	<link href="{{ MEDIA_URL }}css/splash.css" rel="stylesheet" type="text/css" media="screen">
	{% if editable %}{% include "public/cms.html" %}{% endif %}
</head>
<body>
	{% if messages %}
	<ul id="messages">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

<div class="wrapper">
	<div class="header">
		<h1>{{ sponsor.get_full_name }}</h1>
		{% autoescape off %}{{ tag_line.render }}{% endautoescape %}
	</div>

	<div class="left">
		{% autoescape off %}{{ splash.render }}{% endautoescape %}
		
	</div>
    
    	<div class="lefttop">
		
		{% autoescape off %}{{ splash2.render }}{% endautoescape %}
	</div>

	<div class="right">
		<div><img class="profile_image" src="{% if sponsor.profile.personal_photo %}{{ sponsor.profile.personal_photo.url }}{% else %}{{ MEDIA_URL }}images/default_profile_photo.jpg{% endif %}" alt="" /></div>
		{% if editable %}
		<a href="{% url profile_update %}" target="_parent">{% trans "Change picture" %}</a>
		{% endif %}
	</div>
</div>
</body>
</html>
