{% load i18n  %}
{% load currency %}
{% load checkout %}

{% for payment in order.payments_completed %}
    {% if forloop.first %}
<h4>{% trans 'Paid' %}</h4>
{% endif %}
{{ payment.time_stamp|date:"y-M-d H:i" }} {{ payment.payment|payment_label }} - {{ payment.amount|currency }}<br/>
{% if forloop.last %}
{% with order.balance|currency as balance %}
{% blocktrans %}Balance = {{ balance }} {% endblocktrans %}
{% endwith %}
{% endif %}
{% if paylink and not order.paid_in_full %}
<p><a href="{% url satchmo_balance_remaining_order order.id %}">{% trans 'Pay remaining balance' %}</a></p>
    {% endif %}
{% endfor %}
