{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
<li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
<li>{% trans "Promo Page" %}</li>
</ul>
<ul class="right">
    <li class="first"><a href="{% url replicate_private user.username 'promo' '1' %}">{% trans 'Your Promo Page' %}</a></li>
{% endblock %}

{% block title %}{% trans "Edit Splash Page" %}{% endblock %}

{% block main %}

    <iframe src="{% url replicate_private user.username 'promo' '1' %}?edit=1" style="width: 100%; height: 800px"></iframe>
    
{% endblock %}
