{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
<li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
<li>{% trans "Promo Email" %}</li>
{% endblock %}

{% block title %}{% trans "Edit Promo Email" %}{% endblock %}
{% block main %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/jwysiwyg/jquery.wysiwyg.js"></script>

<style type="text/css">
    @import url({{ STATIC_URL }}vendor/jwysiwyg/jquery.wysiwyg.css);
    .emailForm input { width: 100%; }
    label { display: block; margin: 0 0 5px 0; }
    #count_message {color:red; line-height:25px}
</style>

<form method="post" action="{% url cms_email %}">
    {% csrf_token %}

    <div id="send">
        <h2>{% trans "Send out promo emails" %}</h2>
        <p>Below you can enter as many users as you'd like to have promo emails sent to.</p>
        <br/>
        <table class="emailForm">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody id="tBody">
                <tr id="firstRow">
                    <td><input name="names" placeholder="{% trans 'Name of recipient' %}" /></td>
                    <td><input name="mails" placeholder="{% trans 'Email of recipient' %}" /></td>
                </tr>
                <tr>
                    <td><input name="names" placeholder="{% trans 'Name of recipient' %}" /></td>
                    <td><input name="mails" placeholder="{% trans 'Email of recipient' %}" /></td>
                </tr>
                <tr>
                    <td><input name="names" placeholder="{% trans 'Name of recipient' %}" /></td>
                    <td><input name="mails" placeholder="{% trans 'Email of recipient' %}" /></td>
                </tr>
            </tbody>
        </table>

        <div>
            <input class="left" id="addEmails" type="button" value="{% trans 'Add more emails' %}" /> <span id="count_message"></span>
            <input class="right" type="submit" value="{% trans 'Send Out Emails' %}" name='send_messages'/>
            <div class="clear"></div>
        </div>
    </div>

	
    <br><br>

    <div id="email">
        <h2>{% trans "Promo Email Message" %}</h2>
        
        <div class="left">
            <label for="wysiwyg">{% trans "Promo Email Body" %}</label>
            <textarea id="wysiwyg" name="email_text" style="width: 530px">{% if email_text %}{{ email_text }}{% else %}Dear {name},<br/><p>My name is {{ user.get_full_name }} and I am a participant in eFinity.</p><p>Please visit me at {promo_url}</p><br/>Kind Regards,<br/>{{ user.get_full_name }}{% endif %}</textarea>
        </div>

        <div class="right" style="width: 380px">
            <label for="subject">{% trans "Promo Email Subject" %}</label>
            <div style="width: 95%"><input type="text" id="subject" name="subject" placeholder="{% trans 'Subject' %}" value="{% if email_subject %}{{ email_subject }}{% else %}{% trans 'Come join me in a great opportunity' %}{% endif %}" style="width: 100%; padding: 4px 6px;" /></div>

            <div class="helptext">
                <p><span class="dim">Help</span> Within your promo email you are able to use a few short text inserts to reference data. Just insert these bits for simplicity.</p>
                <h3>Complete Reference</h3>
                <dl>
                    <dt>{name}</dt>
                    <dd>The lead's name.</dd>
                    <dt>{email}</dt>
                    <dd>The lead's email.</dd>
                    <dt>{promo_url}</dt>
                    <dd>The address to your promo page.</dt>
                </dl>
            </div>
        </div>

        <div class="clear">
            <input type="submit" value="Save Promo Email text" name='save_email'/>
            <a href="?reset=1">Reset My Custom Promo Email to the Default</a>
        </div>
    </div>
</form>

<br><br>

    {% if maillog %}
    <div id="sent">
        <h2>Promo emails you sent out</h2>
        <p>This is the history of all the promo emails you sent out.</p>
        <table class="emailForm">
            <thead>
                <tr>
                    <th>{% trans "Recipient" %}</th>
                    <!--<th>{% trans "Invite URL" %}</th>-->
                    <th>{% trans "Viewed Promo?" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for log in maillog %}
                <tr>
                    <td>{{ log.name }} &lt;{{ log.email }}&gt;</td>
                    <!--<td>{{ log.invite.url }}</td>-->
                    <td>{% if log.invite.visited %}{{ log.invite.visited }}{% else %}{% trans "Hasn't yet" %}{% endif %}</td>
                    <td><a href="#">{% trans "Resend Email" %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

<script type="text/javascript">
jQuery.noConflict();

$('addEmails').addEvent('click', function(event){
    if (event) event.stop();

    if(jQuery('.emailForm #tBody tr').length >=5 ){
jQuery('#count_message').text('You can sent only 5 promo emails at one go.').fadeIn()
       return;
    }else{
       jQuery('#count_message').hide();
    }

    var els = $('firstRow').clone();
    els.getElements('input').each(function(el){
        el.set('value', '');
    });
    $('tBody').adopt(els);
});

jQuery(function() {
    jQuery('#wysiwyg').wysiwyg();
});
</script>
{% endblock %}
