{% load adminmedia %}{% load url from future %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ MEDIA_URL }}lively/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}lively/css/common.css?v1" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}lively/css/form.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}lively/css/tables.css" rel="stylesheet" type="text/css" />
   
    <script src="{{ STATIC_URL }}vendor/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendor/jquery-ui.min.js" type="text/javascript"></script>

    <style media="print">
      #header, #menu, #submenu, .settingsblock, #rightcolumn, #footer, #leftcolumn #content table thead tr:first-child, #leftcolumn #content table tfoot{
      display:none;
      }
    </style>
    {% block extrastyle %}{% endblock %}
    <!--[if gte IE 5.5]>
	<script language="JavaScript" src="{{ MEDIA_URL }}lively/js/ie.js" type="text/JavaScript"></script>
    <![endif]-->
    <script type="text/javascript">
      window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
      <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
  </head>
  {% load i18n %}
  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    <div id="wrapper">
      <!-- Header -->
      <div id="header">
	<span style="float:right;">
	  Welcome {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}
          {% block userlinks %}
            {% url 'django-admindocs-docroot' as docsroot %}

	    {% comment %}
            {% if docsroot %}
               / <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
            {% endif %}
	    {% endcomment %}

            {% url 'admin:password_change' as password_change_url %}
            {% if password_change_url %}
               / <a href="{{ password_change_url }}">{% trans 'Change password' %}</a>
            {% else %}
               / <a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a> /
            {% endif %}

            {% url 'admin:logout' as logout_url %}
            {% if logout_url %}
               / <a href="{{ logout_url }}">{% trans 'Log out' %}</a>
            {% else %}
               / <a href="{{ root_path }}logout/">{% trans 'Log out' %}</a>
            {% endif %}
	  {% endblock %}
	  <br/><small>Last logged in at <strong>{{ user.last_login }}</strong></small>
	</span>
        <div>
	  {% block branding %}<img src="{{ MEDIA_URL }}lively/images/logonew.png" width="367" height="142" class="logo" alt="CrossMarket Software" />{% endblock %}
	</div>
      </div>
      <!-- Header -->


      <!-- Menu -->
      <div id="menu">
        <ul id="navmenu">
<!--          <li style="float:right;" class="current"><a href="/">Visit Site</a></li> -->
          <li><a href="/" title="Dashboard">Dashboard</a></li>
          <li><a href="/products">Products / Orders</a></li>
          <li><a href="/user/support/list/">Video / Media</a></li>
          <li><a href="/user/support/broadcast/">Email Broadcast</a></li> 
          <li><a rel="nofollow" target="_blank" href="/user/reports/list/">Events</a></li>
          <li><a rel="nofollow" target="_blank" href="#">Reports</a></li>
          <li><a rel="nofollow" target="_blank" href="/admin/auth/user/">User Information</a></li>
        </ul>
      </div>
      <!-- Menu -->

      <div id="submenu">
	<span class="searchbar">
	  <form  action="/user/support/search/" method="get" style="margin:0px; padding:0px;">
	    <input type="text" placeholder="Search for users or orders (then hit enter)" name="q" style="width:230px; margin:2px 0px 0px 0px;"/>
	  </form>
	</span>
	<ul>
	  <li><a href="/user/reports/commissions/">Commissions</a></li>
	  <li><a href="/admin/products/discount/">Discounts</a></li>
	  <li><a href="/admin/dashboard/document/">Documents</a></li>
	  <li><a href="/">Customer Support</a></li>
	</ul>
      </div>

      <!-- settings block -->
      <div class="settingsblock">
	<div>
	{% block breadcrumbs %}
	  <a href="/">{% trans 'Home' %}</a>
          {% if title %}<span>{{ title }}</span>{% endif %}
	{% endblock %}
	</div>
      </div>
      <!-- settings Block -->
      
      <div style="clear:both"></div>
      <!-- Content Area -->
      <div id="middlepart">

	<!-- Left column -->
	<div id="leftcolumn">
	  <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h3>{{ title }}</h3>{% endif %}{% endblock %}

            {% if messages %}
	    <br/>
            <div class="messagelist">
	      {% for message in messages %}
              <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
		{{ message }}
	      </div>
	      {% endfor %}
	    </div>
            {% endif %}

            {% if msg %}
	    <br/>
            <div class="messagelist">
	      {% for m in msg %}
              <div{% if m.tags %} class="{{ m.tags }}"{% endif %}>
		{{ m.text|safe }}
	      </div>
	      {% endfor %}
	    </div>
            {% endif %}

	    {% block top-filter %}{% endblock %}
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
	  </div>
      </div>
      <div id="rightcolumn">
	{% block filters %}{% endblock %}
      </div>
    </div>
  </div>
  {% block footer %}
    <div id="footer">
    <p class="copyright">
      &copy; Copyright {% now "Y" %} AlmondDev
    </p>    
    </div>
  {% endblock %}
</body>
</html>
