{% load admin_static %}
{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}{% endblock %}</title>
<link href="{% static %}acss/menu.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/form.css" rel="stylesheet" type="text/css" />
<link href="css/tables.css" rel="stylesheet" type="text/css" />
{% block extrastyle %}{% endblock %}
<!--[if gte IE 5.5]>
<script language="JavaScript" src="js/ie.js" type="text/JavaScript"></script>
<![endif]-->
</head>
<body>
<div id="wrapper">
<!-- Header -->
<div id="header"> <span style="float:right;"> Welcome [administrator] / <a href="#">Logout</a> / <a href="#">settings</a> / <a href="#">Help</a><br />
        <small>Last logged in at<strong>09:30 AM </strong> ( EST ) </small> </span>
        <div> <img src="images/logonew.png" width="367" height="142" class="logo" alt="ProManager V2.0" /> </div>
</div>
<!-- Header -->

<!-- Menu -->
<div id="menu">
        <ul id="navmenu">
                <li style="float:right;" class="current"><a href="#">Visit Site</a></li>
                <li><a href="#" title="Free CSS Menus">Dashboard</a></li>
                <li><a href="#">Products / Orders</a></li>
                <li><a href="#">Video / Media</a></li>
                <li><a href="#">Email Broadcast</a>
                      <!-- <ul>
                                <li><a href="#">Template</a></li>
                                <li><a href="#">Setting</a>
                                        <ul>
                                                <li><a href="#">2nd Sub Menu</a></li>
                                                <li><a href="#">2nd Sub Menu</a></li>
                                                <li><a href="#">2nd Sub Menu</a></li>
                                        </ul>
                                </li>
                                <li><a href="#">Edit CSS</a></li>
                        </ul> -->
                </li> 
                <li><a rel="nofollow" target="_blank" href="#">Events</a></li>
                <li><a rel="nofollow" target="_blank" href="#">Reports</a></li>
                <li><a rel="nofollow" target="_blank" href="#">User Information</a></li>
        </ul>
</div>
<!-- Menu -->
<div id="submenu">
<span class="searchbar"><input type="text" value="search" /> <a href="#" class="add">Go</a></span>
<ul>
<li><a href="#">Commissions</a></li>
<li><a href="#">Discounts</a></li>
<li><a href="#">Documents</a></li>
<li><a href="#">Customer Support</a></li>
<!-- <li><a href="#" class="activesub">Submenu 4</a></li>
<li><a href="#">Submenu 5</a></li>
<li><a href="#">Submenu 6</a></li>
<li><a href="#">Submenu 7</a></li>
<li><a href="#">Submenu 8</a></li>
</ul> -->

</div>
<!-- settings block -->
<div class="settingsblock">
<div><a href="#">Tools Reports</a> <a href="#">Events Reports</a></div>

<a href="#"><br />
</a>
<a href="#"><br />
</a>
<a href="#"><br />
</a>
<a href="#"><br />
</a>
<a href="#"><br />
</a>
</div>
<!-- settings Block -->

<div style="clear:both"></div>
<!-- Content Area -->
<div id="middlepart">




<!-- Left column -->
<div id="leftcolumn">

<!-- Form Box 1 --><!-- Form Box 2 -->
<br />
<!-- Success Box --><!-- Success Box -->
<!-- Error Box --><!-- Error Box -->
<!-- Warning Box --><!-- Warning Box -->
<br />
<!-- Form Box 1 -->
<form action="#" method="post" name="f">

<!-- Form Box 1 -->
<!-- Form Box 2 -->
<fieldset>
<legend>Select your filters for this report </legend>

<label>Select Option<em>*</em></label>
<select id="type">
        <option>option value 1</option>
        <option>option value 2</option>
</select>
<label>Select Option<em>*</em></label>
<select id="type">
        <option>option value 1</option>
        <option>option value 2</option>
</select>
<select id="type">
        <option>option value 1</option>
        <option>option value 2</option>
</select>
<br />
<label>Select Option<em>*</em></label>
<select id="type">
        <option>option value 1</option>
        <option>option value 2</option>
</select>
<label>Select Option<em>*</em></label>
<select id="type">
        <option>option value 1</option>
        <option>option value 2</option>
</select>
<br />
<!-- <label class="required" accesskey="e">Bold Small Field: </label>
<input type="text" id="email" name="email" tabindex="3" title="email" />
<small>Your email address is safe with us, until we're acquired.</small> <br />
<label>Text Area Field Full: </label>
<textarea name="comments" rows="4" cols="50"  tabindex="4" title="comments"></textarea> -->
<br />
<label></label>
<input type="submit" value="submit" id="submit2" tabindex="5" />
<input type="reset" value="reset" id="reset2" tabindex="6" />
</fieldset>
</form>
<!-- Form Box 2 -->
<br />
<!-- Tables 1 -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
        <thead>
            <tr>
            <th class="capt" colspan="8">
        Caption for the table here
        </th>
        </tr>
         <tr>
                        <th width="50">No.</th>
                        <th>Select</th>
                        <th>Title</th>
                        <th>User</th>
                        <th>Description</th>
                        <th>Views</th>
                        <th>Status</th>
                        <th>Action</th>
                </tr>
        </thead>
        <tfoot>
                <tr>
                        <th colspan="8"><a class="publish" href="#">print</a><a class="add" href="#">generate csv</a></th>
                </tr>
                <tr>
                        <td colspan="8"><!-- Pagination -->
                                <a href="#" class="pagelink">Previous</a> <a href="#" class="pagelink">1</a> <a href="#" class="pagelink">2</a> <a href="#" class="pagecurrent">3</a> <a href="#" class="pagelink">4</a> <a href="#" class="pagelink">5</a> <a href="#" class="pagelink">6</a> <a href="#" class="pagelink">7</a> <a href="#" class="pagelink">8</a> <a href="#" class="pagelink">9</a> <a href="#" class="pagelink">10</a> <a href="#" class="pagelink">22</a> <a href="#" class="pagelink">Next</a>
                                <!-- Pagination -->
                        </td>
                </tr>
        </tfoot>        <tbody>
                <tr>
                        <td>1.</td>
                        <td><input type="checkbox"  checked="checked" value="" id="check"/></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>10</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
                <tr>
                        <td>2.</td>
                        <td><input type="checkbox"  checked="checked" value=""/></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>10</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
                <tr>
                        <td>3.</td>
                        <td><input type="checkbox"  checked="checked" value=""/></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>100</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
                <tr>
                        <td>3.</td>
                        <td><input type="checkbox"  checked="checked" value="" /></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>100</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
                <tr>
                        <td>3.</td>
                        <td><input type="checkbox"  checked="checked" value="" /></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>100</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
                <tr>
                        <td>3.</td>
                        <td><input type="checkbox"  checked="checked" value="" /></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>100</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
                <tr>
                        <td>3.</td>
                        <td><input type="checkbox"  checked="checked" value="" /></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>100</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
                <tr>
                        <td>3.</td>
                        <td><input type="checkbox"  checked="checked" value="" /></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>100</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
                <tr>
                        <td>3.</td>
                        <td><input type="checkbox"  checked="checked" value="" /></td>
                        <td>Lorem Ipsum</td>
                        <td><a href="#">Username</a></td>
                        <td>username@domain.com</td>
                        <td>100</td>
                        <td>Enabled</td>
                        <td><a class="add" href="#">edit</a><a class="delete" href="#">delete</a></td>
                </tr>
        </tbody>

</table>
<!-- Tables 1 -->

   <!-- Tables 2 --><!-- Tables 2 -->
<!-- Left Column -->
</div>
<!-- Right Column -->
<div id="rightcolumn">

<div class="notes">
<h2>Saved Reports</h2>
<div id="sidebarmenu">

<ul>
<li><a href="#" class="activesub">Event Daily Report</a></li>
<li><a href="#">Tool Sales Daily Report</a></li>
<li><a href="#">Monthly Commision Report</a></li>
<li><a href="#">Commision History</a></li>
<li><a href="#">Subscription Totals Report</a></li>
<li><a href="#">Year To Date Sales Report</a></li>

</ul>

</div>
</div>



<!-- Notes / Articles Box -->
<div class="notes"><h2>This is a Notice!</h2>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis dignissim vulputate leo. </p>
<ul>
<li>Donec mauris. Suspendisse potenti. </li>
<li>Class aptent taciti sociosqu ad litora </li>
<li>torquent per conubia nostra, per inceptos himenaeos. </li>
<li>Aliquam molestie, erat non ultricies elementum, </li>
<li>ante nulla hendrerit erat, sed laoreet </li>
<li>augue pede eget leo. Nunc iaculis, </li>
</ul>
</div>

<!-- Notes / Articles Box -->
</div>
<!-- Content -->
</div>
</div>

<!-- Wrapper -->
<div id="footer">
        <p class="copyright">
	  &copy; Copyright 2009 All rights reserved <br />
                Board details here<br />
                Administrator Logout</p>
</div>

</body>
</html>
