{% extends "dash/base.html" %}
{% load i18n %}

{% block navbar %}
    <li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
    <li><a href="{% url messages_inbox %}">{% trans "Messages" %}</a></li>
    <li>{% block navbar-text %}{% endblock %}</li>
</ul>
<ul class="right">
    <li class="first"><a href="{% url messages_inbox %}">{% trans "Inbox" %}</a></li>
    <li><a href="{% url messages_outbox %}">{% trans "Outbox" %}</a></li>
    <li><a href="{% url messages_compose %}">{% trans "Compose" %}</a></li>
    <li><a href="{% url messages_trash %}">{% trans "Trash" %}</a></li>
{% endblock %}
