{% extends "messages/base.html" %} 
{% load i18n %}

{% block navbar-text %}{% trans "Compose" %}{% endblock %}

{% block content %} 
<div class="dash">
<h2>{% trans "Compose Message"%}</h2>
<form action="" method="post">
    {% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>
</div>
{% endblock %}
