{% extends "messages/base.html" %} 
{% load i18n %}

{% block navbar-text %}{% trans "Inbox" %}{% endblock %}

{% block main %}
<div class="dash">
    <h2>{% trans "Inbox" %}</h2>
    <table class="messages">
        <thead>
            <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
        </thead>
        <tbody>
        {% for message in message_list %} 
        <tr>
            <td>{{ message.sender.get_full_name }}{% if message.sender.aid %} ({{ AID_TITLE_SHORT }} {{ message.sender.aid }}){% endif %}</td>
            <td>
                {% if message.new %}<strong>{% endif %}
                {% if message.replied %}<em>{% endif %}
                <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                {% if message.replied %}</em>{% endif %}
                {% if message.new %}</strong>{% endif %}</td>
            <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
            <td><a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
