{% extends "messages/base.html" %}
{% load i18n %}

{% block navbar-text %}{% trans "Outbox" %}{% endblock %}

{% block main %} 
<div class="dash">
<h2>{% trans "Sent Messages" %}</h2>
<table class="messages">
    <thead>
        <tr><th>{% trans "Recipient" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Sent" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td>{{ message.recipient.get_full_name }}{% if message.recipient.aid %} ({{ AID_TITLE_SHORT }} {{ message.recipient.aid }}){% endif %}</td>
        <td>
        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url messages_delete message.id %}?next={% url messages_outbox %}">{% trans "delete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
