{% extends "messages/base.html" %} 
{% load i18n %}

{% block navbar %}
<li class="first"><a href="{% url dash_home %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url messages_inbox %}">{% trans "Messages" %}</a></li>
<li>{% blocktrans with subject=message.subject sender=message.sender.get_full_name %}{{ subject }} from {{ sender }}{% endblocktrans %}</li>
{% endblock %}

{% block main %}
<h2>{{ message.subject }} from {{ message.sender.get_full_name }}</h2>
<dl class="message-headers">
    <dt>{% trans "Date" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</dd>
    {% ifequal message.sender user %}
    <dt>{% trans "Recipient" %}</dt>
    <dd>{{ message.recipient }}</dd>
    {% endifequal %}
</dl>

<div style="border: 1px solid lightGrey; border-radius: 5px">
    <span style="display: block; border-radius: 5px 5px 0 0; background: #ddd; color: #666; padding: 3px;">
        {% trans "Message" %}
    </span>
    <div style="padding: 10px">
        {{ message.body|linebreaksbr }}
    </div>
</div>

<br />

{% ifequal message.recipient user %}
<a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a>
{% endblock %}
