/**
 * @header
 * Table styles
 *
 * We need these because we have so many
 * tables to display that is is saddening.
 *
 * We are still using tables over DIVs
 * because they take up less bandwidth
 * and are just easier to get to output
 * properly.
 *
 * @author Benjamin Hutchins
 */

table {
	width: 100%; /* we set this to 100% because every table needs it */
}

table thead th,
table caption {
	/*background:#FFFFFF url(../images/select_bg.png) bottom left repeat-x !important;*/

	background-color: #eee;

	background-image: -moz-linear-gradient(top, #ffffff, #dddddd); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #dddddd)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dddddd'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dddddd')"; /* IE8 */	

	padding:5px 15px;
	text-align:left;

	/*border: 1px solid #bbb;*/
	border-color: #bbb #999 #999 #bbb;

	font-weight: normal;
	letter-spacing:0.05em;

	color:#000;
	text-align:middle;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(255,255,255,1);
}

table thead a,
table thead a:link,
table thead a:visited,
table caption a,
table caption a:link,
table caption a:visited {
	text-decoration: none;
	color: #000;
}

table td, table th {
	padding: 5px 7px;
	vertical-align:middle;
	line-height:24px;
}

table td, table tbody th {
	border:1px solid #DDDDDD;
	/*background:#FFFFFF;*/
	font-weight: normal;
}

table tr td:first-child { border-left: none; }
table tr td:last-child { border-right: none; }

table tbody tr:hover td,
table tbody tr:hover th {
	background-color: #ededed;
}

/**
 * Checkboxes in tables
 */
table th.checkbox,
table td.checkbox {
	width:19px !important;
}

td.center { text-align: center; }

/**
 */
table thead tr th.header {
	background-image: url(../images/dropdown_arrows.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

/**
 * UserFields Table
 */
.userfields td input[type=text] {
	padding: 0;
	background: none;
	border: none;
	width: 100%;
	margin: 0;
}

.lazyinputs td input[type=text] {
	padding: 2px;
	background: none;
	margin: 0;
}

/**
 * Table showing model entries
 */
#result_list {
	width: 100%;
}
