{% load i18n %}
{% url admin:index as root_path %}
<div id="menubar">
    <div id="menu" class="dropbutton">
        <h1 id="menubutton"><a href="">{{ title }} <span class="hotkey">Q</span></a></h1>
        
        <div id="menulist" class="dropbuttonlist">
            <ul>
                {% comment %}
                <li class="submenu"><a class="top" href="{{ root_path }}auth/">{% trans 'Users' %} <span class="hotkey">G</span></a>
    				<ul class="submenu">
	    				<li class="sub"><a href="{{ root_path }}auth/user/">{% trans 'Users' %} <span class="hotkey">1</span></a></li>
		    			<li class="sub"><a href="{{ root_path }}auth/group/">{% trans 'Groups' %} <span class="hotkey">2</span></a></li>
			    	</ul>
                </li>
                {% endcomment %}

                <li class="submenu"><a class="top" href="{{ root_path }}shop/">{% trans "Store &amp; Orders" %} <span class="hotkey">S</span></a>
                    <ul class="submenu">
                        <li class="sub"><a href="{{ root_path }}products/product/">{% trans 'Products' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}shop/order/">{% trans 'Product Orders' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}subscription/subscriptionproduct/">{% trans 'Product Subscriptions' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}membership/membershipproduct/">{% trans 'Membership Products' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}products/category/">{% trans 'Product Categories' %}</a></li>
                        <!--<li class="sub"><a href="{{ root_path }}shipping/">{% trans 'Shipping Services' %}</a></li>-->
                        <li class="sub"><a href="{{ root_path }}tax/taxclass/">{% trans 'Tax Management' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}products/discount/">{% trans 'Discounts' %}</a></li>
                    </ul>
                </li>

                <li class="submenu"><a class="top" href="{{ root_path }}compensation/">{% trans "Compensation" %} <span class="hotkey">C</span></a>
                    <ul class="submenu">
                        <li class="sub"><a href="{{ root_path }}compensation/commission/">{% trans 'Commissions' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}compensation/compensationlevel/">{% trans 'Comission Levels' %}</a></li>
		    			<li class="sub"><a href="{{ root_path }}compensation/plan/">{% trans 'Plans' %}</a></li>
    				</ul> 
                </li>

                <li class="submenu"><a class="top" href="{{ root_path }}genealogy/">{% trans "Genealogy" %} <span class="hotkey">G</span></a>
	    			<ul class="submenu">
                        <li class="sub"><a href="{{ root_path }}auth/group/">{% trans 'Pin Levels' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}genealogy/tree/">{% trans 'Programs' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}genealogy/position/">{% trans 'Program Positions' %}</a></li>
    				</ul> 
                </li>

                <li class="submenu"><a class="top" href="{% url event_nav_list %}">{% trans "Events" %} <span class="hotkey">E</span></a>
	    	  <ul class="submenu">
                    <li class="sub"><a href="{{ root_path }}planning/convention/">{% trans 'Events' %}</a></li>
                    <li class="sub"><a href="{{ root_path }}planning/ticket/">{% trans 'Tickets' %}</a></li>
                    <li class="sub"><a href="{{ root_path }}planning/seatingcolor/">{% trans 'Seating Colors' %}</a></li>
                    <li class="sub"><a href="{{ root_path }}planning/seatingchart/">{% trans 'Seating Charts' %}</a></li>
                    <li class="sub"><a href="{% url profits %}">{% trans 'Profits' %}</a></li>
    		  </ul> 
	    	</li>
		
                <li class="submenu"><a class="top" href="#">{% trans "Site Control" %} <span class="hotkey">I</span></a>
    				<ul class="submenu">
                        <!--<li class="sub"><a href="{{ root_path }}store/reviews/">{% trans 'Customer Reviews' %}</a></li>-->
                        <!--<li class="sub"><a href="{{ root_path }}support/requests/">{% trans 'Support Requests' %}</a></li>-->
                        <!--<li class="sub"><a href="{{ root_path }}support/returns/">{% trans 'Returns' %}</a></li>-->
                        <li class="sub"><a href="{{ root_path }}dashboard/document/">{% trans 'Documents' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}mediaupload/bbk/" title="{% trans 'Business Builder Kit Videos' %}">{% trans 'BBK Videos' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}mediaupload/promo/">{% trans 'Promotional Videos' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}mediaupload/training/">{% trans 'Training Videos' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}mediaupload/etv/">{% trans 'eTV Videos' %}</a></li>
    				</ul>
                </li>

                <li><a class="top" href="#">{% trans "Reports" %}</a></li>

                <li id="link-dashboard" title="{% trans 'View your user dashboard' %}"><a class="top" href="/">{% trans "Dashboard" %} <span class="hotkey">D</span></a></li>
		
		<li id="link-boradcast" title="{% trans 'Comminucate via Email' %}"><a class="top" href="{% url broadcast %}">{% trans "Broadcast" %} <span class="hotkey">B</span></a></li>

                <li title="{% trans 'View your customer dashboard' %}"><a class="top" href="{% url support_home %}">{% trans "Customer Support" %} <span class="hotkey">H</span></a></li>

                <li id="link-options" class="submenu" title="{% trans 'View and configure site options' %}"><a class="top" href="/settings/">{% trans "Options" %} <span class="hotkey">O</span></a>

                    <ul class="submenu">
                        <li class="sub"><a href="/settings/">{% trans 'System Settings' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}shop/config/">{% trans 'Store Configuration' %}</a></li>
			    		<li class="sub"><a href="{{ root_path }}accounts/customkey/">{% trans 'Profile Fields' %}</a></li>
		    			<li class="sub"><a href="{{ root_path }}cms/section/">{% trans 'Content Sections' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}l10n/country/">{% trans 'Countries' %}</a></li>
                        <li class="sub"><a href="{{ root_path }}sites/site/">{% trans 'Multi-Site' %}</a></li>
                    </ul>

                </li>

            <!--<li id="link-themes" title="Preview and activate themes"><a class="top" href="#">Themes <span class="hotkey">T</span></a></li>-->

            <!--<li id="link-plugins" title="Activate, deactivate, and configure plugins"><a class="top" href="#">Plugins <span class="hotkey">P</span></a></li>-->

                <li id="link-users" title="{% trans 'View and manage users' %}"><a class="top" href="{{ root_path }}auth/user/">{% trans "Users" %} <span class="hotkey">U</span></a></li>
                                
                <li id="link-groups" title="{% trans 'View and manage groups' %}"><a class="top" href="{{ root_path }}auth/group/">{% trans "Groups" %} <span class="hotkey">G</span></a></li>

                <li id="link-profile"><a class="top" href="{% url admin:password_change as password_change_url %}{% if password_change_url %}{{ password_change_url }}{% else %}{{ root_path }}password_change/{% endif %}">{% trans 'Change password' %} <span class="hotkey">Y</span></a></li>

                <!--<li id="link-logs" title="{% trans 'View system log messages' %}"><a class="top" href="{{ root_path }}admin/">Logs <span class="hotkey">L</span></a></li>-->

                <li id="link-logout"><a class="top" href="{% url admin:logout as logout_url %}{% if logout_url %}{{ logout_url }}{% else %}{{ root_path }}logout/{% endif %}">{% trans 'Log out' %} <span class="hotkey">X</span></a></li>
            </ul>
		</div>
	</div>

    {% if user.is_active and user.is_staff %}
	<div class="right">
        <p>{% trans 'Welcome,' %} <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.</p>
        
        {% block userlinks %}{% endblock %}
    </div>
    {% endif %}

    <div id="site-container">
        {% load inbox %}
        <a href="{% url messages_inbox %}" title="{% trans 'Read Messages' %}"><span class="unread count{% inbox_count %}">{% inbox_count %}</span> {% trans 'Inbox' %}</a> &middot;

        <a href="/" id="site" title="{% trans 'Go to Site' %}">{% trans "Cross Market" %}</a>
    </div>
</div>
